@use "sass:list";
@use "../../functions" as *;
@use "../../css-vars/utilities/functions" as *;

// Outputs measure (max width)

@mixin u-measure($value...) {
  $value: unpack($value);
  $important: null;
    // Check to see if the value it a token or a string
  // If token, then we need to add 'usa-measure' prefix, otherwise pass it straight in
  // Best way i can think to do that right now is to check and see if the value contains the word 'measure', if not it's a pre-established USWDS var
  $value: #{$value};
  @if not str-index($value, "measure") {
    $value: "measure-" + strip-period($value);
  }
  @if has-important($value) {
    $value: remove($value, "!important");
    @if list.length($value) == 1 {
      $value: de-list($value);
    }
    $important: " !important";
  }
  // max-width: get-uswds-value("measure", $value...) #{$important};
  max-width: cssVar($value);
}
