@use "sass:list";
@use "../../functions" as *;
@use "../../css-vars/utilities/functions" as *;

// Outputs min-height

@mixin u-minh($value...) {
  $value: unpack($value);
  $important: null;
    // Check to see if the value it a token or a string
  // If token, then we need to add 'usa-spacing' prefix, otherwise pass it straight in
  // Best way i can think to do that right now is to check and see if the value contains the word 'min-height', if not it's a pre-established USWDS var
  $value: #{$value};
  @if not str-index($value, "height") {
    $value: "spacing-" + strip-period($value);
  }
  @if has-important($value) {
    $value: remove($value, "!important");
    @if list.length($value) == 1 {
      $value: de-list($value);
    }
    $important: " !important";
  }
  // min-height: get-uswds-value("min-height", $value...) #{$important};
  min-height: cssVar($value);
}
