.border-1px,
.hover\:border-1px:hover {
    border: 1px solid
}

.border-y-1px {
    border-top: var(--usa-border-width-1px) solid;
    border-bottom: var(--usa-border-width-1px) solid;
}

.hover\:border-y-1px:hover {
    border-top: var(--usa-border-width-1px) solid;
    border-bottom: var(--usa-border-width-1px) solid;
}

.border-x-1px {
    border-left: var(--usa-border-width-1px) solid;
    border-right: var(--usa-border-width-1px) solid;
}

.hover\:border-x-1px:hover {
    border-left: var(--usa-border-width-1px) solid;
    border-right: var(--usa-border-width-1px) solid
}

.border-top-1px {
    border-top: var(--usa-border-width-1px) solid
}

.hover\:border-top-1px:hover {
    border-top: var(--usa-border-width-1px) solid
}

.border-right-1px {
    border-right: var(--usa-border-width-1px) solid
}

.hover\:border-right-1px:hover {
    border-right: var(--usa-border-width-1px) solid
}

.border-bottom-1px {
    border-bottom: var(--usa-border-width-1px) solid
}

.hover\:border-bottom-1px:hover {
    border-bottom: var(--usa-border-width-1px) solid
}

.border-left-1px {
    border-left: var(--usa-border-width-1px) solid
}

.hover\:border-left-1px:hover {
    border-left: var(--usa-border-width-1px) solid
}

.border-2px,
.hover\:border-2px:hover {
    border: 2px solid
}

.border-y-2px {
    border-top: var(--usa-border-width-2px) solid;
    border-bottom: var(--usa-border-width-2px) solid
}

.hover\:border-y-2px:hover {
    border-top: var(--usa-border-width-2px) solid;
    border-bottom: var(--usa-border-width-2px) solid
}

.border-x-2px {
    border-left: var(--usa-border-width-2px) solid;
    border-right: var(--usa-border-width-2px) solid
}

.hover\:border-x-2px:hover {
    border-left: var(--usa-border-width-2px) solid;
    border-right: var(--usa-border-width-2px) solid
}

.border-top-2px {
    border-top: var(--usa-border-width-2px) solid
}

.hover\:border-top-2px:hover {
    border-top: var(--usa-border-width-2px) solid
}

.border-right-2px {
    border-right: var(--usa-border-width-2px) solid
}

.hover\:border-right-2px:hover {
    border-right: var(--usa-border-width-2px) solid
}

.border-bottom-2px {
    border-bottom: var(--usa-border-width-2px) solid
}

.hover\:border-bottom-2px:hover {
    border-bottom: var(--usa-border-width-2px) solid
}

.border-left-2px {
    border-left: var(--usa-border-width-2px) solid
}

.hover\:border-left-2px:hover {
    border-left: var(--usa-border-width-2px) solid
}

.border-05,
.hover\:border-05:hover {
    border: .25rem solid
}

.border-y-05 {
    border-top: var(--usa-border-width-05) solid;
    border-bottom: var(--usa-border-width-05) solid
}

.hover\:border-y-05:hover {
    border-top: var(--usa-border-width-05) solid;
    border-bottom: var(--usa-border-width-05) solid
}

.border-x-05 {
    border-left: var(--usa-border-width-05) solid;
    border-right: var(--usa-border-width-05) solid
}

.hover\:border-x-05:hover {
    border-left: var(--usa-border-width-05) solid;
    border-right: var(--usa-border-width-05) solid
}

.border-top-05 {
    border-top: var(--usa-border-width-05) solid
}

.hover\:border-top-05:hover {
    border-top: var(--usa-border-width-05) solid
}

.border-right-05 {
    border-right: var(--usa-border-width-05) solid
}

.hover\:border-right-05:hover {
    border-right: var(--usa-border-width-05) solid
}

.border-bottom-05 {
    border-bottom: var(--usa-border-width-05) solid
}

.hover\:border-bottom-05:hover {
    border-bottom: var(--usa-border-width-05) solid
}

.border-left-05 {
    border-left: var(--usa-border-width-05) solid
}

.hover\:border-left-05:hover {
    border-left: var(--usa-border-width-05) solid
}

.border-1,
.hover\:border-1:hover {
    border: .5rem solid
}

.border-y-1 {
    border-top: var(--usa-border-width-1) solid;
    border-bottom: var(--usa-border-width-1) solid
}

.hover\:border-y-1:hover {
    border-top: var(--usa-border-width-1) solid;
    border-bottom: var(--usa-border-width-1) solid
}

.border-x-1 {
    border-left: var(--usa-border-width-1) solid;
    border-right: var(--usa-border-width-1) solid
}

.hover\:border-x-1:hover {
    border-left: var(--usa-border-width-1) solid;
    border-right: var(--usa-border-width-1) solid
}

.border-top-1 {
    border-top: var(--usa-border-width-1) solid
}

.hover\:border-top-1:hover {
    border-top: var(--usa-border-width-1) solid
}

.border-right-1 {
    border-right: var(--usa-border-width-1) solid
}

.hover\:border-right-1:hover {
    border-right: var(--usa-border-width-1) solid
}

.border-bottom-1 {
    border-bottom: var(--usa-border-width-1) solid
}

.hover\:border-bottom-1:hover {
    border-bottom: var(--usa-border-width-1) solid
}

.border-left-1 {
    border-left: var(--usa-border-width-1) solid
}

.hover\:border-left-1:hover {
    border-left: var(--usa-border-width-1) solid
}

.border-105,
.hover\:border-105:hover {
    border: .75rem solid
}

.border-y-105 {
    border-top: var(--usa-border-width-105) solid;
    border-bottom: var(--usa-border-width-105) solid
}

.hover\:border-y-105:hover {
    border-top: var(--usa-border-width-105) solid;
    border-bottom: var(--usa-border-width-105) solid
}

.border-x-105 {
    border-left: var(--usa-border-width-105) solid;
    border-right: var(--usa-border-width-105) solid
}

.hover\:border-x-105:hover {
    border-left: var(--usa-border-width-105) solid;
    border-right: var(--usa-border-width-105) solid
}

.border-top-105 {
    border-top: var(--usa-border-width-105) solid
}

.hover\:border-top-105:hover {
    border-top: var(--usa-border-width-105) solid
}

.border-right-105 {
    border-right: var(--usa-border-width-105) solid
}

.hover\:border-right-105:hover {
    border-right: var(--usa-border-width-105) solid
}

.border-bottom-105 {
    border-bottom: var(--usa-border-width-105) solid
}

.hover\:border-bottom-105:hover {
    border-bottom: var(--usa-border-width-105) solid
}

.border-left-105 {
    border-left: var(--usa-border-width-105) solid
}

.hover\:border-left-105:hover {
    border-left: var(--usa-border-width-105) solid
}

.border-2,
.hover\:border-2:hover {
    border: 1rem solid
}

.border-y-2 {
    border-top: var(--usa-border-width-2) solid;
    border-bottom: var(--usa-border-width-2) solid
}

.hover\:border-y-2:hover {
    border-top: var(--usa-border-width-2) solid;
    border-bottom: var(--usa-border-width-2) solid
}

.border-x-2 {
    border-left: var(--usa-border-width-2) solid;
    border-right: var(--usa-border-width-2) solid
}

.hover\:border-x-2:hover {
    border-left: var(--usa-border-width-2) solid;
    border-right: var(--usa-border-width-2) solid
}

.border-top-2 {
    border-top: var(--usa-border-width-2) solid
}

.hover\:border-top-2:hover {
    border-top: var(--usa-border-width-2) solid
}

.border-right-2 {
    border-right: var(--usa-border-width-2) solid
}

.hover\:border-right-2:hover {
    border-right: var(--usa-border-width-2) solid
}

.border-bottom-2 {
    border-bottom: var(--usa-border-width-2) solid
}

.hover\:border-bottom-2:hover {
    border-bottom: var(--usa-border-width-2) solid
}

.border-left-2 {
    border-left: var(--usa-border-width-2) solid
}

.hover\:border-left-2:hover {
    border-left: var(--usa-border-width-2) solid
}

.border-205,
.hover\:border-205:hover {
    border: 1.25rem solid
}

.border-y-205 {
    border-top: var(--usa-border-width-205) solid;
    border-bottom: var(--usa-border-width-205) solid
}

.hover\:border-y-205:hover {
    border-top: var(--usa-border-width-205) solid;
    border-bottom: var(--usa-border-width-205) solid
}

.border-x-205 {
    border-left: var(--usa-border-width-205) solid;
    border-right: var(--usa-border-width-205) solid
}

.hover\:border-x-205:hover {
    border-left: var(--usa-border-width-205) solid;
    border-right: var(--usa-border-width-205) solid
}

.border-top-205 {
    border-top: var(--usa-border-width-205) solid
}

.hover\:border-top-205:hover {
    border-top: var(--usa-border-width-205) solid
}

.border-right-205 {
    border-right: var(--usa-border-width-205) solid
}

.hover\:border-right-205:hover {
    border-right: var(--usa-border-width-205) solid
}

.border-bottom-205 {
    border-bottom: var(--usa-border-width-205) solid
}

.hover\:border-bottom-205:hover {
    border-bottom: var(--usa-border-width-205) solid
}

.border-left-205 {
    border-left: var(--usa-border-width-205) solid
}

.hover\:border-left-205:hover {
    border-left: var(--usa-border-width-205) solid
}

.border-3,
.hover\:border-3:hover {
    border: 1.5rem solid
}

.border-y-3 {
    border-top: var(--usa-border-width-3) solid;
    border-bottom: var(--usa-border-width-3) solid
}

.hover\:border-y-3:hover {
    border-top: var(--usa-border-width-3) solid;
    border-bottom: var(--usa-border-width-3) solid
}

.border-x-3 {
    border-left: var(--usa-border-width-3) solid;
    border-right: var(--usa-border-width-3) solid
}

.hover\:border-x-3:hover {
    border-left: var(--usa-border-width-3) solid;
    border-right: var(--usa-border-width-3) solid
}

.border-top-3 {
    border-top: var(--usa-border-width-3) solid
}

.hover\:border-top-3:hover {
    border-top: var(--usa-border-width-3) solid
}

.border-right-3 {
    border-right: var(--usa-border-width-3) solid
}

.hover\:border-right-3:hover {
    border-right: var(--usa-border-width-3) solid
}

.border-bottom-3 {
    border-bottom: var(--usa-border-width-3) solid
}

.hover\:border-bottom-3:hover {
    border-bottom: var(--usa-border-width-3) solid
}

.border-left-3 {
    border-left: var(--usa-border-width-3) solid
}

.hover\:border-left-3:hover {
    border-left: var(--usa-border-width-3) solid
}

.border-0,
.hover\:border-0:hover {
    border: 0 solid
}

.border-y-0 {
    border-top: var(--usa-border-width-0) solid;
    border-bottom: var(--usa-border-width-0) solid
}

.hover\:border-y-0:hover {
    border-top: var(--usa-border-width-0) solid;
    border-bottom: var(--usa-border-width-0) solid
}

.border-x-0 {
    border-left: var(--usa-border-width-0) solid;
    border-right: var(--usa-border-width-0) solid
}

.hover\:border-x-0:hover {
    border-left: var(--usa-border-width-0) solid;
    border-right: var(--usa-border-width-0) solid
}

.border-top-0 {
    border-top: var(--usa-border-width-0) solid
}

.hover\:border-top-0:hover {
    border-top: var(--usa-border-width-0) solid
}

.border-right-0 {
    border-right: var(--usa-border-width-0) solid
}

.hover\:border-right-0:hover {
    border-right: var(--usa-border-width-0) solid
}

.border-bottom-0 {
    border-bottom: var(--usa-border-width-0) solid
}

.hover\:border-bottom-0:hover {
    border-bottom: var(--usa-border-width-0) solid
}

.border-left-0 {
    border-left: var(--usa-border-width-0) solid
}

.hover\:border-left-0:hover {
    border-left: var(--usa-border-width-0) solid
}

.border,
.hover\:border:hover {
    border: var(--usa-border-width-sm) solid
}

.border-y {
    border-top: var(--usa-border-width-sm) solid;
    border-bottom: var(--usa-border-width-sm) solid
}

.hover\:border-y:hover {
    border-top: var(--usa-border-width-sm) solid;
    border-bottom: var(--usa-border-width-sm) solid
}

.border-x {
    border-left: var(--usa-border-width-sm) solid;
    border-right: var(--usa-border-width-sm) solid
}

.hover\:border-x:hover {
    border-left: var(--usa-border-width-sm) solid;
    border-right: var(--usa-border-width-sm) solid
}

.border-top {
    border-top: var(--usa-border-width-sm) solid
}

.hover\:border-top:hover {
    border-top: var(--usa-border-width-sm) solid
}

.border-right {
    border-right: var(--usa-border-width-sm) solid
}

.hover\:border-right:hover {
    border-right: var(--usa-border-width-sm) solid
}

.border-bottom {
    border-bottom: var(--usa-border-width-sm) solid
}

.hover\:border-bottom:hover {
    border-bottom: var(--usa-border-width-sm) solid
}

.border-left {
    border-left: var(--usa-border-width-sm) solid
}

.hover\:border-left:hover {
    border-left: var(--usa-border-width-sm) solid
}


.border-transparent,
.hover\:border-transparent:hover {
    border-color: var(--usa-transparent)
}

.border-black,
.hover\:border-black:hover {
    border-color: var(--usa-black)
}

.border-white,
.hover\:border-white:hover {
    border-color: var(--usa-white)
}

.border-red,
.hover\:border-red:hover {
    border-color: var(--usa-red)
}

.border-orange,
.hover\:border-orange:hover {
    border-color: var(--usa-orange)
}

.border-gold,
.hover\:border-gold:hover {
    border-color: var(--usa-gold)
}

.border-yellow,
.hover\:border-yellow:hover {
    border-color: var(--usa-yellow)
}

.border-green,
.hover\:border-green:hover {
    border-color: var(--usa-green)
}

.border-mint,
.hover\:border-mint:hover {
    border-color: var(--usa-mint)
}

.border-cyan,
.hover\:border-cyan:hover {
    border-color: var(--usa-cyan)
}

.border-blue,
.hover\:border-blue:hover {
    border-color: var(--usa-blue)
}

.border-indigo,
.hover\:border-indigo:hover {
    border-color: var(--usa-indigo)
}

.border-violet,
.hover\:border-violet:hover {
    border-color: var(--usa-violet)
}

.border-magenta,
.hover\:border-magenta:hover {
    border-color: var(--usa-magenta)
}

.border-gray-5,
.hover\:border-gray-5:hover {
    border-color: var(--usa-gray-5)
}

.border-gray-10,
.hover\:border-gray-10:hover {
    border-color: var(--usa-gray-10)
}

.border-gray-30,
.hover\:border-gray-30:hover {
    border-color: var(--usa-gray-30)
}

.border-gray-50,
.hover\:border-gray-50:hover {
    border-color: var(--usa-gray-50)
}

.border-gray-70,
.hover\:border-gray-70:hover {
    border-color: var(--usa-gray-70)
}

.border-gray-90,
.hover\:border-gray-90:hover {
    border-color: var(--usa-gray-90)
}

.border-base-lightest,
.hover\:border-base-lightest:hover {
    border-color: var(--usa-base-lightest)
}

.border-base-lighter,
.hover\:border-base-lighter:hover {
    border-color: var(--usa-base-lighter)
}

.border-base-light,
.hover\:border-base-light:hover {
    border-color: var(--usa-base-light)
}

.border-base,
.hover\:border-base:hover {
    border-color: var(--usa-base)
}

.border-base-dark,
.hover\:border-base-dark:hover {
    border-color: var(--usa-base-dark)
}

.border-base-darker,
.hover\:border-base-darker:hover {
    border-color: var(--usa-base-darker)
}

.border-base-darkest,
.hover\:border-base-darkest:hover {
    border-color: var(--usa-base-darkest)
}

.border-ink,
.hover\:border-ink:hover {
    border-color: var(--usa-ink)
}

.border-primary-lighter,
.hover\:border-primary-lighter:hover {
    border-color: var(--usa-primary-lighter)
}

.border-primary-light,
.hover\:border-primary-light:hover {
    border-color: var(--usa-primary-light)
}

.border-primary,
.hover\:border-primary:hover {
    border-color: var(--usa-primary)
}

.border-primary-vivid,
.hover\:border-primary-vivid:hover {
    border-color: var(--usa-primary-vivid)
}

.border-primary-dark,
.hover\:border-primary-dark:hover {
    border-color: var(--usa-primary-dark)
}

.border-primary-darker,
.hover\:border-primary-darker:hover {
    border-color: var(--usa-primary-darker)
}

.border-secondary-lighter,
.hover\:border-secondary-lighter:hover {
    border-color: var(--usa-secondary-lighter)
}

.border-secondary-light,
.hover\:border-secondary-light:hover {
    border-color: var(--usa-secondary-light)
}

.border-secondary,
.hover\:border-secondary:hover {
    border-color: var(--usa-secondary)
}

.border-secondary-vivid,
.hover\:border-secondary-vivid:hover {
    border-color: var(--usa-secondary-vivid)
}

.border-secondary-dark,
.hover\:border-secondary-dark:hover {
    border-color: var(--usa-secondary-dark)
}

.border-secondary-darker,
.hover\:border-secondary-darker:hover {
    border-color: var(--usa-secondary-darker)
}

.border-accent-warm-darker,
.hover\:border-accent-warm-darker:hover {
    border-color: var(--usa-accent-warm-darker)
}

.border-accent-warm-dark,
.hover\:border-accent-warm-dark:hover {
    border-color: var(--usa-accent-warm-dark)
}

.border-accent-warm,
.hover\:border-accent-warm:hover {
    border-color: var(--usa-accent-warm)
}

.border-accent-warm-light,
.hover\:border-accent-warm-light:hover {
    border-color: var(--usa-accent-warm-light)
}

.border-accent-warm-lighter,
.hover\:border-accent-warm-lighter:hover {
    border-color: var(--usa-accent-warm-lighter)
}

.border-accent-cool-darker,
.hover\:border-accent-cool-darker:hover {
    border-color: var(--usa-accent-cool-darker)
}

.border-accent-cool-dark,
.hover\:border-accent-cool-dark:hover {
    border-color: var(--usa-accent-cool-dark)
}

.border-accent-cool,
.hover\:border-accent-cool:hover {
    border-color: var(--usa-accent-cool)
}

.border-accent-cool-light,
.hover\:border-accent-cool-light:hover {
    border-color: var(--usa-accent-cool-light)
}

.border-accent-cool-lighter,
.hover\:border-accent-cool-lighter:hover {
    border-color: var(--usa-accent-cool-lighter)
}

.border-error-lighter,
.hover\:border-error-lighter:hover {
    border-color: var(--usa-error-lighter)
}

.border-error-light,
.hover\:border-error-light:hover {
    border-color: var(--usa-error-light)
}

.border-error,
.hover\:border-error:hover {
    border-color: var(--usa-error)
}

.border-error-dark,
.hover\:border-error-dark:hover {
    border-color: var(--usa-error-dark)
}

.border-error-darker,
.hover\:border-error-darker:hover {
    border-color: var(--usa-error-darker)
}


.border-theme-lighter,
.hover\:border-theme-lighter:hover {
    border-color: var(--usa-border-color-lighter)
}

.border-theme-light,
.hover\:border-theme-light:hover {
    border-color: var(--usa-border-color-light)
}

.border-theme,
.hover\:border-theme:hover {
    border-color: var(--usa-border-color-base);
}

.border-theme-dark,
.hover\:border-theme-dark:hover {
    border-color: var(--usa-border-color-dark)
}

.border-theme-darker,
.hover\:border-theme-darker:hover {
    border-color: var(--usa-border-color-darker)
}

.border-warning-lighter,
.hover\:border-warning-lighter:hover {
    border-color: var(--usa-warning-lighter)
}

.border-warning-light,
.hover\:border-warning-light:hover {
    border-color: var(--usa-warning-light)
}

.border-warning,
.hover\:border-warning:hover {
    border-color: var(--usa-warning)
}

.border-warning-dark,
.hover\:border-warning-dark:hover {
    border-color: var(--usa-warning-dark)
}

.border-warning-darker,
.hover\:border-warning-darker:hover {
    border-color: var(--usa-warning-darker)
}

.border-success-lighter,
.hover\:border-success-lighter:hover {
    border-color: var(--usa-success-lighter)
}

.border-success-light,
.hover\:border-success-light:hover {
    border-color: var(--usa-success-light)
}

.border-success,
.hover\:border-success:hover {
    border-color: var(--usa-success)
}

.border-success-dark,
.hover\:border-success-dark:hover {
    border-color: var(--usa-success-dark)
}

.border-success-darker,
.hover\:border-success-darker:hover {
    border-color: var(--usa-success-darker)
}

.border-info-lighter,
.hover\:border-info-lighter:hover {
    border-color: var(--usa-info-lighter)
}

.border-info-light,
.hover\:border-info-light:hover {
    border-color: var(--usa-info-light)
}

.border-info,
.hover\:border-info:hover {
    border-color: var(--usa-info)
}

.border-info-dark,
.hover\:border-info-dark:hover {
    border-color: var(--usa-info-dark)
}

.border-info-darker,
.hover\:border-info-darker:hover {
    border-color: var(--usa-info-darker)
}

.border-disabled-lighter,
.hover\:border-disabled-lighter:hover {
    border-color: var(--usa-disabled-lighter)
}

.border-disabled-light,
.hover\:border-disabled-light:hover {
    border-color: var(--usa-disabled-light)
}

.border-disabled,
.hover\:border-disabled:hover {
    border-color: var(--usa-disabled)
}

.border-disabled-dark,
.hover\:border-disabled-dark:hover {
    border-color: var(--usa-disabled-dark)
}

.border-disabled-darker,
.hover\:border-disabled-darker:hover {
    border-color: var(--usa-disabled-darker)
}

.border-emergency,
.hover\:border-emergency:hover {
    border-color: var(--usa-emergency)
}

.border-emergency-dark,
.hover\:border-emergency-dark:hover {
    border-color: var(--usa-emergency-dark)
}


.border-dashed {
    border-style: dashed;
}

.border-dotted {
    border-style: dotted;
}

.border-solid {
    border-style: solid;
}



.border-width-sm {
    border-width: var(--usa-border-width-sm);
}

.border-y-width-sm {
    border-top-width: var(--usa-border-width-sm);
    border-bottom-width: var(--usa-border-width-sm);
}

.border-x-width-sm {
    border-left-width: var(--usa-border-width-sm);
    border-right-width: var(--usa-border-width-sm);
}

.border-top-width-sm {
    border-top-width: var(--usa-border-width-sm);
}

.border-right-width-sm {
    border-right-width: var(--usa-border-width-sm);
}

.border-bottom-width-sm {
    border-bottom-width: var(--usa-border-width-sm);
}

.border-left-width-sm {
    border-left-width: var(--usa-border-width-sm);
}

.border-width-md {
    border-width: var(--usa-border-width-md);
}

.border-y-width-md {
    border-top-width: var(--usa-border-width-md);
    border-bottom-width: var(--usa-border-width-md);
}

.border-x-width-md {
    border-left-width: var(--usa-border-width-md);
    border-right-width: var(--usa-border-width-md);
}

.border-top-width-md {
    border-top-width: var(--usa-border-width-md);
}

.border-right-width-md {
    border-right-width: var(--usa-border-width-md);
}

.border-bottom-width-md {
    border-bottom-width: var(--usa-border-width-md);
}

.border-left-width-md {
    border-left-width: var(--usa-border-width-md);
}


.border-width-lg {
    border-width: var(--usa-border-width-lg);
}

.border-y-width-lg {
    border-top-width: var(--usa-border-width-lg);
    border-bottom-width: var(--usa-border-width-lg);
}

.border-x-width-lg {
    border-left-width: var(--usa-border-width-lg);
    border-right-width: var(--usa-border-width-lg);
}

.border-top-width-lg {
    border-top-width: var(--usa-border-width-lg);
}

.border-right-width-lg {
    border-right-width: var(--usa-border-width-lg);
}

.border-bottom-width-lg {
    border-bottom-width: var(--usa-border-width-lg);
}

.border-left-width-lg {
    border-left-width: var(--usa-border-width-lg);
}


////

.border-width-1px {
    border-width: var(--usa-border-width-1px);
}

.border-y-width-1px {
    border-top-width: var(--usa-border-width-1px);
    border-bottom-width: var(--usa-border-width-1px);
}

.border-x-width-1px {
    border-left-width: var(--usa-border-width-1px);
    border-right-width: var(--usa-border-width-1px);
}

.border-top-width-1px {
    border-top-width: var(--usa-border-width-1px);
}

.border-right-width-1px {
    border-right-width: var(--usa-border-width-1px);
}

.border-bottom-width-1px {
    border-bottom-width: var(--usa-border-width-1px);
}

.border-left-width-1px {
    border-left-width: var(--usa-border-width-1px);
}

.border-width-2px {
    border-width: var(--usa-border-width-2px);
}

.border-y-width-2px {
    border-top-width: var(--usa-border-width-2px);
    border-bottom-width: var(--usa-border-width-2px);
}

.border-x-width-2px {
    border-left-width: var(--usa-border-width-2px);
    border-right-width: var(--usa-border-width-2px);
}

.border-top-width-2px {
    border-top-width: var(--usa-border-width-2px);
}

.border-right-width-2px {
    border-right-width: var(--usa-border-width-2px);
}

.border-bottom-width-2px {
    border-bottom-width: var(--usa-border-width-2px);
}

.border-left-width-2px {
    border-left-width: var(--usa-border-width-2px);
}

.border-width-05 {
    border-width: var(--usa-border-width-05);
}

.border-y-width-05 {
    border-top-width: var(--usa-border-width-05);
    border-bottom-width: var(--usa-border-width-05);
}

.border-x-width-05 {
    border-left-width: var(--usa-border-width-05);
    border-right-width: var(--usa-border-width-05);
}

.border-top-width-05 {
    border-top-width: var(--usa-border-width-05);
}

.border-right-width-05 {
    border-right-width: var(--usa-border-width-05);
}

.border-bottom-width-05 {
    border-bottom-width: var(--usa-border-width-05);
}

.border-left-width-05 {
    border-left-width: var(--usa-border-width-05);
}

.border-width-1 {
    border-width: var(--usa-border-width-1);
}

.border-y-width-1 {
    border-top-width: var(--usa-border-width-1);
    border-bottom-width: var(--usa-border-width-1);
}

.border-x-width-1 {
    border-left-width: var(--usa-border-width-1);
    border-right-width: var(--usa-border-width-1);
}

.border-top-width-1 {
    border-top-width: var(--usa-border-width-1);
}

.border-right-width-1 {
    border-right-width: var(--usa-border-width-1);
}

.border-bottom-width-1 {
    border-bottom-width: var(--usa-border-width-1);
}

.border-left-width-1 {
    border-left-width: var(--usa-border-width-1);
}

.border-width-105 {
    border-width: var(--usa-border-width-105);
}

.border-y-width-105 {
    border-top-width: var(--usa-border-width-105);
    border-bottom-width: var(--usa-border-width-105);
}

.border-x-width-105 {
    border-left-width: var(--usa-border-width-105);
    border-right-width: var(--usa-border-width-105);
}

.border-top-width-105 {
    border-top-width: var(--usa-border-width-105);
}

.border-right-width-105 {
    border-right-width: var(--usa-border-width-105);
}

.border-bottom-width-105 {
    border-bottom-width: var(--usa-border-width-105);
}

.border-left-width-105 {
    border-left-width: var(--usa-border-width-105);
}

.border-width-2 {
    border-width: var(--usa-border-width-2);
}

.border-y-width-2 {
    border-top-width: var(--usa-border-width-2);
    border-bottom-width: var(--usa-border-width-2);
}

.border-x-width-2 {
    border-left-width: var(--usa-border-width-2);
    border-right-width: var(--usa-border-width-2);
}

.border-top-width-2 {
    border-top-width: var(--usa-border-width-2);
}

.border-right-width-2 {
    border-right-width: var(--usa-border-width-2);
}

.border-bottom-width-2 {
    border-bottom-width: var(--usa-border-width-2);
}

.border-left-width-2 {
    border-left-width: var(--usa-border-width-2);
}

.border-width-205 {
    border-width: var(--usa-border-width-205);
}

.border-y-width-205 {
    border-top-width: var(--usa-border-width-205);
    border-bottom-width: var(--usa-border-width-205);
}

.border-x-width-205 {
    border-left-width: var(--usa-border-width-205);
    border-right-width: var(--usa-border-width-205);
}

.border-top-width-205 {
    border-top-width: var(--usa-border-width-205);
}

.border-right-width-205 {
    border-right-width: var(--usa-border-width-205);
}

.border-bottom-width-205 {
    border-bottom-width: var(--usa-border-width-205);
}

.border-left-width-205 {
    border-left-width: var(--usa-border-width-205);
}

.border-width-3 {
    border-width: var(--usa-border-width-3);
}

.border-y-width-3 {
    border-top-width: var(--usa-border-width-3);
    border-bottom-width: var(--usa-border-width-3);
}

.border-x-width-3 {
    border-left-width: var(--usa-border-width-3);
    border-right-width: var(--usa-border-width-3);
}

.border-top-width-3 {
    border-top-width: var(--usa-border-width-3);
}

.border-right-width-3 {
    border-right-width: var(--usa-border-width-3);
}

.border-bottom-width-3 {
    border-bottom-width: var(--usa-border-width-3);
}

.border-left-width-3 {
    border-left-width: var(--usa-border-width-3);
}

.border-width-0 {
    border-width: var(--usa-border-width-0);
}

.border-y-width-0 {
    border-top-width: var(--usa-border-width-0);
    border-bottom-width: var(--usa-border-width-0);
}

.border-x-width-0 {
    border-left-width: var(--usa-border-width-0);
    border-right-width: var(--usa-border-width-0);
}

.border-top-width-0 {
    border-top-width: var(--usa-border-width-0);
}

.border-right-width-0 {
    border-right-width: var(--usa-border-width-0);
}

.border-bottom-width-0 {
    border-bottom-width: var(--usa-border-width-0);
}

.border-left-width-0 {
    border-left-width: var(--usa-border-width-0);
}


.radius-0 {
    border-radius: var(--usa-border-radius-0)
}

.radius-top-0 {
    border-top-left-radius: var(--usa-spacing-0);
    border-top-right-radius: var(--usa-spacing-0)
}

.radius-right-0 {
    border-top-right-radius: var(--usa-spacing-0);
    border-bottom-right-radius: var(--usa-spacing-0)
}

.radius-bottom-0 {
    border-bottom-left-radius: var(--usa-spacing-0);
    border-bottom-right-radius: var(--usa-spacing-0)
}

.radius-left-0 {
    border-top-left-radius: var(--usa-spacing-0);
    border-bottom-left-radius: var(--usa-spacing-0)
}

.radius-sm {
    border-radius: var(--usa-border-radius-sm)
}

.radius-top-sm {
    border-top-left-radius: var(--usa-border-radius-sm);
    border-top-right-radius: var(--usa-border-radius-sm)
}

.radius-right-sm {
    border-top-right-radius: var(--usa-border-radius-sm);
    border-bottom-right-radius: var(--usa-border-radius-sm)
}

.radius-bottom-sm {
    border-bottom-left-radius: var(--usa-border-radius-sm);
    border-bottom-right-radius: var(--usa-border-radius-sm)
}

.radius-left-sm {
    border-top-left-radius: var(--usa-border-radius-sm);
    border-bottom-left-radius: var(--usa-border-radius-sm)
}

.radius-md {
    border-radius: var(--usa-border-radius-md)
}

.radius-top-md {
    border-top-left-radius: var(--usa-border-radius-md);
    border-top-right-radius: var(--usa-border-radius-md)
}

.radius-right-md {
    border-top-right-radius: var(--usa-border-radius-md);
    border-bottom-right-radius: var(--usa-border-radius-md)
}

.radius-bottom-md {
    border-bottom-left-radius: var(--usa-border-radius-md);
    border-bottom-right-radius: var(--usa-border-radius-md)
}

.radius-left-md {
    border-top-left-radius: var(--usa-border-radius-md);
    border-bottom-left-radius: var(--usa-border-radius-md)
}

.radius-lg {
    border-radius: var(--usa-border-radius-lg)
}

.radius-top-lg {
    border-top-left-radius: var(--usa-border-radius-lg);
    border-top-right-radius: var(--usa-border-radius-lg)
}

.radius-right-lg {
    border-top-right-radius: var(--usa-border-radius-lg);
    border-bottom-right-radius: var(--usa-border-radius-lg)
}

.radius-bottom-lg {
    border-bottom-left-radius: var(--usa-border-radius-lg);
    border-bottom-right-radius: var(--usa-border-radius-lg)
}

.radius-left-lg {
    border-top-left-radius: var(--usa-border-radius-lg);
    border-bottom-left-radius: var(--usa-border-radius-lg)
}

.radius-pill {
    border-radius: var(--usa-border-radius-pill)
}

.radius-top-pill {
    border-top-left-radius: var(--usa-border-radius-pill);
    border-top-right-radius: var(--usa-border-radius-pill)
}

.radius-right-pill {
    border-top-right-radius: var(--usa-border-radius-pill);
    border-bottom-right-radius: var(--usa-border-radius-pill)
}

.radius-bottom-pill {
    border-bottom-left-radius: var(--usa-border-radius-pill);
    border-bottom-right-radius: var(--usa-border-radius-pill)
}

.radius-left-pill {
    border-top-left-radius: var(--usa-border-radius-pill);
    border-bottom-left-radius: var(--usa-border-radius-pill)
}