
.display-block {
    display: block
}

.display-flex {
    display: flex
}

.display-none {
    display: none
}

.display-inline {
    display: inline
}

.display-inline-block {
    display: inline-block
}

.display-inline-flex {
    display: inline-flex
}

.display-table {
    display: table
}

.display-table-cell {
    display: table-cell
}

.display-table-row {
    display: table-row
}


.position-absolute {
    position: absolute
}

.position-fixed {
    position: fixed
}

.position-relative {
    position: relative
}

.position-static {
    position: static
}

.position-sticky {
    position: sticky
}


.clearfix:after {
    content: "";
    display: block;
    clear: both
}


.cursor-auto {
    cursor: auto
}

.cursor-default {
    cursor: default
}

.cursor-pointer {
    cursor: pointer
}

.cursor-wait {
    cursor: wait
}

.cursor-move {
    cursor: move
}

.cursor-not-allowed {
    cursor: not-allowed
}


.flex-1 {
    flex: 1 1 0%
}

.flex-2 {
    flex: 2 1 0%
}

.flex-3 {
    flex: 3 1 0%
}

.flex-4 {
    flex: 4 1 0%
}

.flex-5 {
    flex: 5 1 0%
}

.flex-6 {
    flex: 6 1 0%
}

.flex-7 {
    flex: 7 1 0%
}

.flex-8 {
    flex: 8 1 0%
}

.flex-9 {
    flex: 9 1 0%
}

.flex-10 {
    flex: 10 1 0%
}

.flex-11 {
    flex: 11 1 0%
}

.flex-12 {
    flex: 12 1 0%
}

.flex-fill {
    flex: 1 1 0%
}

.flex-auto {
    flex: 0 1 auto
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-no-wrap {
    flex-wrap: nowrap;
}

.float-left {
    float: left;
}

.float-none {
    float: none;
}

.float-right {
    float: right;
}

@media all and (min-width: 40em) {

    .tablet\:position-absolute {
        position: absolute
    }
    
    .tablet\:position-fixed {
        position: fixed
    }
    
    .tablet\:position-relative {
        position: relative
    }
    
    .tablet\:position-static {
        position: static
    }
    
    .tablet\:position-sticky {
        position: sticky
    }
    
    .tablet\:flex-row {
        flex-direction: row;
    }

    .tablet\:flex-column {
        flex-direction: column;
    }

    .tablet\:flex-justify-center {
        justify-content: center
    }

    .tablet\:flex-justify-start {
        justify-content: flex-start
    }

    .tablet\:flex-justify-end {
        justify-content: flex-end
    }

    .tablet\:flex-justify {
        justify-content: space-between
    }

    .tablet\:flex-align-center {
        align-items: center
    }

    .tablet\:display-inline {
        display: inline
    }

    .tablet\:display-none {
        display: none;
    }

    .tablet\:display-block {
        display: block;
    }

    .tablet\:display-inline-block {
        display: inline-block;
    }

    .tablet\:display-table {
        display: table;
    }

    .tablet\:display-table-cell {
        display: table-cell;
    }

    .tablet\:display-table-row {
        display: table-row;
    }

    .tablet\:display-flex {
        display: flex;
    }

    .tablet\:display-inline-flex {
        display: inline-flex;
    }

    

}


@media all and (min-width: 64em) {

    .desktop\:position-absolute {
        position: absolute
    }
    
    .desktop\:position-fixed {
        position: fixed
    }
    
    .desktop\:position-relative {
        position: relative
    }
    
    .desktop\:position-static {
        position: static
    }
    
    .desktop\:position-sticky {
        position: sticky
    }

    .desktop\:flex-row {
        flex-direction:row;
    }

    .desktop\:flex-column {
        flex-direction:column;
    }

    .desktop\:flex-justify-center {
        justify-content: center
    }

    .desktop\:flex-justify-start {
        justify-content: flex-start
    }

    .desktop\:flex-justify-end {
        justify-content: flex-end
    }

    .desktop\:flex-justify {
        justify-content: space-between
    }

    .desktop\:display-block {
        display: block
    }

    .desktop\:display-flex {
        display: flex
    }

    .desktop\:display-none {
        display: none
    }

    .desktop\:display-inline {
        display: inline
    }

    .desktop\:display-inline-block {
        display: inline-block
    }

    .desktop\:display-inline-flex {
        display: inline-flex
    }

    .desktop\:display-table {
        display: table
    }

    .desktop\:display-table-cell {
        display: table-cell
    }

    .desktop\:display-table-row {
        display: table-row
    }
}