.padding-1px {
    padding: var(--usa-spacing-1px)
}

.padding-y-1px {
    padding-top: var(--usa-spacing-1px);
    padding-bottom: var(--usa-spacing-1px)
}

.padding-x-1px {
    padding-left: var(--usa-spacing-1px);
    padding-right: var(--usa-spacing-1px)
}

.padding-top-1px {
    padding-top: var(--usa-spacing-1px)
}

.padding-right-1px {
    padding-right: var(--usa-spacing-1px)
}

.padding-bottom-1px {
    padding-bottom: var(--usa-spacing-1px)
}

.padding-left-1px {
    padding-left: var(--usa-spacing-1px)
}

.padding-2px {
    padding: var(--usa-spacing-2px)
}

.padding-y-2px {
    padding-top: var(--usa-spacing-2px);
    padding-bottom: var(--usa-spacing-2px)
}

.padding-x-2px {
    padding-left: var(--usa-spacing-2px);
    padding-right: var(--usa-spacing-2px)
}

.padding-top-2px {
    padding-top: var(--usa-spacing-2px)
}

.padding-right-2px {
    padding-right: var(--usa-spacing-2px)
}

.padding-bottom-2px {
    padding-bottom: var(--usa-spacing-2px)
}

.padding-left-2px {
    padding-left: var(--usa-spacing-2px)
}

.padding-05 {
    padding: var(--usa-spacing-05)
}

.padding-y-05 {
    padding-top: var(--usa-spacing-05);
    padding-bottom: var(--usa-spacing-05)
}

.padding-x-05 {
    padding-left: var(--usa-spacing-05);
    padding-right: var(--usa-spacing-05)
}

.padding-top-05 {
    padding-top: var(--usa-spacing-05)
}

.padding-right-05 {
    padding-right: var(--usa-spacing-05)
}

.padding-bottom-05 {
    padding-bottom: var(--usa-spacing-05)
}

.padding-left-05 {
    padding-left: var(--usa-spacing-05)
}

.padding-1 {
    padding: var(--usa-spacing-1)
}

.padding-y-1 {
    padding-top: var(--usa-spacing-1);
    padding-bottom: var(--usa-spacing-1)
}

.padding-x-1 {
    padding-left: var(--usa-spacing-1);
    padding-right: var(--usa-spacing-1)
}

.padding-top-1 {
    padding-top: var(--usa-spacing-1)
}

.padding-right-1 {
    padding-right: var(--usa-spacing-1)
}

.padding-bottom-1 {
    padding-bottom: var(--usa-spacing-1)
}

.padding-left-1 {
    padding-left: var(--usa-spacing-1)
}

.padding-105 {
    padding: var(--usa-spacing-105)
}

.padding-y-105 {
    padding-top: var(--usa-spacing-105);
    padding-bottom: var(--usa-spacing-105)
}

.padding-x-105 {
    padding-left: var(--usa-spacing-105);
    padding-right: var(--usa-spacing-105)
}

.padding-top-105 {
    padding-top: var(--usa-spacing-105)
}

.padding-right-105 {
    padding-right: var(--usa-spacing-105)
}

.padding-bottom-105 {
    padding-bottom: var(--usa-spacing-105)
}

.padding-left-105 {
    padding-left: var(--usa-spacing-105)
}

.padding-2 {
    padding: var(--usa-spacing-2)
}

.padding-y-2 {
    padding-top: var(--usa-spacing-2);
    padding-bottom: var(--usa-spacing-2)
}

.padding-x-2 {
    padding-left: var(--usa-spacing-2);
    padding-right: var(--usa-spacing-2)
}

.padding-top-2 {
    padding-top: var(--usa-spacing-2)
}

.padding-right-2 {
    padding-right: var(--usa-spacing-2)
}

.padding-bottom-2 {
    padding-bottom: var(--usa-spacing-2)
}

.padding-left-2 {
    padding-left: var(--usa-spacing-2)
}

.padding-205 {
    padding: var(--usa-spacing-205)
}

.padding-y-205 {
    padding-top: var(--usa-spacing-205);
    padding-bottom: var(--usa-spacing-205)
}

.padding-x-205 {
    padding-left: var(--usa-spacing-205);
    padding-right: var(--usa-spacing-205)
}

.padding-top-205 {
    padding-top: var(--usa-spacing-205)
}

.padding-right-205 {
    padding-right: var(--usa-spacing-205)
}

.padding-bottom-205 {
    padding-bottom: var(--usa-spacing-205)
}

.padding-left-205 {
    padding-left: var(--usa-spacing-205)
}

.padding-3 {
    padding: var(--usa-spacing-3)
}

.padding-y-3 {
    padding-top: var(--usa-spacing-3);
    padding-bottom: var(--usa-spacing-3)
}

.padding-x-3 {
    padding-left: var(--usa-spacing-3);
    padding-right: var(--usa-spacing-3)
}

.padding-top-3 {
    padding-top: var(--usa-spacing-3)
}

.padding-right-3 {
    padding-right: var(--usa-spacing-3)
}

.padding-bottom-3 {
    padding-bottom: var(--usa-spacing-3)
}

.padding-left-3 {
    padding-left: var(--usa-spacing-3)
}

.padding-4 {
    padding: var(--usa-spacing-4)
}

.padding-y-4 {
    padding-top: var(--usa-spacing-4);
    padding-bottom: var(--usa-spacing-4)
}

.padding-x-4 {
    padding-left: var(--usa-spacing-4);
    padding-right: var(--usa-spacing-4)
}

.padding-top-4 {
    padding-top: var(--usa-spacing-4)
}

.padding-right-4 {
    padding-right: var(--usa-spacing-4)
}

.padding-bottom-4 {
    padding-bottom: var(--usa-spacing-4)
}

.padding-left-4 {
    padding-left: var(--usa-spacing-4)
}

.padding-5 {
    padding: var(--usa-spacing-5)
}

.padding-y-5 {
    padding-top: var(--usa-spacing-5);
    padding-bottom: var(--usa-spacing-5)
}

.padding-x-5 {
    padding-left: var(--usa-spacing-5);
    padding-right: var(--usa-spacing-5)
}

.padding-top-5 {
    padding-top: var(--usa-spacing-5)
}

.padding-right-5 {
    padding-right: var(--usa-spacing-5)
}

.padding-bottom-5 {
    padding-bottom: var(--usa-spacing-5)
}

.padding-left-5 {
    padding-left: var(--usa-spacing-5)
}

.padding-6 {
    padding: var(--usa-spacing-6)
}

.padding-y-6 {
    padding-top: var(--usa-spacing-6);
    padding-bottom: var(--usa-spacing-6)
}

.padding-x-6 {
    padding-left: var(--usa-spacing-6);
    padding-right: var(--usa-spacing-6)
}

.padding-top-6 {
    padding-top: var(--usa-spacing-6)
}

.padding-right-6 {
    padding-right: var(--usa-spacing-6)
}

.padding-bottom-6 {
    padding-bottom: var(--usa-spacing-6)
}

.padding-left-6 {
    padding-left: var(--usa-spacing-6)
}

.padding-7 {
    padding: var(--usa-spacing-7)
}

.padding-y-7 {
    padding-top: var(--usa-spacing-7);
    padding-bottom: var(--usa-spacing-7)
}

.padding-x-7 {
    padding-left: var(--usa-spacing-7);
    padding-right: var(--usa-spacing-7)
}

.padding-top-7 {
    padding-top: var(--usa-spacing-7)
}

.padding-right-7 {
    padding-right: var(--usa-spacing-7)
}

.padding-bottom-7 {
    padding-bottom: var(--usa-spacing-7)
}

.padding-left-7 {
    padding-left: var(--usa-spacing-7)
}

.padding-8 {
    padding: var(--usa-spacing-8)
}

.padding-y-8 {
    padding-top: var(--usa-spacing-8);
    padding-bottom: var(--usa-spacing-8)
}

.padding-x-8 {
    padding-left: var(--usa-spacing-8);
    padding-right: var(--usa-spacing-8)
}

.padding-top-8 {
    padding-top: var(--usa-spacing-8)
}

.padding-right-8 {
    padding-right: var(--usa-spacing-8)
}

.padding-bottom-8 {
    padding-bottom: var(--usa-spacing-8)
}

.padding-left-8 {
    padding-left: var(--usa-spacing-8)
}

.padding-9 {
    padding: var(--usa-spacing-9)
}

.padding-y-9 {
    padding-top: var(--usa-spacing-9);
    padding-bottom: var(--usa-spacing-9)
}

.padding-x-9 {
    padding-left: var(--usa-spacing-9);
    padding-right: var(--usa-spacing-9)
}

.padding-top-9 {
    padding-top: var(--usa-spacing-9)
}

.padding-right-9 {
    padding-right: var(--usa-spacing-9)
}

.padding-bottom-9 {
    padding-bottom: var(--usa-spacing-9)
}

.padding-left-9 {
    padding-left: var(--usa-spacing-9)
}

.padding-10 {
    padding: var(--usa-spacing-10)
}

.padding-y-10 {
    padding-top: var(--usa-spacing-10);
    padding-bottom: var(--usa-spacing-10)
}

.padding-x-10 {
    padding-left: var(--usa-spacing-10);
    padding-right: var(--usa-spacing-10)
}

.padding-top-10 {
    padding-top: var(--usa-spacing-10)
}

.padding-right-10 {
    padding-right: var(--usa-spacing-10)
}

.padding-bottom-10 {
    padding-bottom: var(--usa-spacing-10)
}

.padding-left-10 {
    padding-left: var(--usa-spacing-10)
}

.padding-15 {
    padding: var(--usa-spacing-15)
}

.padding-y-15 {
    padding-top: var(--usa-spacing-15);
    padding-bottom: var(--usa-spacing-15)
}

.padding-x-15 {
    padding-left: var(--usa-spacing-15);
    padding-right: var(--usa-spacing-15)
}

.padding-top-15 {
    padding-top: var(--usa-spacing-15)
}

.padding-right-15 {
    padding-right: var(--usa-spacing-15)
}

.padding-bottom-15 {
    padding-bottom: var(--usa-spacing-15)
}

.padding-left-15 {
    padding-left: var(--usa-spacing-15)
}

.padding-0 {
    padding: var(--usa-spacing-0)
}

.padding-y-0 {
    padding-top: var(--usa-spacing-0);
    padding-bottom: var(--usa-spacing-0)
}

.padding-x-0 {
    padding-left: var(--usa-spacing-0);
    padding-right: var(--usa-spacing-0)
}

.padding-top-0 {
    padding-top: var(--usa-spacing-0)
}

.padding-right-0 {
    padding-right: var(--usa-spacing-0)
}

.padding-bottom-0 {
    padding-bottom: var(--usa-spacing-0)
}

.padding-left-0 {
    padding-left: var(--usa-spacing-0)
}

@media all and (min-width: 30em) {

    .mobile-lg\:padding-1px {
        padding: var(--usa-spacing-1px)
    }

    .mobile-lg\:padding-y-1px {
        padding-top: var(--usa-spacing-1px);
        padding-bottom: var(--usa-spacing-1px)
    }

    .mobile-lg\:padding-x-1px {
        padding-left: var(--usa-spacing-1px);
        padding-right: var(--usa-spacing-1px)
    }

    .mobile-lg\:padding-top-1px {
        padding-top: var(--usa-spacing-1px)
    }

    .mobile-lg\:padding-right-1px {
        padding-right: var(--usa-spacing-1px)
    }

    .mobile-lg\:padding-bottom-1px {
        padding-bottom: var(--usa-spacing-1px)
    }

    .mobile-lg\:padding-left-1px {
        padding-left: var(--usa-spacing-1px)
    }

    .mobile-lg\:padding-2px {
        padding: var(--usa-spacing-2px)
    }

    .mobile-lg\:padding-y-2px {
        padding-top: var(--usa-spacing-2px);
        padding-bottom: var(--usa-spacing-2px)
    }

    .mobile-lg\:padding-x-2px {
        padding-left: var(--usa-spacing-2px);
        padding-right: var(--usa-spacing-2px)
    }

    .mobile-lg\:padding-top-2px {
        padding-top: var(--usa-spacing-2px)
    }

    .mobile-lg\:padding-right-2px {
        padding-right: var(--usa-spacing-2px)
    }

    .mobile-lg\:padding-bottom-2px {
        padding-bottom: var(--usa-spacing-2px)
    }

    .mobile-lg\:padding-left-2px {
        padding-left: var(--usa-spacing-2px)
    }

    .mobile-lg\:padding-05 {
        padding: var(--usa-spacing-05)
    }

    .mobile-lg\:padding-y-05 {
        padding-top: var(--usa-spacing-05);
        padding-bottom: var(--usa-spacing-05)
    }

    .mobile-lg\:padding-x-05 {
        padding-left: var(--usa-spacing-05);
        padding-right: var(--usa-spacing-05)
    }

    .mobile-lg\:padding-top-05 {
        padding-top: var(--usa-spacing-05)
    }

    .mobile-lg\:padding-right-05 {
        padding-right: var(--usa-spacing-05)
    }

    .mobile-lg\:padding-bottom-05 {
        padding-bottom: var(--usa-spacing-05)
    }

    .mobile-lg\:padding-left-05 {
        padding-left: var(--usa-spacing-05)
    }

    .mobile-lg\:padding-1 {
        padding: var(--usa-spacing-1)
    }

    .mobile-lg\:padding-y-1 {
        padding-top: var(--usa-spacing-1);
        padding-bottom: var(--usa-spacing-1)
    }

    .mobile-lg\:padding-x-1 {
        padding-left: var(--usa-spacing-1);
        padding-right: var(--usa-spacing-1)
    }

    .mobile-lg\:padding-top-1 {
        padding-top: var(--usa-spacing-1)
    }

    .mobile-lg\:padding-right-1 {
        padding-right: var(--usa-spacing-1)
    }

    .mobile-lg\:padding-bottom-1 {
        padding-bottom: var(--usa-spacing-1)
    }

    .mobile-lg\:padding-left-1 {
        padding-left: var(--usa-spacing-1)
    }

    .mobile-lg\:padding-105 {
        padding: var(--usa-spacing-105)
    }

    .mobile-lg\:padding-y-105 {
        padding-top: var(--usa-spacing-105);
        padding-bottom: var(--usa-spacing-105)
    }

    .mobile-lg\:padding-x-105 {
        padding-left: var(--usa-spacing-105);
        padding-right: var(--usa-spacing-105)
    }

    .mobile-lg\:padding-top-105 {
        padding-top: var(--usa-spacing-105)
    }

    .mobile-lg\:padding-right-105 {
        padding-right: var(--usa-spacing-105)
    }

    .mobile-lg\:padding-bottom-105 {
        padding-bottom: var(--usa-spacing-105)
    }

    .mobile-lg\:padding-left-105 {
        padding-left: var(--usa-spacing-105)
    }

    .mobile-lg\:padding-2 {
        padding: var(--usa-spacing-2)
    }

    .mobile-lg\:padding-y-2 {
        padding-top: var(--usa-spacing-2);
        padding-bottom: var(--usa-spacing-2)
    }

    .mobile-lg\:padding-x-2 {
        padding-left: var(--usa-spacing-2);
        padding-right: var(--usa-spacing-2)
    }

    .mobile-lg\:padding-top-2 {
        padding-top: var(--usa-spacing-2)
    }

    .mobile-lg\:padding-right-2 {
        padding-right: var(--usa-spacing-2)
    }

    .mobile-lg\:padding-bottom-2 {
        padding-bottom: var(--usa-spacing-2)
    }

    .mobile-lg\:padding-left-2 {
        padding-left: var(--usa-spacing-2)
    }

    .mobile-lg\:padding-205 {
        padding: var(--usa-spacing-205)
    }

    .mobile-lg\:padding-y-205 {
        padding-top: var(--usa-spacing-205);
        padding-bottom: var(--usa-spacing-205)
    }

    .mobile-lg\:padding-x-205 {
        padding-left: var(--usa-spacing-205);
        padding-right: var(--usa-spacing-205)
    }

    .mobile-lg\:padding-top-205 {
        padding-top: var(--usa-spacing-205)
    }

    .mobile-lg\:padding-right-205 {
        padding-right: var(--usa-spacing-205)
    }

    .mobile-lg\:padding-bottom-205 {
        padding-bottom: var(--usa-spacing-205)
    }

    .mobile-lg\:padding-left-205 {
        padding-left: var(--usa-spacing-205)
    }

    .mobile-lg\:padding-3 {
        padding: var(--usa-spacing-3)
    }

    .mobile-lg\:padding-y-3 {
        padding-top: var(--usa-spacing-3);
        padding-bottom: var(--usa-spacing-3)
    }

    .mobile-lg\:padding-x-3 {
        padding-left: var(--usa-spacing-3);
        padding-right: var(--usa-spacing-3)
    }

    .mobile-lg\:padding-top-3 {
        padding-top: var(--usa-spacing-3)
    }

    .mobile-lg\:padding-right-3 {
        padding-right: var(--usa-spacing-3)
    }

    .mobile-lg\:padding-bottom-3 {
        padding-bottom: var(--usa-spacing-3)
    }

    .mobile-lg\:padding-left-3 {
        padding-left: var(--usa-spacing-3)
    }

    .mobile-lg\:padding-4 {
        padding: var(--usa-spacing-4)
    }

    .mobile-lg\:padding-y-4 {
        padding-top: var(--usa-spacing-4);
        padding-bottom: var(--usa-spacing-4)
    }

    .mobile-lg\:padding-x-4 {
        padding-left: var(--usa-spacing-4);
        padding-right: var(--usa-spacing-4)
    }

    .mobile-lg\:padding-top-4 {
        padding-top: var(--usa-spacing-4)
    }

    .mobile-lg\:padding-right-4 {
        padding-right: var(--usa-spacing-4)
    }

    .mobile-lg\:padding-bottom-4 {
        padding-bottom: var(--usa-spacing-4)
    }

    .mobile-lg\:padding-left-4 {
        padding-left: var(--usa-spacing-4)
    }

    .mobile-lg\:padding-5 {
        padding: var(--usa-spacing-5)
    }

    .mobile-lg\:padding-y-5 {
        padding-top: var(--usa-spacing-5);
        padding-bottom: var(--usa-spacing-5)
    }

    .mobile-lg\:padding-x-5 {
        padding-left: var(--usa-spacing-5);
        padding-right: var(--usa-spacing-5)
    }

    .mobile-lg\:padding-top-5 {
        padding-top: var(--usa-spacing-5)
    }

    .mobile-lg\:padding-right-5 {
        padding-right: var(--usa-spacing-5)
    }

    .mobile-lg\:padding-bottom-5 {
        padding-bottom: var(--usa-spacing-5)
    }

    .mobile-lg\:padding-left-5 {
        padding-left: var(--usa-spacing-5)
    }

    .mobile-lg\:padding-6 {
        padding: var(--usa-spacing-6)
    }

    .mobile-lg\:padding-y-6 {
        padding-top: var(--usa-spacing-6);
        padding-bottom: var(--usa-spacing-6)
    }

    .mobile-lg\:padding-x-6 {
        padding-left: var(--usa-spacing-6);
        padding-right: var(--usa-spacing-6)
    }

    .mobile-lg\:padding-top-6 {
        padding-top: var(--usa-spacing-6)
    }

    .mobile-lg\:padding-right-6 {
        padding-right: var(--usa-spacing-6)
    }

    .mobile-lg\:padding-bottom-6 {
        padding-bottom: var(--usa-spacing-6)
    }

    .mobile-lg\:padding-left-6 {
        padding-left: var(--usa-spacing-6)
    }

    .mobile-lg\:padding-7 {
        padding: var(--usa-spacing-7)
    }

    .mobile-lg\:padding-y-7 {
        padding-top: var(--usa-spacing-7);
        padding-bottom: var(--usa-spacing-7)
    }

    .mobile-lg\:padding-x-7 {
        padding-left: var(--usa-spacing-7);
        padding-right: var(--usa-spacing-7)
    }

    .mobile-lg\:padding-top-7 {
        padding-top: var(--usa-spacing-7)
    }

    .mobile-lg\:padding-right-7 {
        padding-right: var(--usa-spacing-7)
    }

    .mobile-lg\:padding-bottom-7 {
        padding-bottom: var(--usa-spacing-7)
    }

    .mobile-lg\:padding-left-7 {
        padding-left: var(--usa-spacing-7)
    }

    .mobile-lg\:padding-8 {
        padding: var(--usa-spacing-8)
    }

    .mobile-lg\:padding-y-8 {
        padding-top: var(--usa-spacing-8);
        padding-bottom: var(--usa-spacing-8)
    }

    .mobile-lg\:padding-x-8 {
        padding-left: var(--usa-spacing-8);
        padding-right: var(--usa-spacing-8)
    }

    .mobile-lg\:padding-top-8 {
        padding-top: var(--usa-spacing-8)
    }

    .mobile-lg\:padding-right-8 {
        padding-right: var(--usa-spacing-8)
    }

    .mobile-lg\:padding-bottom-8 {
        padding-bottom: var(--usa-spacing-8)
    }

    .mobile-lg\:padding-left-8 {
        padding-left: var(--usa-spacing-8)
    }

    .mobile-lg\:padding-9 {
        padding: var(--usa-spacing-9)
    }

    .mobile-lg\:padding-y-9 {
        padding-top: var(--usa-spacing-9);
        padding-bottom: var(--usa-spacing-9)
    }

    .mobile-lg\:padding-x-9 {
        padding-left: var(--usa-spacing-9);
        padding-right: var(--usa-spacing-9)
    }

    .mobile-lg\:padding-top-9 {
        padding-top: var(--usa-spacing-9)
    }

    .mobile-lg\:padding-right-9 {
        padding-right: var(--usa-spacing-9)
    }

    .mobile-lg\:padding-bottom-9 {
        padding-bottom: var(--usa-spacing-9)
    }

    .mobile-lg\:padding-left-9 {
        padding-left: var(--usa-spacing-9)
    }

    .mobile-lg\:padding-10 {
        padding: var(--usa-spacing-10)
    }

    .mobile-lg\:padding-y-10 {
        padding-top: var(--usa-spacing-10);
        padding-bottom: var(--usa-spacing-10)
    }

    .mobile-lg\:padding-x-10 {
        padding-left: var(--usa-spacing-10);
        padding-right: var(--usa-spacing-10)
    }

    .mobile-lg\:padding-top-10 {
        padding-top: var(--usa-spacing-10)
    }

    .mobile-lg\:padding-right-10 {
        padding-right: var(--usa-spacing-10)
    }

    .mobile-lg\:padding-bottom-10 {
        padding-bottom: var(--usa-spacing-10)
    }

    .mobile-lg\:padding-left-10 {
        padding-left: var(--usa-spacing-10)
    }

    .mobile-lg\:padding-15 {
        padding: var(--usa-spacing-15)
    }

    .mobile-lg\:padding-y-15 {
        padding-top: var(--usa-spacing-15);
        padding-bottom: var(--usa-spacing-15)
    }

    .mobile-lg\:padding-x-15 {
        padding-left: var(--usa-spacing-15);
        padding-right: var(--usa-spacing-15)
    }

    .mobile-lg\:padding-top-15 {
        padding-top: var(--usa-spacing-15)
    }

    .mobile-lg\:padding-right-15 {
        padding-right: var(--usa-spacing-15)
    }

    .mobile-lg\:padding-bottom-15 {
        padding-bottom: var(--usa-spacing-15)
    }

    .mobile-lg\:padding-left-15 {
        padding-left: var(--usa-spacing-15)
    }

    .mobile-lg\:padding-0 {
        padding: var(--usa-spacing-0)
    }

    .mobile-lg\:padding-y-0 {
        padding-top: var(--usa-spacing-0);
        padding-bottom: var(--usa-spacing-0)
    }

    .mobile-lg\:padding-x-0 {
        padding-left: var(--usa-spacing-0);
        padding-right: var(--usa-spacing-0)
    }

    .mobile-lg\:padding-top-0 {
        padding-top: var(--usa-spacing-0)
    }

    .mobile-lg\:padding-right-0 {
        padding-right: var(--usa-spacing-0)
    }

    .mobile-lg\:padding-bottom-0 {
        padding-bottom: var(--usa-spacing-0)
    }

    .mobile-lg\:padding-left-0 {
        padding-left: var(--usa-spacing-0)
    }
}

@media all and (min-width: 40em) {

    .tablet\:padding-1px {
        padding: var(--usa-spacing-1px)
    }

    .tablet\:padding-y-1px {
        padding-top: var(--usa-spacing-1px);
        padding-bottom: var(--usa-spacing-1px)
    }

    .tablet\:padding-x-1px {
        padding-left: var(--usa-spacing-1px);
        padding-right: var(--usa-spacing-1px)
    }

    .tablet\:padding-top-1px {
        padding-top: var(--usa-spacing-1px)
    }

    .tablet\:padding-right-1px {
        padding-right: var(--usa-spacing-1px)
    }

    .tablet\:padding-bottom-1px {
        padding-bottom: var(--usa-spacing-1px)
    }

    .tablet\:padding-left-1px {
        padding-left: var(--usa-spacing-1px)
    }

    .tablet\:padding-2px {
        padding: var(--usa-spacing-2px)
    }

    .tablet\:padding-y-2px {
        padding-top: var(--usa-spacing-2px);
        padding-bottom: var(--usa-spacing-2px)
    }

    .tablet\:padding-x-2px {
        padding-left: var(--usa-spacing-2px);
        padding-right: var(--usa-spacing-2px)
    }

    .tablet\:padding-top-2px {
        padding-top: var(--usa-spacing-2px)
    }

    .tablet\:padding-right-2px {
        padding-right: var(--usa-spacing-2px)
    }

    .tablet\:padding-bottom-2px {
        padding-bottom: var(--usa-spacing-2px)
    }

    .tablet\:padding-left-2px {
        padding-left: var(--usa-spacing-2px)
    }

    .tablet\:padding-05 {
        padding: var(--usa-spacing-05)
    }

    .tablet\:padding-y-05 {
        padding-top: var(--usa-spacing-05);
        padding-bottom: var(--usa-spacing-05)
    }

    .tablet\:padding-x-05 {
        padding-left: var(--usa-spacing-05);
        padding-right: var(--usa-spacing-05)
    }

    .tablet\:padding-top-05 {
        padding-top: var(--usa-spacing-05)
    }

    .tablet\:padding-right-05 {
        padding-right: var(--usa-spacing-05)
    }

    .tablet\:padding-bottom-05 {
        padding-bottom: var(--usa-spacing-05)
    }

    .tablet\:padding-left-05 {
        padding-left: var(--usa-spacing-05)
    }

    .tablet\:padding-1 {
        padding: var(--usa-spacing-1)
    }

    .tablet\:padding-y-1 {
        padding-top: var(--usa-spacing-1);
        padding-bottom: var(--usa-spacing-1)
    }

    .tablet\:padding-x-1 {
        padding-left: var(--usa-spacing-1);
        padding-right: var(--usa-spacing-1)
    }

    .tablet\:padding-top-1 {
        padding-top: var(--usa-spacing-1)
    }

    .tablet\:padding-right-1 {
        padding-right: var(--usa-spacing-1)
    }

    .tablet\:padding-bottom-1 {
        padding-bottom: var(--usa-spacing-1)
    }

    .tablet\:padding-left-1 {
        padding-left: var(--usa-spacing-1)
    }

    .tablet\:padding-105 {
        padding: var(--usa-spacing-105)
    }

    .tablet\:padding-y-105 {
        padding-top: var(--usa-spacing-105);
        padding-bottom: var(--usa-spacing-105)
    }

    .tablet\:padding-x-105 {
        padding-left: var(--usa-spacing-105);
        padding-right: var(--usa-spacing-105)
    }

    .tablet\:padding-top-105 {
        padding-top: var(--usa-spacing-105)
    }

    .tablet\:padding-right-105 {
        padding-right: var(--usa-spacing-105)
    }

    .tablet\:padding-bottom-105 {
        padding-bottom: var(--usa-spacing-105)
    }

    .tablet\:padding-left-105 {
        padding-left: var(--usa-spacing-105)
    }

    .tablet\:padding-2 {
        padding: var(--usa-spacing-2)
    }

    .tablet\:padding-y-2 {
        padding-top: var(--usa-spacing-2);
        padding-bottom: var(--usa-spacing-2)
    }

    .tablet\:padding-x-2 {
        padding-left: var(--usa-spacing-2);
        padding-right: var(--usa-spacing-2)
    }

    .tablet\:padding-top-2 {
        padding-top: var(--usa-spacing-2)
    }

    .tablet\:padding-right-2 {
        padding-right: var(--usa-spacing-2)
    }

    .tablet\:padding-bottom-2 {
        padding-bottom: var(--usa-spacing-2)
    }

    .tablet\:padding-left-2 {
        padding-left: var(--usa-spacing-2)
    }

    .tablet\:padding-205 {
        padding: var(--usa-spacing-205)
    }

    .tablet\:padding-y-205 {
        padding-top: var(--usa-spacing-205);
        padding-bottom: var(--usa-spacing-205)
    }

    .tablet\:padding-x-205 {
        padding-left: var(--usa-spacing-205);
        padding-right: var(--usa-spacing-205)
    }

    .tablet\:padding-top-205 {
        padding-top: var(--usa-spacing-205)
    }

    .tablet\:padding-right-205 {
        padding-right: var(--usa-spacing-205)
    }

    .tablet\:padding-bottom-205 {
        padding-bottom: var(--usa-spacing-205)
    }

    .tablet\:padding-left-205 {
        padding-left: var(--usa-spacing-205)
    }

    .tablet\:padding-3 {
        padding: var(--usa-spacing-3)
    }

    .tablet\:padding-y-3 {
        padding-top: var(--usa-spacing-3);
        padding-bottom: var(--usa-spacing-3)
    }

    .tablet\:padding-x-3 {
        padding-left: var(--usa-spacing-3);
        padding-right: var(--usa-spacing-3)
    }

    .tablet\:padding-top-3 {
        padding-top: var(--usa-spacing-3)
    }

    .tablet\:padding-right-3 {
        padding-right: var(--usa-spacing-3)
    }

    .tablet\:padding-bottom-3 {
        padding-bottom: var(--usa-spacing-3)
    }

    .tablet\:padding-left-3 {
        padding-left: var(--usa-spacing-3)
    }

    .tablet\:padding-4 {
        padding: var(--usa-spacing-4)
    }

    .tablet\:padding-y-4 {
        padding-top: var(--usa-spacing-4);
        padding-bottom: var(--usa-spacing-4)
    }

    .tablet\:padding-x-4 {
        padding-left: var(--usa-spacing-4);
        padding-right: var(--usa-spacing-4)
    }

    .tablet\:padding-top-4 {
        padding-top: var(--usa-spacing-4)
    }

    .tablet\:padding-right-4 {
        padding-right: var(--usa-spacing-4)
    }

    .tablet\:padding-bottom-4 {
        padding-bottom: var(--usa-spacing-4)
    }

    .tablet\:padding-left-4 {
        padding-left: var(--usa-spacing-4)
    }

    .tablet\:padding-5 {
        padding: var(--usa-spacing-5)
    }

    .tablet\:padding-y-5 {
        padding-top: var(--usa-spacing-5);
        padding-bottom: var(--usa-spacing-5)
    }

    .tablet\:padding-x-5 {
        padding-left: var(--usa-spacing-5);
        padding-right: var(--usa-spacing-5)
    }

    .tablet\:padding-top-5 {
        padding-top: var(--usa-spacing-5)
    }

    .tablet\:padding-right-5 {
        padding-right: var(--usa-spacing-5)
    }

    .tablet\:padding-bottom-5 {
        padding-bottom: var(--usa-spacing-5)
    }

    .tablet\:padding-left-5 {
        padding-left: var(--usa-spacing-5)
    }

    .tablet\:padding-6 {
        padding: var(--usa-spacing-6)
    }

    .tablet\:padding-y-6 {
        padding-top: var(--usa-spacing-6);
        padding-bottom: var(--usa-spacing-6)
    }

    .tablet\:padding-x-6 {
        padding-left: var(--usa-spacing-6);
        padding-right: var(--usa-spacing-6)
    }

    .tablet\:padding-top-6 {
        padding-top: var(--usa-spacing-6)
    }

    .tablet\:padding-right-6 {
        padding-right: var(--usa-spacing-6)
    }

    .tablet\:padding-bottom-6 {
        padding-bottom: var(--usa-spacing-6)
    }

    .tablet\:padding-left-6 {
        padding-left: var(--usa-spacing-6)
    }

    .tablet\:padding-7 {
        padding: var(--usa-spacing-7)
    }

    .tablet\:padding-y-7 {
        padding-top: var(--usa-spacing-7);
        padding-bottom: var(--usa-spacing-7)
    }

    .tablet\:padding-x-7 {
        padding-left: var(--usa-spacing-7);
        padding-right: var(--usa-spacing-7)
    }

    .tablet\:padding-top-7 {
        padding-top: var(--usa-spacing-7)
    }

    .tablet\:padding-right-7 {
        padding-right: var(--usa-spacing-7)
    }

    .tablet\:padding-bottom-7 {
        padding-bottom: var(--usa-spacing-7)
    }

    .tablet\:padding-left-7 {
        padding-left: var(--usa-spacing-7)
    }

    .tablet\:padding-8 {
        padding: var(--usa-spacing-8)
    }

    .tablet\:padding-y-8 {
        padding-top: var(--usa-spacing-8);
        padding-bottom: var(--usa-spacing-8)
    }

    .tablet\:padding-x-8 {
        padding-left: var(--usa-spacing-8);
        padding-right: var(--usa-spacing-8)
    }

    .tablet\:padding-top-8 {
        padding-top: var(--usa-spacing-8)
    }

    .tablet\:padding-right-8 {
        padding-right: var(--usa-spacing-8)
    }

    .tablet\:padding-bottom-8 {
        padding-bottom: var(--usa-spacing-8)
    }

    .tablet\:padding-left-8 {
        padding-left: var(--usa-spacing-8)
    }

    .tablet\:padding-9 {
        padding: var(--usa-spacing-9)
    }

    .tablet\:padding-y-9 {
        padding-top: var(--usa-spacing-9);
        padding-bottom: var(--usa-spacing-9)
    }

    .tablet\:padding-x-9 {
        padding-left: var(--usa-spacing-9);
        padding-right: var(--usa-spacing-9)
    }

    .tablet\:padding-top-9 {
        padding-top: var(--usa-spacing-9)
    }

    .tablet\:padding-right-9 {
        padding-right: var(--usa-spacing-9)
    }

    .tablet\:padding-bottom-9 {
        padding-bottom: var(--usa-spacing-9)
    }

    .tablet\:padding-left-9 {
        padding-left: var(--usa-spacing-9)
    }

    .tablet\:padding-10 {
        padding: var(--usa-spacing-10)
    }

    .tablet\:padding-y-10 {
        padding-top: var(--usa-spacing-10);
        padding-bottom: var(--usa-spacing-10)
    }

    .tablet\:padding-x-10 {
        padding-left: var(--usa-spacing-10);
        padding-right: var(--usa-spacing-10)
    }

    .tablet\:padding-top-10 {
        padding-top: var(--usa-spacing-10)
    }

    .tablet\:padding-right-10 {
        padding-right: var(--usa-spacing-10)
    }

    .tablet\:padding-bottom-10 {
        padding-bottom: var(--usa-spacing-10)
    }

    .tablet\:padding-left-10 {
        padding-left: var(--usa-spacing-10)
    }

    .tablet\:padding-15 {
        padding: var(--usa-spacing-15)
    }

    .tablet\:padding-y-15 {
        padding-top: var(--usa-spacing-15);
        padding-bottom: var(--usa-spacing-15)
    }

    .tablet\:padding-x-15 {
        padding-left: var(--usa-spacing-15);
        padding-right: var(--usa-spacing-15)
    }

    .tablet\:padding-top-15 {
        padding-top: var(--usa-spacing-15)
    }

    .tablet\:padding-right-15 {
        padding-right: var(--usa-spacing-15)
    }

    .tablet\:padding-bottom-15 {
        padding-bottom: var(--usa-spacing-15)
    }

    .tablet\:padding-left-15 {
        padding-left: var(--usa-spacing-15)
    }

    .tablet\:padding-0 {
        padding: var(--usa-spacing-0)
    }

    .tablet\:padding-y-0 {
        padding-top: var(--usa-spacing-0);
        padding-bottom: var(--usa-spacing-0)
    }

    .tablet\:padding-x-0 {
        padding-left: var(--usa-spacing-0);
        padding-right: var(--usa-spacing-0)
    }

    .tablet\:padding-top-0 {
        padding-top: var(--usa-spacing-0)
    }

    .tablet\:padding-right-0 {
        padding-right: var(--usa-spacing-0)
    }

    .tablet\:padding-bottom-0 {
        padding-bottom: var(--usa-spacing-0)
    }

    .tablet\:padding-left-0 {
        padding-left: var(--usa-spacing-0)
    }
}

@media all and (min-width: 64em) {

    .desktop\:padding-1px {
        padding: var(--usa-spacing-1px)
    }

    .desktop\:padding-y-1px {
        padding-top: var(--usa-spacing-1px);
        padding-bottom: var(--usa-spacing-1px)
    }

    .desktop\:padding-x-1px {
        padding-left: var(--usa-spacing-1px);
        padding-right: var(--usa-spacing-1px)
    }

    .desktop\:padding-top-1px {
        padding-top: var(--usa-spacing-1px)
    }

    .desktop\:padding-right-1px {
        padding-right: var(--usa-spacing-1px)
    }

    .desktop\:padding-bottom-1px {
        padding-bottom: var(--usa-spacing-1px)
    }

    .desktop\:padding-left-1px {
        padding-left: var(--usa-spacing-1px)
    }

    .desktop\:padding-2px {
        padding: var(--usa-spacing-2px)
    }

    .desktop\:padding-y-2px {
        padding-top: var(--usa-spacing-2px);
        padding-bottom: var(--usa-spacing-2px)
    }

    .desktop\:padding-x-2px {
        padding-left: var(--usa-spacing-2px);
        padding-right: var(--usa-spacing-2px)
    }

    .desktop\:padding-top-2px {
        padding-top: var(--usa-spacing-2px)
    }

    .desktop\:padding-right-2px {
        padding-right: var(--usa-spacing-2px)
    }

    .desktop\:padding-bottom-2px {
        padding-bottom: var(--usa-spacing-2px)
    }

    .desktop\:padding-left-2px {
        padding-left: var(--usa-spacing-2px)
    }

    .desktop\:padding-05 {
        padding: var(--usa-spacing-05)
    }

    .desktop\:padding-y-05 {
        padding-top: var(--usa-spacing-05);
        padding-bottom: var(--usa-spacing-05)
    }

    .desktop\:padding-x-05 {
        padding-left: var(--usa-spacing-05);
        padding-right: var(--usa-spacing-05)
    }

    .desktop\:padding-top-05 {
        padding-top: var(--usa-spacing-05)
    }

    .desktop\:padding-right-05 {
        padding-right: var(--usa-spacing-05)
    }

    .desktop\:padding-bottom-05 {
        padding-bottom: var(--usa-spacing-05)
    }

    .desktop\:padding-left-05 {
        padding-left: var(--usa-spacing-05)
    }

    .desktop\:padding-1 {
        padding: var(--usa-spacing-1)
    }

    .desktop\:padding-y-1 {
        padding-top: var(--usa-spacing-1);
        padding-bottom: var(--usa-spacing-1)
    }

    .desktop\:padding-x-1 {
        padding-left: var(--usa-spacing-1);
        padding-right: var(--usa-spacing-1)
    }

    .desktop\:padding-top-1 {
        padding-top: var(--usa-spacing-1)
    }

    .desktop\:padding-right-1 {
        padding-right: var(--usa-spacing-1)
    }

    .desktop\:padding-bottom-1 {
        padding-bottom: var(--usa-spacing-1)
    }

    .desktop\:padding-left-1 {
        padding-left: var(--usa-spacing-1)
    }

    .desktop\:padding-105 {
        padding: var(--usa-spacing-105)
    }

    .desktop\:padding-y-105 {
        padding-top: var(--usa-spacing-105);
        padding-bottom: var(--usa-spacing-105)
    }

    .desktop\:padding-x-105 {
        padding-left: var(--usa-spacing-105);
        padding-right: var(--usa-spacing-105)
    }

    .desktop\:padding-top-105 {
        padding-top: var(--usa-spacing-105)
    }

    .desktop\:padding-right-105 {
        padding-right: var(--usa-spacing-105)
    }

    .desktop\:padding-bottom-105 {
        padding-bottom: var(--usa-spacing-105)
    }

    .desktop\:padding-left-105 {
        padding-left: var(--usa-spacing-105)
    }

    .desktop\:padding-2 {
        padding: var(--usa-spacing-2)
    }

    .desktop\:padding-y-2 {
        padding-top: var(--usa-spacing-2);
        padding-bottom: var(--usa-spacing-2)
    }

    .desktop\:padding-x-2 {
        padding-left: var(--usa-spacing-2);
        padding-right: var(--usa-spacing-2)
    }

    .desktop\:padding-top-2 {
        padding-top: var(--usa-spacing-2)
    }

    .desktop\:padding-right-2 {
        padding-right: var(--usa-spacing-2)
    }

    .desktop\:padding-bottom-2 {
        padding-bottom: var(--usa-spacing-2)
    }

    .desktop\:padding-left-2 {
        padding-left: var(--usa-spacing-2)
    }

    .desktop\:padding-205 {
        padding: var(--usa-spacing-205)
    }

    .desktop\:padding-y-205 {
        padding-top: var(--usa-spacing-205);
        padding-bottom: var(--usa-spacing-205)
    }

    .desktop\:padding-x-205 {
        padding-left: var(--usa-spacing-205);
        padding-right: var(--usa-spacing-205)
    }

    .desktop\:padding-top-205 {
        padding-top: var(--usa-spacing-205)
    }

    .desktop\:padding-right-205 {
        padding-right: var(--usa-spacing-205)
    }

    .desktop\:padding-bottom-205 {
        padding-bottom: var(--usa-spacing-205)
    }

    .desktop\:padding-left-205 {
        padding-left: var(--usa-spacing-205)
    }

    .desktop\:padding-3 {
        padding: var(--usa-spacing-3)
    }

    .desktop\:padding-y-3 {
        padding-top: var(--usa-spacing-3);
        padding-bottom: var(--usa-spacing-3)
    }

    .desktop\:padding-x-3 {
        padding-left: var(--usa-spacing-3);
        padding-right: var(--usa-spacing-3)
    }

    .desktop\:padding-top-3 {
        padding-top: var(--usa-spacing-3)
    }

    .desktop\:padding-right-3 {
        padding-right: var(--usa-spacing-3)
    }

    .desktop\:padding-bottom-3 {
        padding-bottom: var(--usa-spacing-3)
    }

    .desktop\:padding-left-3 {
        padding-left: var(--usa-spacing-3)
    }

    .desktop\:padding-4 {
        padding: var(--usa-spacing-4)
    }

    .desktop\:padding-y-4 {
        padding-top: var(--usa-spacing-4);
        padding-bottom: var(--usa-spacing-4)
    }

    .desktop\:padding-x-4 {
        padding-left: var(--usa-spacing-4);
        padding-right: var(--usa-spacing-4)
    }

    .desktop\:padding-top-4 {
        padding-top: var(--usa-spacing-4)
    }

    .desktop\:padding-right-4 {
        padding-right: var(--usa-spacing-4)
    }

    .desktop\:padding-bottom-4 {
        padding-bottom: var(--usa-spacing-4)
    }

    .desktop\:padding-left-4 {
        padding-left: var(--usa-spacing-4)
    }

    .desktop\:padding-5 {
        padding: var(--usa-spacing-5)
    }

    .desktop\:padding-y-5 {
        padding-top: var(--usa-spacing-5);
        padding-bottom: var(--usa-spacing-5)
    }

    .desktop\:padding-x-5 {
        padding-left: var(--usa-spacing-5);
        padding-right: var(--usa-spacing-5)
    }

    .desktop\:padding-top-5 {
        padding-top: var(--usa-spacing-5)
    }

    .desktop\:padding-right-5 {
        padding-right: var(--usa-spacing-5)
    }

    .desktop\:padding-bottom-5 {
        padding-bottom: var(--usa-spacing-5)
    }

    .desktop\:padding-left-5 {
        padding-left: var(--usa-spacing-5)
    }

    .desktop\:padding-6 {
        padding: var(--usa-spacing-6)
    }

    .desktop\:padding-y-6 {
        padding-top: var(--usa-spacing-6);
        padding-bottom: var(--usa-spacing-6)
    }

    .desktop\:padding-x-6 {
        padding-left: var(--usa-spacing-6);
        padding-right: var(--usa-spacing-6)
    }

    .desktop\:padding-top-6 {
        padding-top: var(--usa-spacing-6)
    }

    .desktop\:padding-right-6 {
        padding-right: var(--usa-spacing-6)
    }

    .desktop\:padding-bottom-6 {
        padding-bottom: var(--usa-spacing-6)
    }

    .desktop\:padding-left-6 {
        padding-left: var(--usa-spacing-6)
    }

    .desktop\:padding-7 {
        padding: var(--usa-spacing-7)
    }

    .desktop\:padding-y-7 {
        padding-top: var(--usa-spacing-7);
        padding-bottom: var(--usa-spacing-7)
    }

    .desktop\:padding-x-7 {
        padding-left: var(--usa-spacing-7);
        padding-right: var(--usa-spacing-7)
    }

    .desktop\:padding-top-7 {
        padding-top: var(--usa-spacing-7)
    }

    .desktop\:padding-right-7 {
        padding-right: var(--usa-spacing-7)
    }

    .desktop\:padding-bottom-7 {
        padding-bottom: var(--usa-spacing-7)
    }

    .desktop\:padding-left-7 {
        padding-left: var(--usa-spacing-7)
    }

    .desktop\:padding-8 {
        padding: var(--usa-spacing-8)
    }

    .desktop\:padding-y-8 {
        padding-top: var(--usa-spacing-8);
        padding-bottom: var(--usa-spacing-8)
    }

    .desktop\:padding-x-8 {
        padding-left: var(--usa-spacing-8);
        padding-right: var(--usa-spacing-8)
    }

    .desktop\:padding-top-8 {
        padding-top: var(--usa-spacing-8)
    }

    .desktop\:padding-right-8 {
        padding-right: var(--usa-spacing-8)
    }

    .desktop\:padding-bottom-8 {
        padding-bottom: var(--usa-spacing-8)
    }

    .desktop\:padding-left-8 {
        padding-left: var(--usa-spacing-8)
    }

    .desktop\:padding-9 {
        padding: var(--usa-spacing-9)
    }

    .desktop\:padding-y-9 {
        padding-top: var(--usa-spacing-9);
        padding-bottom: var(--usa-spacing-9)
    }

    .desktop\:padding-x-9 {
        padding-left: var(--usa-spacing-9);
        padding-right: var(--usa-spacing-9)
    }

    .desktop\:padding-top-9 {
        padding-top: var(--usa-spacing-9)
    }

    .desktop\:padding-right-9 {
        padding-right: var(--usa-spacing-9)
    }

    .desktop\:padding-bottom-9 {
        padding-bottom: var(--usa-spacing-9)
    }

    .desktop\:padding-left-9 {
        padding-left: var(--usa-spacing-9)
    }

    .desktop\:padding-10 {
        padding: var(--usa-spacing-10)
    }

    .desktop\:padding-y-10 {
        padding-top: var(--usa-spacing-10);
        padding-bottom: var(--usa-spacing-10)
    }

    .desktop\:padding-x-10 {
        padding-left: var(--usa-spacing-10);
        padding-right: var(--usa-spacing-10)
    }

    .desktop\:padding-top-10 {
        padding-top: var(--usa-spacing-10)
    }

    .desktop\:padding-right-10 {
        padding-right: var(--usa-spacing-10)
    }

    .desktop\:padding-bottom-10 {
        padding-bottom: var(--usa-spacing-10)
    }

    .desktop\:padding-left-10 {
        padding-left: var(--usa-spacing-10)
    }

    .desktop\:padding-15 {
        padding: var(--usa-spacing-15)
    }

    .desktop\:padding-y-15 {
        padding-top: var(--usa-spacing-15);
        padding-bottom: var(--usa-spacing-15)
    }

    .desktop\:padding-x-15 {
        padding-left: var(--usa-spacing-15);
        padding-right: var(--usa-spacing-15)
    }

    .desktop\:padding-top-15 {
        padding-top: var(--usa-spacing-15)
    }

    .desktop\:padding-right-15 {
        padding-right: var(--usa-spacing-15)
    }

    .desktop\:padding-bottom-15 {
        padding-bottom: var(--usa-spacing-15)
    }

    .desktop\:padding-left-15 {
        padding-left: var(--usa-spacing-15)
    }

    .desktop\:padding-0 {
        padding: var(--usa-spacing-0)
    }

    .desktop\:padding-y-0 {
        padding-top: var(--usa-spacing-0);
        padding-bottom: var(--usa-spacing-0)
    }

    .desktop\:padding-x-0 {
        padding-left: var(--usa-spacing-0);
        padding-right: var(--usa-spacing-0)
    }

    .desktop\:padding-top-0 {
        padding-top: var(--usa-spacing-0)
    }

    .desktop\:padding-right-0 {
        padding-right: var(--usa-spacing-0)
    }

    .desktop\:padding-bottom-0 {
        padding-bottom: var(--usa-spacing-0)
    }

    .desktop\:padding-left-0 {
        padding-left: var(--usa-spacing-0)
    }
}