
.maxh-05 {
    max-height: var(--usa-spacing-05)
}

.maxh-1 {
    max-height: var(--usa-spacing-1)
}

.maxh-105 {
    max-height: var(--usa-spacing-105)
}

.maxh-2 {
    max-height: var(--usa-spacing-2)
}

.maxh-205 {
    max-height: var(--usa-spacing-205)
}

.maxh-3 {
    max-height: var(--usa-spacing-3)
}

.maxh-4 {
    max-height: var(--usa-spacing-4)
}

.maxh-5 {
    max-height: var(--usa-spacing-5)
}

.maxh-6 {
    max-height: var(--usa-spacing-6)
}

.maxh-7 {
    max-height: var(--usa-spacing-7)
}

.maxh-8 {
    max-height: var(--usa-spacing-8)
}

.maxh-9 {
    max-height: var(--usa-spacing-9)
}

.maxh-10 {
    max-height: var(--usa-spacing-10)
}

.maxh-15 {
    max-height: var(--usa-spacing-15)
}

.maxh-card {
    max-height: var(--usa-spacing-card)
}

.maxh-card-lg {
    max-height: var(--usa-spacing-card-lg)
}

.maxh-mobile {
    max-height: var(--usa-spacing-mobile)
}

.maxh-mobile-lg {
    max-height: var(--usa-spacing-mobile-lg)
}

.maxh-tablet {
    max-height: var(--usa-spacing-tablet)
}

.maxh-tablet-lg {
    max-height: var(--usa-spacing-tablet-lg)
}

.maxh-none {
    max-height: var(--usa-spacing-none)
}

.maxh-viewport {
    max-height: 100vh;
}

.maxw-05 {
    max-width: var(--usa-spacing-05)
}

.maxw-1 {
    max-width: var(--usa-spacing-1)
}

.maxw-105 {
    max-width: var(--usa-spacing-105)
}

.maxw-2 {
    max-width: var(--usa-spacing-2)
}

.maxw-205 {
    max-width: var(--usa-spacing-205)
}

.maxw-3 {
    max-width: var(--usa-spacing-3)
}

.maxw-4 {
    max-width: var(--usa-spacing-4)
}

.maxw-5 {
    max-width: var(--usa-spacing-5)
}

.maxw-6 {
    max-width: var(--usa-spacing-6)
}

.maxw-7 {
    max-width: var(--usa-spacing-7)
}

.maxw-8 {
    max-width: var(--usa-spacing-8)
}

.maxw-9 {
    max-width: var(--usa-spacing-9)
}

.maxw-10 {
    max-width: var(--usa-spacing-10)
}

.maxw-15 {
    max-width: var(--usa-spacing-15)
}

.maxw-card {
    max-width: var(--usa-spacing-card)
}

.maxw-card-lg {
    max-width: var(--usa-spacing-card-lg)
}

.maxw-mobile {
    max-width: var(--usa-spacing-mobile)
}

.maxw-mobile-lg {
    max-width: var(--usa-spacing-mobile-lg)
}

.maxw-tablet {
    max-width: var(--usa-spacing-tablet)
}

.maxw-tablet-lg {
    max-width: var(--usa-spacing-tablet-lg)
}

.maxw-desktop {
    max-width: var(--usa-spacing-desktop)
}

.maxw-desktop-lg {
    max-width: var(--usa-spacing-desktop-lg)
}

.maxw-widescreen {
    max-width: var(--usa-spacing-widescreen)
}

.maxw-none {
    max-width: var(--usa-spacing-none)
}

.maxw-full {
    max-width: var(--usa-spacing-full)
}



.minh-1px {
    min-height: var(--usa-spacing-1px)
}

.minh-2px {
    min-height: var(--usa-spacing-2px)
}

.minh-05 {
    min-height: var(--usa-spacing-05)
}

.minh-1 {
    min-height: var(--usa-spacing-1)
}

.minh-105 {
    min-height: var(--usa-spacing-105)
}

.minh-2 {
    min-height: var(--usa-spacing-2)
}

.minh-205 {
    min-height: var(--usa-spacing-205)
}

.minh-3 {
    min-height: var(--usa-spacing-3)
}

.minh-4 {
    min-height: var(--usa-spacing-4)
}

.minh-5 {
    min-height: var(--usa-spacing-5)
}

.minh-6 {
    min-height: var(--usa-spacing-6)
}

.minh-7 {
    min-height: var(--usa-spacing-7)
}

.minh-8 {
    min-height: var(--usa-spacing-8)
}

.minh-9 {
    min-height: var(--usa-spacing-9)
}

.minh-10 {
    min-height: var(--usa-spacing-10)
}

.minh-15 {
    min-height: var(--usa-spacing-15)
}

.minh-card {
    min-height: var(--usa-spacing-card)
}

.minh-card-lg {
    min-height: var(--usa-spacing-card-lg)
}

.minh-mobile {
    min-height: var(--usa-spacing-mobile)
}

.minh-mobile-lg {
    min-height: var(--usa-spacing-mobile-lg)
}

.minh-tablet {
    min-height: var(--usa-spacing-tablet)
}

.minh-tablet-lg {
    min-height: var(--usa-spacing-tablet-lg)
}

.minh-0 {
    min-height: var(--usa-spacing-0)
}

.minh-full {
    min-height: var(--usa-spacing-full)
}

.minh-viewport {
    min-height: 100vh;
}

.minw-05 {
    min-width: var(--usa-spacing-05)
}

.minw-1 {
    min-width: var(--usa-spacing-1)
}

.minw-105 {
    min-width: var(--usa-spacing-105)
}

.minw-2 {
    min-width: var(--usa-spacing-2)
}

.minw-205 {
    min-width: var(--usa-spacing-205)
}

.minw-3 {
    min-width: var(--usa-spacing-3)
}

.minw-4 {
    min-width: var(--usa-spacing-4)
}

.minw-5 {
    min-width: var(--usa-spacing-5)
}

.minw-6 {
    min-width: var(--usa-spacing-6)
}

.minw-7 {
    min-width: var(--usa-spacing-7)
}

.minw-8 {
    min-width: var(--usa-spacing-8)
}

.minw-9 {
    min-width: var(--usa-spacing-9)
}

.minw-10 {
    min-width: var(--usa-spacing-10)
}

.minw-15 {
    min-width: var(--usa-spacing-15)
}

.minw-0 {
    min-width: var(--usa-spacing-0)
}


.width-1px {
    width: var(--usa-spacing-1px)
}

.width-2px {
    width: var(--usa-spacing-2px)
}

.width-05 {
    width: var(--usa-spacing-05)
}

.width-1 {
    width: var(--usa-spacing-1)
}

.width-105 {
    width: var(--usa-spacing-105)
}

.width-2 {
    width: var(--usa-spacing-2)
}

.width-205 {
    width: var(--usa-spacing-205)
}

.width-3 {
    width: var(--usa-spacing-3)
}

.width-4 {
    width: var(--usa-spacing-4)
}

.width-5 {
    width: var(--usa-spacing-5)
}

.width-6 {
    width: var(--usa-spacing-6)
}

.width-7 {
    width: var(--usa-spacing-7)
}

.width-8 {
    width: var(--usa-spacing-8)
}

.width-9 {
    width: var(--usa-spacing-9)
}

.width-10 {
    width: var(--usa-spacing-10)
}

.width-15 {
    width: var(--usa-spacing-15)
}

.width-card {
    width: var(--usa-spacing-card)
}

.width-card-lg {
    width: var(--usa-spacing-card-lg)
}

.width-mobile {
    width: var(--usa-spacing-mobile)
}

.width-mobile-lg {
    width: var(--usa-spacing-mobile-lg)
}

.width-tablet {
    width: var(--usa-spacing-tablet)
}

.width-tablet-lg {
    width: var(--usa-spacing-tablet-lg)
}

.width-desktop {
    width: var(--usa-spacing-desktop)
}

.width-desktop-lg {
    width: var(--usa-spacing-desktop-lg)
}

.width-widescreen {
    width: var(--usa-spacing-widescreen)
}

.width-0 {
    width: var(--usa-spacing-0)
}

.width-full {
    width: var(--usa-spacing-full)
}

.width-auto {
    width: var(--usa-spacing-auto)
}


@media all and (min-width: 40em) {
    .tablet\:maxh-05 {
        max-height: var(--usa-spacing-05)
    }

    .tablet\:maxh-1 {
        max-height: var(--usa-spacing-1)
    }

    .tablet\:maxh-105 {
        max-height: var(--usa-spacing-105)
    }

    .tablet\:maxh-2 {
        max-height: var(--usa-spacing-2)
    }

    .tablet\:maxh-205 {
        max-height: var(--usa-spacing-205)
    }

    .tablet\:maxh-3 {
        max-height: var(--usa-spacing-3)
    }

    .tablet\:maxh-4 {
        max-height: var(--usa-spacing-4)
    }

    .tablet\:maxh-5 {
        max-height: var(--usa-spacing-5)
    }

    .tablet\:maxh-6 {
        max-height: var(--usa-spacing-6)
    }

    .tablet\:maxh-7 {
        max-height: var(--usa-spacing-7)
    }

    .tablet\:maxh-8 {
        max-height: var(--usa-spacing-8)
    }

    .tablet\:maxh-9 {
        max-height: var(--usa-spacing-9)
    }

    .tablet\:maxh-10 {
        max-height: var(--usa-spacing-10)
    }

    .tablet\:maxh-15 {
        max-height: var(--usa-spacing-15)
    }

    .tablet\:maxh-card {
        max-height: var(--usa-spacing-card)
    }

    .tablet\:maxh-card-lg {
        max-height: var(--usa-spacing-card-lg)
    }

    .tablet\:maxh-mobile {
        max-height: var(--usa-spacing-mobile)
    }

    .tablet\:maxh-mobile-lg {
        max-height: var(--usa-spacing-mobile-lg)
    }

    .tablet\:maxh-tablet {
        max-height: var(--usa-spacing-tablet)
    }

    .tablet\:maxh-tablet-lg {
        max-height: var(--usa-spacing-tablet-lg)
    }

    .tablet\:maxh-none {
        max-height: var(--usa-spacing-none)
    }

    .tablet\:maxh-viewport {
        max-height: 100vh;
    }

    .tablet\:maxw-05 {
        max-width: var(--usa-spacing-05)
    }

    .tablet\:maxw-1 {
        max-width: var(--usa-spacing-1)
    }

    .tablet\:maxw-105 {
        max-width: var(--usa-spacing-105)
    }

    .tablet\:maxw-2 {
        max-width: var(--usa-spacing-2)
    }

    .tablet\:maxw-205 {
        max-width: var(--usa-spacing-205)
    }

    .tablet\:maxw-3 {
        max-width: var(--usa-spacing-3)
    }

    .tablet\:maxw-4 {
        max-width: var(--usa-spacing-4)
    }

    .tablet\:maxw-5 {
        max-width: var(--usa-spacing-5)
    }

    .tablet\:maxw-6 {
        max-width: var(--usa-spacing-6)
    }

    .tablet\:maxw-7 {
        max-width: var(--usa-spacing-7)
    }

    .tablet\:maxw-8 {
        max-width: var(--usa-spacing-8)
    }

    .tablet\:maxw-9 {
        max-width: var(--usa-spacing-9)
    }

    .tablet\:maxw-10 {
        max-width: var(--usa-spacing-10)
    }

    .tablet\:maxw-15 {
        max-width: var(--usa-spacing-15)
    }

    .tablet\:maxw-card {
        max-width: var(--usa-spacing-card)
    }

    .tablet\:maxw-card-lg {
        max-width: var(--usa-spacing-card-lg)
    }

    .tablet\:maxw-mobile {
        max-width: var(--usa-spacing-mobile)
    }

    .tablet\:maxw-mobile-lg {
        max-width: var(--usa-spacing-mobile-lg)
    }

    .tablet\:maxw-tablet {
        max-width: var(--usa-spacing-tablet)
    }

    .tablet\:maxw-tablet-lg {
        max-width: var(--usa-spacing-tablet-lg)
    }

    .tablet\:maxw-desktop {
        max-width: var(--usa-spacing-desktop)
    }

    .tablet\:maxw-desktop-lg {
        max-width: var(--usa-spacing-desktop-lg)
    }

    .tablet\:maxw-widescreen {
        max-width: var(--usa-spacing-widescreen)
    }

    .tablet\:maxw-none {
        max-width: var(--usa-spacing-none)
    }

    .tablet\:maxw-full {
        max-width: var(--usa-spacing-full)
    }

    .tablet\:minh-1px {
        min-height: var(--usa-spacing-1px)
    }

    .tablet\:minh-2px {
        min-height: var(--usa-spacing-2px)
    }

    .tablet\:minh-05 {
        min-height: var(--usa-spacing-05)
    }

    .tablet\:minh-1 {
        min-height: var(--usa-spacing-1)
    }

    .tablet\:minh-105 {
        min-height: var(--usa-spacing-105)
    }

    .tablet\:minh-2 {
        min-height: var(--usa-spacing-2)
    }

    .tablet\:minh-205 {
        min-height: var(--usa-spacing-205)
    }

    .tablet\:minh-3 {
        min-height: var(--usa-spacing-3)
    }

    .tablet\:minh-4 {
        min-height: var(--usa-spacing-4)
    }

    .tablet\:minh-5 {
        min-height: var(--usa-spacing-5)
    }

    .tablet\:minh-6 {
        min-height: var(--usa-spacing-6)
    }

    .tablet\:minh-7 {
        min-height: var(--usa-spacing-7)
    }

    .tablet\:minh-8 {
        min-height: var(--usa-spacing-8)
    }

    .tablet\:minh-9 {
        min-height: var(--usa-spacing-9)
    }

    .tablet\:minh-10 {
        min-height: var(--usa-spacing-10)
    }

    .tablet\:minh-15 {
        min-height: var(--usa-spacing-15)
    }

    .tablet\:minh-card {
        min-height: var(--usa-spacing-card)
    }

    .tablet\:minh-card-lg {
        min-height: var(--usa-spacing-card-lg)
    }

    .tablet\:minh-mobile {
        min-height: var(--usa-spacing-mobile)
    }

    .tablet\:minh-mobile-lg {
        min-height: var(--usa-spacing-mobile-lg)
    }

    .tablet\:minh-tablet {
        min-height: var(--usa-spacing-tablet)
    }

    .tablet\:minh-tablet-lg {
        min-height: var(--usa-spacing-tablet-lg)
    }

    .tablet\:minh-0 {
        min-height: var(--usa-spacing-0)
    }

    .tablet\:minh-full {
        min-height: var(--usa-spacing-full)
    }

    .tablet\:minh-viewport {
        min-height: 100vh;
    }

    .tablet\:minw-05 {
        min-width: var(--usa-spacing-05)
    }

    .tablet\:minw-1 {
        min-width: var(--usa-spacing-1)
    }

    .tablet\:minw-105 {
        min-width: var(--usa-spacing-105)
    }

    .tablet\:minw-2 {
        min-width: var(--usa-spacing-2)
    }

    .tablet\:minw-205 {
        min-width: var(--usa-spacing-205)
    }

    .tablet\:minw-3 {
        min-width: var(--usa-spacing-3)
    }

    .tablet\:minw-4 {
        min-width: var(--usa-spacing-4)
    }

    .tablet\:minw-5 {
        min-width: var(--usa-spacing-5)
    }

    .tablet\:minw-6 {
        min-width: var(--usa-spacing-6)
    }

    .tablet\:minw-7 {
        min-width: var(--usa-spacing-7)
    }

    .tablet\:minw-8 {
        min-width: var(--usa-spacing-8)
    }

    .tablet\:minw-9 {
        min-width: var(--usa-spacing-9)
    }

    .tablet\:minw-10 {
        min-width: var(--usa-spacing-10)
    }

    .tablet\:minw-15 {
        min-width: var(--usa-spacing-15)
    }

    .tablet\:minw-0 {
        min-width: var(--usa-spacing-0)
    }

    .tablet\:width-1px {
        width: var(--usa-spacing-1px)
    }

    .tablet\:width-2px {
        width: var(--usa-spacing-2px)
    }

    .tablet\:width-05 {
        width: var(--usa-spacing-05)
    }

    .tablet\:width-1 {
        width: var(--usa-spacing-1)
    }

    .tablet\:width-105 {
        width: var(--usa-spacing-105)
    }

    .tablet\:width-2 {
        width: var(--usa-spacing-2)
    }

    .tablet\:width-205 {
        width: var(--usa-spacing-205)
    }

    .tablet\:width-3 {
        width: var(--usa-spacing-3)
    }

    .tablet\:width-4 {
        width: var(--usa-spacing-4)
    }

    .tablet\:width-5 {
        width: var(--usa-spacing-5)
    }

    .tablet\:width-6 {
        width: var(--usa-spacing-6)
    }

    .tablet\:width-7 {
        width: var(--usa-spacing-7)
    }

    .tablet\:width-8 {
        width: var(--usa-spacing-8)
    }

    .tablet\:width-9 {
        width: var(--usa-spacing-9)
    }

    .tablet\:width-10 {
        width: var(--usa-spacing-10)
    }

    .tablet\:width-15 {
        width: var(--usa-spacing-15)
    }

    .tablet\:width-card {
        width: var(--usa-spacing-card)
    }

    .tablet\:width-card-lg {
        width: var(--usa-spacing-card-lg)
    }

    .tablet\:width-mobile {
        width: var(--usa-spacing-mobile)
    }

    .tablet\:width-mobile-lg {
        width: var(--usa-spacing-mobile-lg)
    }

    .tablet\:width-tablet {
        width: var(--usa-spacing-tablet)
    }

    .tablet\:width-tablet-lg {
        width: var(--usa-spacing-tablet-lg)
    }

    .tablet\:width-desktop {
        width: var(--usa-spacing-desktop)
    }

    .tablet\:width-desktop-lg {
        width: var(--usa-spacing-desktop-lg)
    }

    .tablet\:width-widescreen {
        width: var(--usa-spacing-widescreen)
    }

    .tablet\:width-0 {
        width: var(--usa-spacing-0)
    }

    .tablet\:width-full {
        width: var(--usa-spacing-full)
    }

    .tablet\:width-auto {
        width: var(--usa-spacing-auto)
    }

   
}

@media all and (min-width: 64em) {
    .desktop\:maxh-05 {
        max-height: var(--usa-spacing-05)
    }

    .desktop\:maxh-1 {
        max-height: var(--usa-spacing-1)
    }

    .desktop\:maxh-105 {
        max-height: var(--usa-spacing-105)
    }

    .desktop\:maxh-2 {
        max-height: var(--usa-spacing-2)
    }

    .desktop\:maxh-205 {
        max-height: var(--usa-spacing-205)
    }

    .desktop\:maxh-3 {
        max-height: var(--usa-spacing-3)
    }

    .desktop\:maxh-4 {
        max-height: var(--usa-spacing-4)
    }

    .desktop\:maxh-5 {
        max-height: var(--usa-spacing-5)
    }

    .desktop\:maxh-6 {
        max-height: var(--usa-spacing-6)
    }

    .desktop\:maxh-7 {
        max-height: var(--usa-spacing-7)
    }

    .desktop\:maxh-8 {
        max-height: var(--usa-spacing-8)
    }

    .desktop\:maxh-9 {
        max-height: var(--usa-spacing-9)
    }

    .desktop\:maxh-10 {
        max-height: var(--usa-spacing-10)
    }

    .desktop\:maxh-15 {
        max-height: var(--usa-spacing-15)
    }

    .desktop\:maxh-card {
        max-height: var(--usa-spacing-card)
    }

    .desktop\:maxh-card-lg {
        max-height: var(--usa-spacing-card-lg)
    }

    .desktop\:maxh-mobile {
        max-height: var(--usa-spacing-mobile)
    }

    .desktop\:maxh-mobile-lg {
        max-height: var(--usa-spacing-mobile-lg)
    }

    .desktop\:maxh-tablet {
        max-height: var(--usa-spacing-tablet)
    }

    .desktop\:maxh-tablet-lg {
        max-height: var(--usa-spacing-tablet-lg)
    }

    .desktop\:maxh-none {
        max-height: var(--usa-spacing-none)
    }

    .desktop\:maxh-viewport {
        max-height: 100vh;
    }

    .desktop\:maxw-05 {
        max-width: var(--usa-spacing-05)
    }

    .desktop\:maxw-1 {
        max-width: var(--usa-spacing-1)
    }

    .desktop\:maxw-105 {
        max-width: var(--usa-spacing-105)
    }

    .desktop\:maxw-2 {
        max-width: var(--usa-spacing-2)
    }

    .desktop\:maxw-205 {
        max-width: var(--usa-spacing-205)
    }

    .desktop\:maxw-3 {
        max-width: var(--usa-spacing-3)
    }

    .desktop\:maxw-4 {
        max-width: var(--usa-spacing-4)
    }

    .desktop\:maxw-5 {
        max-width: var(--usa-spacing-5)
    }

    .desktop\:maxw-6 {
        max-width: var(--usa-spacing-6)
    }

    .desktop\:maxw-7 {
        max-width: var(--usa-spacing-7)
    }

    .desktop\:maxw-8 {
        max-width: var(--usa-spacing-8)
    }

    .desktop\:maxw-9 {
        max-width: var(--usa-spacing-9)
    }

    .desktop\:maxw-10 {
        max-width: var(--usa-spacing-10)
    }

    .desktop\:maxw-15 {
        max-width: var(--usa-spacing-15)
    }

    .desktop\:maxw-card {
        max-width: var(--usa-spacing-card)
    }

    .desktop\:maxw-card-lg {
        max-width: var(--usa-spacing-card-lg)
    }

    .desktop\:maxw-mobile {
        max-width: var(--usa-spacing-mobile)
    }

    .desktop\:maxw-mobile-lg {
        max-width: var(--usa-spacing-mobile-lg)
    }

    .desktop\:maxw-tablet {
        max-width: var(--usa-spacing-tablet)
    }

    .desktop\:maxw-tablet-lg {
        max-width: var(--usa-spacing-tablet-lg)
    }

    .desktop\:maxw-desktop {
        max-width: var(--usa-spacing-desktop)
    }

    .desktop\:maxw-desktop-lg {
        max-width: var(--usa-spacing-desktop-lg)
    }

    .desktop\:maxw-viewport {
        max-width: var(--usa-spacing-viewport)
    }

    .desktop\:maxw-widescreen {
        max-width: var(--usa-spacing-widescreen)
    }

    .desktop\:maxw-none {
        max-width: var(--usa-spacing-none)
    }

    .desktop\:maxw-full {
        max-width: var(--usa-spacing-full)
    }

    .desktop\:minh-1px {
        min-height: var(--usa-spacing-1px)
    }

    .desktop\:minh-2px {
        min-height: var(--usa-spacing-2px)
    }

    .desktop\:minh-05 {
        min-height: var(--usa-spacing-05)
    }

    .desktop\:minh-1 {
        min-height: var(--usa-spacing-1)
    }

    .desktop\:minh-105 {
        min-height: var(--usa-spacing-105)
    }

    .desktop\:minh-2 {
        min-height: var(--usa-spacing-2)
    }

    .desktop\:minh-205 {
        min-height: var(--usa-spacing-205)
    }

    .desktop\:minh-3 {
        min-height: var(--usa-spacing-3)
    }

    .desktop\:minh-4 {
        min-height: var(--usa-spacing-4)
    }

    .desktop\:minh-5 {
        min-height: var(--usa-spacing-5)
    }

    .desktop\:minh-6 {
        min-height: var(--usa-spacing-6)
    }

    .desktop\:minh-7 {
        min-height: var(--usa-spacing-7)
    }

    .desktop\:minh-8 {
        min-height: var(--usa-spacing-8)
    }

    .desktop\:minh-9 {
        min-height: var(--usa-spacing-9)
    }

    .desktop\:minh-10 {
        min-height: var(--usa-spacing-10)
    }

    .desktop\:minh-15 {
        min-height: var(--usa-spacing-15)
    }

    .desktop\:minh-card {
        min-height: var(--usa-spacing-card)
    }

    .desktop\:minh-card-lg {
        min-height: var(--usa-spacing-card-lg)
    }

    .desktop\:minh-mobile {
        min-height: var(--usa-spacing-mobile)
    }

    .desktop\:minh-mobile-lg {
        min-height: var(--usa-spacing-mobile-lg)
    }

    .desktop\:minh-tablet {
        min-height: var(--usa-spacing-tablet)
    }

    .desktop\:minh-tablet-lg {
        min-height: var(--usa-spacing-tablet-lg)
    }

    .desktop\:minh-0 {
        min-height: var(--usa-spacing-0)
    }

    .desktop\:minh-full {
        min-height: var(--usa-spacing-full)
    }

    .desktop\:minh-viewport {
        min-height: 100vh;
    }

    .desktop\:minw-05 {
        min-width: var(--usa-spacing-05)
    }

    .desktop\:minw-1 {
        min-width: var(--usa-spacing-1)
    }

    .desktop\:minw-105 {
        min-width: var(--usa-spacing-105)
    }

    .desktop\:minw-2 {
        min-width: var(--usa-spacing-2)
    }

    .desktop\:minw-205 {
        min-width: var(--usa-spacing-205)
    }

    .desktop\:minw-3 {
        min-width: var(--usa-spacing-3)
    }

    .desktop\:minw-4 {
        min-width: var(--usa-spacing-4)
    }

    .desktop\:minw-5 {
        min-width: var(--usa-spacing-5)
    }

    .desktop\:minw-6 {
        min-width: var(--usa-spacing-6)
    }

    .desktop\:minw-7 {
        min-width: var(--usa-spacing-7)
    }

    .desktop\:minw-8 {
        min-width: var(--usa-spacing-8)
    }

    .desktop\:minw-9 {
        min-width: var(--usa-spacing-9)
    }

    .desktop\:minw-10 {
        min-width: var(--usa-spacing-10)
    }

    .desktop\:minw-15 {
        min-width: var(--usa-spacing-15)
    }

    .desktop\:minw-0 {
        min-width: var(--usa-spacing-0)
    }

    .desktop\:width-1px {
        width: var(--usa-spacing-1px)
    }

    .desktop\:width-2px {
        width: var(--usa-spacing-2px)
    }

    .desktop\:width-05 {
        width: var(--usa-spacing-05)
    }

    .desktop\:width-1 {
        width: var(--usa-spacing-1)
    }

    .desktop\:width-105 {
        width: var(--usa-spacing-105)
    }

    .desktop\:width-2 {
        width: var(--usa-spacing-2)
    }

    .desktop\:width-205 {
        width: var(--usa-spacing-205)
    }

    .desktop\:width-3 {
        width: var(--usa-spacing-3)
    }

    .desktop\:width-4 {
        width: var(--usa-spacing-4)
    }

    .desktop\:width-5 {
        width: var(--usa-spacing-5)
    }

    .desktop\:width-6 {
        width: var(--usa-spacing-6)
    }

    .desktop\:width-7 {
        width: var(--usa-spacing-7)
    }

    .desktop\:width-8 {
        width: var(--usa-spacing-8)
    }

    .desktop\:width-9 {
        width: var(--usa-spacing-9)
    }

    .desktop\:width-10 {
        width: var(--usa-spacing-10)
    }

    .desktop\:width-15 {
        width: var(--usa-spacing-15)
    }

    .desktop\:width-card {
        width: var(--usa-spacing-card)
    }

    .desktop\:width-card-lg {
        width: var(--usa-spacing-card-lg)
    }

    .desktop\:width-mobile {
        width: var(--usa-spacing-mobile)
    }

    .desktop\:width-mobile-lg {
        width: var(--usa-spacing-mobile-lg)
    }

    .desktop\:width-tablet {
        width: var(--usa-spacing-tablet)
    }

    .desktop\:width-tablet-lg {
        width: var(--usa-spacing-tablet-lg)
    }

    .desktop\:width-desktop {
        width: var(--usa-spacing-desktop)
    }

    .desktop\:width-desktop-lg {
        width: var(--usa-spacing-desktop-lg)
    }

    .desktop\:width-widescreen {
        width: var(--usa-spacing-widescreen)
    }

    .desktop\:width-0 {
        width: var(--usa-spacing-0)
    }

    .desktop\:width-full {
        width: var(--usa-spacing-full)
    }

    .desktop\:width-auto {
        width: var(--usa-spacing-auto)
    }

}
