.gap-0 {
    gap: var(--usa-spacing-0);
}

.gap-1px {
    gap: var(--usa-spacing-1px);
}

.gap-2px {
    gap: var(--usa-spacing-2px);
}

.gap-05, .gap-sm {
    gap: var(--usa-spacing-05);
}

.gap, .gap-1 {
    gap: var(--usa-spacing-1);
}

.gap-105, .gap-md {
    gap: var(--usa-spacing-105);
}

.gap-2, .gap-lg {
    gap: var(--usa-spacing-2);
}

.gap-205 {
    gap: var(--usa-spacing-205);
}

.gap-3 {
    gap: var(--usa-spacing-3);
}

.gap-4 {
    gap: var(--usa-spacing-4);
}

.gap-5 {
    gap: var(--usa-spacing-5);
}

.gap-6 {
    gap: var(--usa-spacing-6);
}
