:root {
    --usa-spacing-base: calc(var(--usa-font-settings-size-base) / 2);
    --usa-spacing-none: none;
    --usa-spacing-auto: auto;

    --usa-site-margins-mobile-width: var(--usa-spacing-2);
    --usa-site-margins-width: var(--usa-spacing-4);
    --usa-site-margins-breakpoint: var(--usa-spacing-desktop);

    --usa-spacing-neg-15: calc(var(--usa-spacing-base) * -15);
    --usa-spacing-neg-10: calc(var(--usa-spacing-base) * -10);
    --usa-spacing-neg-9: calc(var(--usa-spacing-base) * -9);
    --usa-spacing-neg-8: calc(var(--usa-spacing-base) * -8);
    --usa-spacing-neg-7: calc(var(--usa-spacing-base) * -7);
    --usa-spacing-neg-6: calc(var(--usa-spacing-base) * -6);
    --usa-spacing-neg-5: calc(var(--usa-spacing-base) * -5);
    --usa-spacing-neg-4: calc(var(--usa-spacing-base) * -4);
    --usa-spacing-neg-3: calc(var(--usa-spacing-base) * -3);
    --usa-spacing-neg-205: calc(var(--usa-spacing-base) * -2.5);
    --usa-spacing-neg-2: calc(var(--usa-spacing-base) * -2);
    --usa-spacing-neg-105: calc(var(--usa-spacing-base) * -1.5);
    --usa-spacing-neg-1: calc(var(--usa-spacing-base) * -1);
    --usa-spacing-neg-05: calc(var(--usa-spacing-base) * -.5);
    --usa-spacing-neg-2px: calc(var(--usa-spacing-base) * .25 * -1);
    --usa-spacing-neg-1px: calc(var(--usa-spacing-base) * .125 * -1);
    --usa-spacing-0: 0;
    --usa-spacing-1px: calc(var(--usa-spacing-base) * .125);
    --usa-spacing-2px: calc(var(--usa-spacing-base) * .25);
    --usa-spacing-05: calc(var(--usa-spacing-base) * .5);
    --usa-spacing-1: var(--usa-spacing-base);
    --usa-spacing-105: calc(var(--usa-spacing-base) * 1.5);
    --usa-spacing-2: calc(var(--usa-spacing-base) * 2);
    --usa-spacing-205: calc(var(--usa-spacing-base) * 2.5);
    --usa-spacing-3: calc(var(--usa-spacing-base) * 3);
    --usa-spacing-4: calc(var(--usa-spacing-base) * 4);
    --usa-spacing-5: calc(var(--usa-spacing-base) * 5);
    --usa-spacing-6: calc(var(--usa-spacing-base) * 6);
    --usa-spacing-7: calc(var(--usa-spacing-base) * 7);
    --usa-spacing-8: calc(var(--usa-spacing-base) * 8);
    --usa-spacing-9: calc(var(--usa-spacing-base) * 9);
    --usa-spacing-10: calc(var(--usa-spacing-base) * 10);
    --usa-spacing-15: calc(var(--usa-spacing-base) * 15);
    --usa-spacing-card: calc(var(--usa-spacing-base) * 20);
    --usa-spacing-card-lg: calc(var(--usa-spacing-base) * 30);
    --usa-spacing-mobile: calc(var(--usa-spacing-base) * 40);
    --usa-spacing-mobile-lg: calc(var(--usa-spacing-base) * 60);
    --usa-spacing-tablet: calc(var(--usa-spacing-base) * 80);
    --usa-spacing-tablet-lg: calc(var(--usa-spacing-base) * 110);
    --usa-spacing-desktop: calc(var(--usa-spacing-base) * 128);
    --usa-spacing-desktop-lg: calc(var(--usa-spacing-base) * 150);
    --usa-spacing-widescreen: calc(var(--usa-spacing-base) * 175);

    --usa-z-index-bottom: -100;
    --usa-z-index-top: 99999;
    --usa-z-index-auto: auto;
    --usa-z-index-500: 500;
    --usa-z-index-400: 400;
    --usa-z-index-300: 300;
    --usa-z-index-200: 200;
    --usa-z-index-100: 100;
    --usa-z-index-0: 0;
  
    --usa-order-last: last;
    --usa-order-first: first;
    --usa-order-initial: initial;
    --usa-order-11: 11;
    --usa-order-10: 10;
    --usa-order-9: 9;
    --usa-order-8: 8;
    --usa-order-7: 7;
    --usa-order-6: 6;
    --usa-order-5: 5;
    --usa-order-4: 4;
    --usa-order-3: 3;
    --usa-order-2: 2;
    --usa-order-1: 1;

}