:root {
  --usa-base-0: f;
  --usa-base-1: o;
  --usa-base-2: n;
  --usa-base-3: t;
  --usa-base-4: -;
  --usa-base-5: w;
  --usa-base-6: e;
  --usa-base-7: i;
  --usa-base-8: g;
  --usa-base-9: h;
  --usa-base-10: t;

}