:root {
--usa-primary-lightest: var(--usa-color-blue-5);
--usa-primary-lighter: var(--usa-color-indigo-cool-10);
--usa-primary-light: var(--usa-color-indigo-cool-30);
--usa-primary-base: var(--usa-color-indigo-cool-vivid-60);
--usa-primary-vivid: var(--usa-color-indigo-cool-vivid-60);
--usa-primary-dark: var(--usa-color-indigo-cool-vivid-70);
--usa-primary-darker: var(--usa-color-indigo-warm-vivid-80);
--usa-primary-darkest: var(--usa-body-ink);
--usa-accent-cool-lightest: var(--usa-color-mint-cool-5);
--usa-accent-cool-lighter: var(--usa-color-mint-cool-vivid-5);
--usa-accent-cool-light: var(--usa-color-mint-cool-vivid-20);
--usa-accent-cool-base: #0D538C;
--usa-accent-cool-dark: var(--usa-color-mint-cool-vivid-40);
--usa-accent-cool-darker: var(--usa-color-mint-cool-vivid-60);
--usa-accent-cool-darkest: var(--usa-color-mint-cool-vivid-80);
--usa-button-text-transform: none;
--usa-button-color: var(--usa-white);
--usa-button-color-hover: var(--usa-white);
--usa-button-color-active: var(--usa-white);
--usa-button-background: var(--usa-primary);
--usa-button-background-hover: var(--usa-primary-dark);
--usa-button-background-active: var(--usa-primary-darker);
--usa-button-inverse-color: var(--usa-link-reverse-color);
--usa-button-inverse-hover-color: var(--usa-link-reverse-hover-color);
--usa-button-inverse-active-color: var(--usa-link-reverse-active-color);
--usa-button-font-family: var(--usa-font-ui);
--usa-button-font-size: var(--usa-font-size-sm);
--usa-button-line-height: var(--usa-line-height-3);
--usa-button-lg-font-size: var(--usa-font-size-md);
--usa-button-font-weight: var(--usa-font-weight-bold);
--usa-button-border-radius: var(--usa-border-radius-md);
--usa-button-lg-border-radius: var(--usa-border-radius-md);
--usa-button-small-width: var(--usa-spacing-6);
--usa-button-stroke-width: var(--usa-border-width-2px);
--usa-button-outline-offset: var(--usa-focus-offset);
--usa-button-padding-x: var(--usa-spacing-205);
--usa-button-padding-y: var(--usa-spacing-105);
--usa-button-lg-padding-x: var(--usa-spacing-205);
--usa-button-lg-padding-y: var(--usa-spacing-105);
--usa-button-margin-right: var(--usa-spacing-0);
--usa-button-icon-size: var(--usa-spacing-3);
--usa-button-lg-icon-size: var(--usa-spacing-4);
--usa-button-outline-background: var(--usa-transparent);
--usa-button-outline-background-hover: var(--usa-transparent);
--usa-button-outline-background-active: var(--usa-transparent);
--usa-button-outline-color: var(--usa-primary);
--usa-button-outline-hover-color: var(--usa-primary-dark);
--usa-button-outline-active-color: var(--usa-primary-darker);
--usa-button-outline-border-color: var(--usa-primary);
--usa-button-outline-border-hover-color: var(--usa-primary-dark);
--usa-button-outline-border-active-color: var(--usa-primary-darker);
--usa-font-size-3xs: clamp(calc(12px * 0.925 * var(--a11y-font-size-modifier)), calc(calc(12px * 0.925 * var(--a11y-font-size-modifier)) + .23vw), calc(12px * 1.075 * var(--a11y-font-size-modifier)));
--usa-font-size-2xs: clamp(calc(12px * 0.925 * var(--a11y-font-size-modifier)), calc(calc(12px * 0.925 * var(--a11y-font-size-modifier)) + .23vw), calc(12px * 1.075 * var(--a11y-font-size-modifier)));
--usa-font-size-xs: clamp(calc(14px * 0.925 * var(--a11y-font-size-modifier)), calc(calc(14px * 0.925 * var(--a11y-font-size-modifier)) + .23vw), calc(14px * 1.075 * var(--a11y-font-size-modifier)));
--usa-font-size-sm: clamp(calc(16px * 0.925 * var(--a11y-font-size-modifier)), calc(calc(16px * 0.925 * var(--a11y-font-size-modifier)) + .23vw), calc(16px * 1.075 * var(--a11y-font-size-modifier)));
--usa-font-size-md: clamp(calc(17.8px * 0.925 * var(--a11y-font-size-modifier)), calc(calc(17.8px * 0.925 * var(--a11y-font-size-modifier)) + .23vw), calc(17.8px * 1.075 * var(--a11y-font-size-modifier)));
--usa-font-size-lg: clamp(calc(19.5px * 0.925 * var(--a11y-font-size-modifier)), calc(calc(19.5px * 0.925 * var(--a11y-font-size-modifier)) + .23vw), calc(19.5px * 1.075 * var(--a11y-font-size-modifier)));
--usa-font-size-xl: clamp(calc(23.8px * 0.925 * var(--a11y-font-size-modifier)), calc(calc(23.8px * 0.925 * var(--a11y-font-size-modifier)) + .23vw), calc(23.8px * 1.075 * var(--a11y-font-size-modifier)));
--usa-font-size-2xl: clamp(calc(31.5px * 0.925 * var(--a11y-font-size-modifier)), calc(calc(31.5px * 0.925 * var(--a11y-font-size-modifier)) + .23vw), calc(31.5px * 1.075 * var(--a11y-font-size-modifier)));
--usa-font-size-3xl: clamp(calc(51px * 0.925 * var(--a11y-font-size-modifier)), calc(calc(51px * 0.925 * var(--a11y-font-size-modifier)) + .23vw), calc(51px * 1.075 * var(--a11y-font-size-modifier)));
--usa-line-height-1: calc(100% * var(--a11y-line-height-modifier));
--usa-line-height-2: calc(110% * var(--a11y-line-height-modifier));
--usa-line-height-3: calc(125% * var(--a11y-line-height-modifier));
--usa-line-height-4: calc(140% * var(--a11y-line-height-modifier));
--usa-line-height-5: calc(150% * var(--a11y-line-height-modifier));
--usa-line-height-6: calc(175% * var(--a11y-line-height-modifier));
--usa-font-sans: 'Public Sans Web', Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
--usa-font-serif: Merriweather Web, Georgia, Cambria, Times New Roman, Times, serif;
--usa-font-mono: 'Roboto Mono Web', "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
--usa-font-heading: var(--usa-font-sans);
--usa-font-ui: var(--usa-font-sans);
--usa-font-code: var(--usa-font-mono);
--usa-font-alt: var(--usa-font-serif);
--usa-font-prose: var(--usa-font-sans);
--usa-body-font-size: var(--usa-font-size-sm);
--usa-body-font-family: var(--usa-font-sans);
--usa-body-font-weight: var(--usa-font-weight-medium);
--usa-body-font-line-height: var(--usa-line-height-5);
--usa-body-font-letter-spacing: var(--usa-letter-spacing-1);
--usa-body-font-paragraph-spacing: var(--usa-spacing-205);
--usa-body-font-list-spacing: var(--usa-spacing-105);
--usa-h1-font-size: var(--usa-font-size-3xl);
--usa-h1-font-family: var(--usa-font-heading);
--usa-h1-font-weight: var(--usa-font-weight-bold);
--usa-h1-font-line-height: var(--usa-line-height-3);
--usa-h1-font-letter-spacing: var(--usa-letter-spacing-neg-2);
--usa-h1-font-paragraph-spacing: var(--usa-spacing-205);
--usa-h2-font-size: var(--usa-font-size-2xl);
--usa-h2-font-family: var(--usa-font-heading);
--usa-h2-font-weight: var(--usa-font-weight-bold);
--usa-h2-font-line-height: var(--usa-line-height-3);
--usa-h2-font-letter-spacing: var(--usa-letter-spacing-1);
--usa-h2-font-paragraph-spacing: var(--usa-spacing-2);
--usa-h3-font-size: var(--usa-font-size-xl);
--usa-h3-font-family: var(--usa-font-heading);
--usa-h3-font-weight: var(--usa-font-weight-bold);
--usa-h3-font-line-height: var(--usa-line-height-3);
--usa-h3-font-letter-spacing: var(--usa-letter-spacing-1);
--usa-h3-font-paragraph-spacing: var(--usa-spacing-1);
--usa-h4-font-size: var(--usa-font-size-lg);
--usa-h4-font-family: var(--usa-font-heading);
--usa-h4-font-weight: var(--usa-font-weight-bold);
--usa-h4-font-line-height: var(--usa-line-height-3);
--usa-h4-font-letter-spacing: var(--usa-letter-spacing-1);
--usa-h4-font-paragraph-spacing: var(--usa-spacing-1);
--usa-h5-font-size: var(--usa-font-size-md);
--usa-h5-font-family: var(--usa-font-heading);
--usa-h5-font-weight: var(--usa-font-weight-bold);
--usa-h5-font-line-height: var(--usa-line-height-3);
--usa-h5-font-letter-spacing: var(--usa-letter-spacing-1);
--usa-h5-font-paragraph-spacing: var(--usa-spacing-105);
--usa-h6-font-size: var(--usa-font-size-sm);
--usa-h6-font-family: var(--usa-font-sans);
--usa-h6-font-weight: var(--usa-font-weight-bold);
--usa-h6-font-line-height: var(--usa-line-height-3);
--usa-h6-font-letter-spacing: var(--usa-letter-spacing-2);
--usa-h6-font-text-transform: uppercase;
--usa-h6-font-paragraph-spacing: var(--usa-spacing-05);
--usa-letter-spacing-0: 0em;
--usa-letter-spacing-1: calc(0.025em * var(--a11y-letter-spacing-modifier));
--usa-letter-spacing-2: calc(0.1em * var(--a11y-letter-spacing-modifier));
--usa-letter-spacing-3: calc(0.15em * var(--a11y-letter-spacing-modifier));
--usa-letter-spacing-neg-3: calc(-0.03em * var(--a11y-letter-spacing-modifier));
--usa-letter-spacing-neg-2: calc(-0.02em * var(--a11y-letter-spacing-modifier));
--usa-letter-spacing-neg-1: calc(-0.01em * var(--a11y-letter-spacing-modifier));
--usa-letter-spacing-auto: initial;
--usa-lead-font-size: var(--usa-font-size-lg);
--usa-lead-font-family: var(--usa-body-font-family);
--usa-lead-font-weight: var(--usa-font-weight-medium);
--usa-lead-font-line-height: var(--usa-line-height-3);
--usa-lead-font-letter-spacing: var(--usa-letter-spacing-0);
--usa-lead-font-max-width: var(--usa-measure-base);
--usa-lead-font-paragraph-spacing: var(--usa-spacing-3);
--usa-body-background: var(--usa-color-gray-2);
--usa-body-ink: var(--usa-base-darkest);
--usa-input-icon-size: var(--usa-spacing-3);
--usa-input-font-family: var(--usa-font-sans);
--usa-input-font-size: var(--usa-body-font-size);
--usa-input-font-weight: var(--usa-font-weight-normal);
--usa-input-line-height: var(--usa-line-height-4);
--usa-input-letter-spacing: var(--usa-body-font-letter-spacing);
--usa-input-height: var(--usa-spacing-5);
--usa-input-select-icon: url(/assets/usa-icons/unfold_more.svg);
--usa-input-select-icon-size: var(--usa-spacing-205);
--usa-input-select-icon-color: var(--usa-base-light);
--usa-input-max-width: var(--usa-spacing-mobile-lg);
--usa-input-margin-top: var(--usa-spacing-1);
--usa-input-padding-x: var(--usa-spacing-1);
--usa-input-padding-y: var(--usa-spacing-05);
--usa-input-large-height: var(--usa-spacing-6);
--usa-input-border-width: var(--usa-border-width-1px);
--usa-input-border-color: var(--usa-black);
--usa-input-border-color-hover: var(--usa-ink);
--usa-input-color: var(--usa-ink);
--usa-input-placeholder-color: var(--usa-base);
--usa-input-background-color: var(--usa-white);
--usa-input-border-radius: var(--usa-border-radius-0);
--usa-input-search-min-width: 27ch;
--usa-input-disabled-border-color: var(--usa-disabled-light);
--usa-input-disabled-border-color-hover: var(--usa-input-disabled-border-color);
--usa-input-disabled-color: var(--usa-disabled);
--usa-input-disabled-background-color: var(--usa-disabled-lighter);
--usa-input-label-font-size: var(--usa-body-font-size);
--usa-input-label-font-family: var(--usa-body-font-family);
--usa-input-label-font-weight: var(--usa-body-font-weight);
--usa-input-label-color: var(--usa-ink);
--usa-input-label-line-height: var(--usa-body-font-line-height);
--usa-input-label-letter-spacing: var(--usa-body-font-letter-spacing);
--usa-input-label-margin-bottom: var(--usa-spacing-05);
--usa-input-label-margin-top: var(--usa-spacing-2);
--usa-base-lightest: var(--usa-color-gray-5);
--usa-base-lighter: var(--usa-color-gray-cool-10);
--usa-base-light: var(--usa-color-gray-cool-30);
--usa-base-base: var(--usa-color-gray-cool-50);
--usa-base-dark: var(--usa-color-gray-cool-60);
--usa-base-darker: var(--usa-color-gray-cool-70);
--usa-base-darkest: var(--usa-color-gray-90);
--usa-info-lighter: #E9F6FC;
--usa-info-light: #C2E7F7;
--usa-info-base: #0D538C;
--usa-info-dark: var(--usa-color-cyan-vivid-40);
--usa-info-darker: var(--usa-color-blue-cool-60);
--usa-border-radius-0: var(--usa-spacing-0);
--usa-border-radius-sm: var(--usa-spacing-2px);
--usa-border-radius-md: var(--usa-spacing-05);
--usa-border-radius-lg: var(--usa-spacing-2);
--usa-border-radius-pill: var(--usa-spacing-tablet);
--usa-border-color-lighter: var(--usa-base-lighter);
--usa-border-color-light: var(--usa-base-light);
--usa-border-color-base: var(--usa-base);
--usa-border-color-dark: var(--usa-base-dark);
--usa-border-color-darker: var(--usa-base-darker);
--usa-border-width-0: var(--usa-spacing-0);
--usa-border-width-sm: var(--usa-spacing-1px);
--usa-border-width-md: var(--usa-spacing-2px);
--usa-border-width-lg: var(--usa-spacing-05);
--usa-color-black: black;
--usa-color-white: white;
--usa-color-red: #e52207;
--usa-color-red-warm: var(--usa-color-red-warm-40);
--usa-color-orange: #e66f0e;
--usa-color-orange-warm: var(--usa-color-orange-warm-40);
--usa-color-gold: #ffbe2e;
--usa-color-yellow: #FFDD11;
--usa-color-green-warm: var(--usa-color-green-warm-40);
--usa-color-green: #538200;
--usa-color-green-cool: var(--usa-color-green-cool-40);
--usa-color-mint: #04c585;
--usa-color-mint-cool: var(--usa-color-mint-cool-40);
--usa-color-cyan: var(--usa-color-cyan-vivid-20);
--usa-color-blue: #0076d6;
--usa-color-blue-warm: var(--usa-color-blue-warm-40);
--usa-color-indigo-cool: var(--usa-color-indigo-cool-40);
--usa-color-indigo: #676cc8;
--usa-color-indigo-warm: var(--usa-color-indigo-warm-40);
--usa-color-violet: #8168b3;
--usa-color-violet-warm: var(--usa-color-violet-warm-40);
--usa-color-magenta: #d72d79;
--usa-color-gray-cool: var(--usa-color-gray-cool-40);
--usa-color-gray: gray;
--usa-spacing-0: 0;
--usa-spacing-1: calc(8px * var(--a11y-spacing-modifier));
--usa-spacing-2: calc(16px * var(--a11y-spacing-modifier));
--usa-spacing-3: calc(24px * var(--a11y-spacing-modifier));
--usa-spacing-4: calc(32px * var(--a11y-spacing-modifier));
--usa-spacing-5: calc(40px * var(--a11y-spacing-modifier));
--usa-spacing-6: calc(48px * var(--a11y-spacing-modifier));
--usa-spacing-7: calc(56px * var(--a11y-spacing-modifier));
--usa-spacing-8: calc(64px * var(--a11y-spacing-modifier));
--usa-spacing-9: calc(72px * var(--a11y-spacing-modifier));
--usa-spacing-10: calc(80px * var(--a11y-spacing-modifier));
--usa-spacing-15: calc(120px * var(--a11y-spacing-modifier));
--usa-spacing-105: calc(12px * var(--a11y-spacing-modifier));
--usa-spacing-205: calc(20px * var(--a11y-spacing-modifier));
--usa-spacing-neg-15: calc(-120px * var(--a11y-spacing-modifier));
--usa-spacing-neg-10: calc(-80px * var(--a11y-spacing-modifier));
--usa-spacing-neg-9: calc(-72px * var(--a11y-spacing-modifier));
--usa-spacing-neg-8: calc(-64px * var(--a11y-spacing-modifier));
--usa-spacing-neg-7: calc(-56px * var(--a11y-spacing-modifier));
--usa-spacing-neg-6: calc(-48px * var(--a11y-spacing-modifier));
--usa-spacing-neg-5: calc(-40px * var(--a11y-spacing-modifier));
--usa-spacing-neg-4: calc(-32px * var(--a11y-spacing-modifier));
--usa-spacing-neg-3: calc(-24px * var(--a11y-spacing-modifier));
--usa-spacing-neg-205: calc(-20px * var(--a11y-spacing-modifier));
--usa-spacing-neg-2: calc(-16px * var(--a11y-spacing-modifier));
--usa-spacing-neg-105: calc(-12px * var(--a11y-spacing-modifier));
--usa-spacing-neg-1: calc(-8px * var(--a11y-spacing-modifier));
--usa-spacing-neg-05: calc(-4px * var(--a11y-spacing-modifier));
--usa-spacing-neg-2px: calc(-2px * var(--a11y-spacing-modifier));
--usa-spacing-neg-1px: calc(-1px * var(--a11y-spacing-modifier));
--usa-spacing-1px: calc(1px * var(--a11y-spacing-modifier));
--usa-spacing-2px: calc(2px * var(--a11y-spacing-modifier));
--usa-spacing-05: calc(4px * var(--a11y-spacing-modifier));
--usa-spacing-card: calc(160px * var(--a11y-spacing-modifier));
--usa-spacing-card-lg: calc(240px * var(--a11y-spacing-modifier));
--usa-spacing-mobile: calc(320px * var(--a11y-spacing-modifier));
--usa-spacing-mobile-lg: calc(480px * var(--a11y-spacing-modifier));
--usa-spacing-tablet: calc(640px * var(--a11y-spacing-modifier));
--usa-spacing-tablet-lg: calc(880px * var(--a11y-spacing-modifier));
--usa-spacing-desktop: calc(1024px * var(--a11y-spacing-modifier));
--usa-spacing-desktop-lg: calc(1200px * var(--a11y-spacing-modifier));
--usa-spacing-widescreen: calc(1400px * var(--a11y-spacing-modifier));
--usa-modal-background-color: var(--usa-accent-cool-base);
--usa-modal-footer-margin-top: var(--usa-spacing-3);
--usa-modal-close-icon-hover-color: var(--usa-white);
--usa-modal-close-icon-color: var(--usa-white);
--usa-modal-close-icon-size: var(--usa-spacing-3);
--usa-modal-lg-max-width: var(--usa-spacing-widescreen);
--usa-modal-lg-content-max-width: var(--usa-spacing-widescreen);
--usa-modal-default-max-width: var(--usa-spacing-tablet-lg);
--usa-modal-large-padding-x: var(--usa-spacing-0);
--usa-modal-large-padding-y: var(--usa-spacing-0);
--usa-modal-padding-x: var(--usa-spacing-205);
--usa-modal-padding-y: var(--usa-spacing-2);
--usa-modal-border-width: var(--usa-spacing-0);
--usa-modal-border-color: var(--usa-base-lighter);
--usa-modal-text-color: var(--usa-ink);
--usa-modal-border-radius: var(--usa-border-radius-lg);
--usa-modal-overlay-background-color: var(--usa-color-black-transparent-70);
--usa-link-reverse-active-color: var(--usa-white);
--usa-link-visited-color: var(--usa-violet-vivid-70);
--usa-link-reverse-hover-color: var(--usa-base-lightest);
--usa-link-reverse-color: var(--usa-base-lighter);
--usa-link-active-color: var(--usa-primary-darker);
--usa-link-hover-color: var(--usa-primary-dark);
--usa-link-color: var(--usa-primary-base);
--usa-link-focus-offset: var(--usa-spacing-0);

}