@use "uswds-core" as *;
@use "../../../uswds-core/src/styles/css-vars/utilities/functions" as *;

.usa-legend {
  // @include typeset(
  //   $theme-form-font-family,
  //   $theme-body-font-size,
  //   $theme-input-line-height
  // );
  font-family: cssVar(form-font-family);
  font-size: cssVar(font-size-body);
  line-height: cssVar(input-line-height);
  display: block;
  // font-weight: font-weight("normal");
  font-weight: cssVar(font-weight-normal);
  // margin-top: units(3);
  margin-top: cssVar(spacing-3);
  // max-width: units($theme-input-max-width);
  max-width: cssVar(input-max-width);
}

.usa-legend--large {
  // font-size: font-size($theme-form-font-family, "xl");
  font-size: cssVar(font-size-xl);
  // font-weight: font-weight("bold");
  font-weight: cssVar(font-weight-bold);
  // margin-top: units(2);
  margin-top: cssVar(spacing-2);
}
