<h3 class="site-preview-heading">Default breadcrumb</h3>
<nav class="usa-breadcrumb" aria-label="Breadcrumbs,,">
  <ol class="usa-breadcrumb__list">
    <li class="usa-breadcrumb__list-item">
      <a href="" class="usa-breadcrumb__link"><span>Home</span></a>
    </li>
    <li class="usa-breadcrumb__list-item">
      <a href="" class="usa-breadcrumb__link"
        ><span>Federal Contracting</span></a
      >
    </li>
    <li class="usa-breadcrumb__list-item">
      <a href="" class="usa-breadcrumb__link"
        ><span>Contracting assistance programs</span></a
      >
    </li>
    <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
      <span
        >Economically disadvantaged women-owned small business federal
        contracting program</span
      >
    </li>
  </ol>
</nav>

<h3 class="site-preview-heading">Breadcrumb with RDFa metadata</h3>
<nav class="usa-breadcrumb" aria-label="Breadcrumbs">
  <ol
    vocab="http://schema.org/"
    typeof="BreadcrumbList"
    class="usa-breadcrumb__list"
  >
    <li
      property="itemListElement"
      typeof="ListItem"
      class="usa-breadcrumb__list-item"
    >
      <a
        property="item"
        typeof="WebPage"
        href="javascript:void(0);"
        class="usa-breadcrumb__link"
        ><span property="name">Home</span></a
      ><meta property="position" content="1" />
    </li>
    <li
      property="itemListElement"
      typeof="ListItem"
      class="usa-breadcrumb__list-item"
    >
      <a
        property="item"
        typeof="WebPage"
        href="javascript:void(0);"
        class="usa-breadcrumb__link"
        ><span property="name">Federal Contracting</span></a
      ><meta property="position" content="2" />
    </li>
    <li
      property="itemListElement"
      typeof="ListItem"
      class="usa-breadcrumb__list-item"
    >
      <a
        property="item"
        typeof="WebPage"
        href="javascript:void(0);"
        class="usa-breadcrumb__link"
        ><span property="name">Contracting assistance programs</span></a
      ><meta property="position" content="3" />
    </li>
    <li
      property="itemListElement"
      typeof="ListItem"
      class="usa-breadcrumb__list-item usa-current"
      aria-current="page"
    >
      <span property="name"
        >Women-owned small business federal contracting program</span
      ><meta property="position" content="4" />
    </li>
  </ol>
</nav>

<h3 class="site-preview-heading">Wrapping breadcrumb</h3>
<nav class="usa-breadcrumb usa-breadcrumb--wrap" aria-label="Breadcrumbs,,,">
  <ol class="usa-breadcrumb__list">
    <li class="usa-breadcrumb__list-item">
      <a href="" class="usa-breadcrumb__link"><span>Home</span></a>
    </li>
    <li class="usa-breadcrumb__list-item">
      <a href="" class="usa-breadcrumb__link"
        ><span>Federal Contracting</span></a
      >
    </li>
    <li class="usa-breadcrumb__list-item">
      <a href="" class="usa-breadcrumb__link"
        ><span>Contracting assistance programs</span></a
      >
    </li>
    <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
      <span
        >Economically disadvantaged women-owned small business federal
        contracting program</span
      >
    </li>
  </ol>
</nav>