[data-a11y-layout="mobile"] {

  .accessibility-layout, .accessibility-layout.display-flex.flex-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }

  .accessibility-margin-left-0 {
    margin-left:0;
  }

  .accessibility-layout > *, .accessibility-layout.display-flex.flex-row > * {
    flex:1;
    flex-basis: 100%;
  }

}
