html[data-a11y-color-theme="dark"] {
    --usa-primary-lightest: var(--usa-color-indigo-5);
    --usa-primary-lighter: var(--usa-color-indigo-10);
    --usa-primary-light: var(--usa-color-indigo-vivid-20);
    --usa-primary-base: var(--usa-color-indigo-30);
    --usa-primary-vivid: var(--usa-color-indigo-vivid-60);
    --usa-primary-dark: var(--usa-color-indigo-50);
    --usa-primary-darker: var(--usa-color-indigo-60);
    --usa-primary-darkest: var(--usa-color-indigo-warm-80);
    --usa-alert-bar-color: var(--usa-base);
    --usa-alert-background-color: var(--usa-base-darker);
    --usa-alert-text-color: var(--usa-base-ink);
    --usa-alert-icon-color: var(--usa-base-ink);
    --usa-alert-link-color: var(--usa-link-color);
    --usa-alert-bar-color-info: var(--usa-info);
    --usa-alert-background-color-info: var(--usa-info-darker);
    --usa-alert-text-color-info: var(--usa-white);
    --usa-alert-icon-color-info: var(--usa-info);
    --usa-alert-link-color-info: var(--usa-info-lighter);
    --usa-alert-bar-color-warning: var(--usa-warning);
    --usa-alert-background-color-warning: var(--usa-warning-darker);
    --usa-alert-text-color-warning: var(--usa-white);
    --usa-alert-icon-color-warning: var(--usa-warning);
    --usa-alert-link-color-warning: var(--usa-warning-lighter);
    --usa-alert-bar-color-success: var(--usa-success);
    --usa-alert-background-color-success: var(--usa-success-darker);
    --usa-alert-text-color-success: var(--usa-white);
    --usa-alert-icon-color-success: var(--usa-success);
    --usa-alert-link-color-success: var(--usa-success-lighter);
    --usa-alert-bar-color-error: var(--usa-error);
    --usa-alert-background-color-error: var(--usa-error-darker);
    --usa-alert-text-color-error: var(--usa-white);
    --usa-alert-icon-color-error: var(--usa-error);
    --usa-alert-link-color-error: var(--usa-error-lighter);
    --usa-button-color: var(--usa-base-darkest);
    --usa-button-color-hover: var(--usa-button-color);
    --usa-button-color-active: var(--usa-button-color);
    --usa-button-background: var(--usa-primary);
    --usa-button-background-hover: var(--usa-primary-light);
    --usa-button-background-active: var(--usa-primary-light);
    --usa-button-inverse-color: var(--usa-link-reverse-color);
    --usa-button-inverse-hover-color: var(--usa-link-reverse-hover-color);
    --usa-button-inverse-active-color: var(--usa-link-reverse-active-color);
    --usa-button-outline-background: var(--usa-transparent);
    --usa-button-outline-background-hover: var(--usa-transparent);
    --usa-button-outline-background-active: var(--usa-transparent);
    --usa-button-outline-color: var(--usa-primary);
    --usa-button-outline-hover-color: var(--usa-primary-light);
    --usa-button-outline-active-color: var(--usa-primary-light);
    --usa-button-outline-border-color: var(--usa-primary);
    --usa-button-outline-border-hover-color: var(--usa-primary-light);
    --usa-button-outline-border-active-color: var(--usa-primary-light);
    --usa-button-stroke-width: var(--usa-border-width-sm);
    --usa-button-font-weight: var(--usa-font-weight-medium);
    --usa-body-background: var(--usa-base-darkest);
    --usa-body-ink: #fafafa;
    --usa-table-border-width: var(--usa-spacing-2px);
    --usa-table-cell-compact-padding-x: var(--usa-spacing-1);
    --usa-table-cell-compact-padding-y: var(--usa-spacing-05);
    --usa-table-cell-padding-x: var(--usa-spacing-2);
    --usa-table-cell-padding-y: var(--usa-spacing-1);
    --usa-table-unsorted-icon-hover-color: var(--usa-base-dark);
    --usa-table-unsorted-icon-color: var(--usa-base);
    --usa-table-sorted-stripe-background-color: var(--usa-black);
    --usa-table-sorted-background-color: var(--usa-primary-darkest);
    --usa-table-sorted-header-background-color: var(--usa-primary-darkest);
    --usa-table-text-hover-color: var(--usa-base-dark);
    --usa-table-stripe-background-color: var(--usa-black);
    --usa-table-header-background-color: var(--usa-black);
    --usa-table-border-color: var(--usa-base-darker);
    --usa-table-sorted-icon-color: var(--usa-table-text-color);
    --usa-table-sorted-header-text-color: var(--usa-table-text-color);
    --usa-table-text-color: var(--usa-body-ink);
    --usa-table-stripe-text-color: var(--usa-table-text-color);
    --usa-table-header-text-color: var(--usa-table-text-color);
    --usa-table-sorted-text-color: var(--usa-table-text-color);
    --usa-table-font-size: var(--usa-font-size-sm);
    --usa-table-font-family: var(--usa-font-body);
    --usa-table-line-height: var(--usa-line-height-3);
    --usa-table-font-weight: var(--usa-font-weight-normal);
    --usa-table-header-font-size: var(--usa-font-size-md);
    --usa-table-header-font-family: var(--usa-font-body);
    --usa-table-header-font-weight: var(--usa-font-weight-semibold);
    --usa-table-header-line-height: var(--usa-line-height-3);
    --usa-table-margin-y: var(--usa-spacing-205);
    --usa-table-caption-margin-bottom: var(--usa-spacing-105);
    --usa-table-caption-font-size: var(--usa-font-size-xs);
    --usa-table-caption-font-family: var(--usa-font-body);
    --usa-table-caption-font-weight: var(--usa-font-weight-bold);
    --usa-table-caption-text-align: left;
    --usa-table-caption-line-height: var(--usa-line-height-3);
    --usa-input-border-color: var(--usa-border-color-lighter);
    --usa-input-border-color-hover: var(--usa-border-color-base);
    --usa-input-color: var(--usa-ink);
    --usa-input-placeholder-color: var(--usa-base-light);
    --usa-input-background-color: var(--usa-black);
    --usa-input-disabled-border-color: var(--usa-disabled-dark);
    --usa-input-disabled-border-color-hover: var(--usa-input-disabled-border-color);
    --usa-input-disabled-color: var(--usa-disabled);
    --usa-input-disabled-background-color: var(--usa-disabled-lighter);
    --usa-input-label-color: var(--usa-base-lighter);
    --usa-input-select-caret-color: var(--usa-input-color);
    --usa-base-lightest: var(--usa-color-gray-warm-5);
    --usa-base-lighter: var(--usa-color-gray-warm-10);
    --usa-base-light: var(--usa-color-gray-warm-30);
    --usa-base-base: var(--usa-color-gray-warm-50);
    --usa-base-dark: var(--usa-color-gray-warm-60);
    --usa-base-darker: var(--usa-color-gray-warm-70);
    --usa-base-darkest: var(--usa-color-gray-warm-90);
    --usa-success-lighter: var(--usa-color-green-warm-5);
    --usa-success-light: var(--usa-color-green-warm-vivid-20);
    --usa-success-base: var(--usa-color-green-warm-vivid-40);
    --usa-success-dark: var(--usa-color-green-warm-vivid-50);
    --usa-success-darker: var(--usa-color-green-warm-vivid-70);
    --usa-warning-lighter: var(--usa-color-yellow-5);
    --usa-warning-light: var(--usa-color-yellow-10);
    --usa-warning-base: var(--usa-color-gold-20);
    --usa-warning-dark: var(--usa-color-gold-40);
    --usa-warning-darker: var(--usa-color-gold-60);
    --usa-error-lighter: var(--usa-color-red-warm-10);
    --usa-error-light: var(--usa-color-red-warm-20);
    --usa-error-base: var(--usa-color-red-warm-vivid-30);
    --usa-error-dark: var(--usa-color-red-warm-60);
    --usa-error-darker: var(--usa-color-red-warm-vivid-70);
    --usa-border-color-lighter: var(--usa-base-lighter);
    --usa-border-color-light: var(--usa-base);
    --usa-border-color-base: var(--usa-base);
    --usa-border-color-dark: var(--usa-base-darkest);
    --usa-border-color-darker: var(--usa-black);
    --usa-sidenav-item-font-weight-current: var(--usa-font-weight-semibold);
    --usa-sidenav-item-background: var(--usa-black);
    --usa-sidenav-item-background-hover: var(--usa-black);
    --usa-sidenav-border-color: var(--usa-base-darker);
    --usa-sidenav-item-border-color: var(--usa-base-darkest);
    --usa-sidenav-item-color: var(--usa-ink);
    --usa-sidenav-item-color-hover: var(--usa-primary-light);
    --usa-sidenav-item-color-current: var(--usa-primary-light);
    --usa-sidenav-item-current-indicator-color: var(--usa-primary-light);
    --usa-breadcrumb-link-visited-color: var(--usa-primary-light);
    --usa-link-visited-color: var(--usa-primary-lighter);
    --usa-link-active-color: var(--usa-primary);
    --usa-link-hover-color: var(--usa-primary);
    --usa-link-color: var(--usa-primary-light);
    --usa-radio-tile-checked-background-color: var(--usa-primary-darkest);
    --usa-card-background-color: var(--usa-black);
    --usa-card-border-color: var(--usa-base-darker);
    --usa-accordion-background-color: var(--usa-body-background);

    --usa-accordion-content-color: var(--usa-ink);
    --usa-accordion-border-color: var(--usa-black);
    --usa-accordion-button-background: var(--usa-black);
    --usa-accordion-button-color: var(--usa-primary-light);
    --usa-accordion-button-active-background: var(--usa-black);
    --usa-accordion-button-active-color: var(--usa-primary-light);
    --usa-accordion-button-hover-background: var(--usa-black);
    --usa-accordion-button-hover-color: var(--usa-primary-lighter);

    --usa-disabled: var(--usa-base-dark);
    --usa-disabled-lighter: var(--usa-base-dark);
    --usa-disabled-light: var(--usa-base-dark);
    --usa-disabled-lightest: var(--usa-base-darker);

    --usa-combo-box-option-hover-background-color: var(--usa-primary-darkest);

    --usa-modal-background-color: var(--usa-base-darkest);
    --usa-modal-border-color: var(--usa-base-darker);

    article.data-rep-wrapper {
        --dr-container-background: var(--usa-black);
        --dr-action-bar-item-hover-background: var(--usa-base-darkest);
        --dr-plain-language-background: var(--usa-primary-darkest);
        --dr-series-percentage-background:var(--usa-primary-darkest);
        --dr-container-border-color: var(--usa-base-darker);

    }

    article.modal {
        --dr-table-stripe-background: var(--usa-black);
        --dr-table-header-background: var(--usa-black);
        --dr-modal-close-button-color: var(--usa-base-lighter);
        --dr-modal-close-button-hover-background:var(--usa-black);
    }

    .bg-accent-warm-lighter {
        background-color: var(--usa-accent-warm-darker);
    }

    .usa-banner {
        --usa-banner-background: var(--usa-black);
    }

    .usa-hint {
        color: var(--usa-base-light);
    }


    .usa-select, .usa-combo-box__toggle-list {
        /* background-image: url(../../../assets/unfold.svg), linear-gradient(transparent, transparent); */
    }

    .adapt-expandable-list-item {
        --adapt-expandable-list-item-background: var(--usa-base-darkest);
        --usa-accordion-border-color: var(--usa-base-darker);

        .text-base {
            color: var(--usa-base-lighter);
        }

        .usa-tag {
            background-color: var(--usa-base-light);
            color: var(--usa-black);
        }
    }


    aside.display-flex {

        .site-nav {

            &.active-nav {
                color: var(--usa-button-color);
                background-color: var(--usa-primary);
                font-weight: var(--usa-font-weight-semibold);
            }

            &:hover {
                color: var(--usa-primary-lightest);
                background-color: var(--usa-primary-darker);
                text-decoration: none;
            }
        }
    }


    .bg-info-lighter {
        background-color: var(--usa-info-darker);
    }

    .bg-base-lightest {
        background-color: var(--usa-base-darkest);
    }


    .usa-hero__callout,
    .usa-section--dark {
        background-color: var(--usa-primary-darkest);
    }

    .usa-footer__secondary-section,
    .usa-footer__primary-section,
    .bg-white {
        background-color: var(--usa-black);
    }

    .border-base-lighter {
        border-color: var(--usa-base-darker);
    }

}