@use "sass:list";
@use "../../functions"as *;
@use "../../css-vars/utilities/functions"as *;

// Outputs line-height

@mixin u-line-height($value...) {
  $value: unpack($value);
  $important: null;

  @if has-important($value) {
    $value: remove($value, "!important");

    @if list.length($value)==1 {
      $value: de-list($value);
    }

    $important: " !important";
  }
  $family: list.nth($value, 1);
  $scale: list.nth($value, 2);

  // Check to see if the value it a token or a string
  // If token, then we need to add 'usa-line-height' prefix, otherwise pass it straight in
  // Best way i can think to do that right now is to check and see if the value contains the word 'line-height', if not it's a pre-established USWDS var
  $scale: #{$scale};

  @if not str-index($scale, "line-height") {
    $scale: "line-height-"+ strip-period($scale);
  }


  // line-height: lh($family, $scale) #{$important};
  line-height: cssVar($scale);
}