<a class="usa-skipnav" href="#main-content">Skip to main content</a>

<div class="usa-overlay"></div>
<header class="usa-header margin-top-3 usa-header--extended">
  <div class="usa-navbar">
    <div class="usa-logo">
      <em class="usa-logo__text"><a href="/" title="Mark's Super Neat Site">US/AEM/WDS</a></em>
    </div>
    <button type="button" class="usa-menu-btn">Menu</button>
  </div>
  <nav aria-label="Primary navigation" class="usa-nav">
    <div class="usa-nav__inner">
      <button type="button" class="usa-nav__close">
        <img src="/assets/usa-icons/close.svg" role="img" alt="Close" />
      </button>
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <a routerLink="components" routerLinkActive="usa-current" class="usa-nav-link">
            <span>
              Components
            </span>
          </a>
        </li>
        <li class="usa-nav__primary-item">
          <a routerLink="core" routerLinkActive="usa-current" class="usa-nav-link">
            <span>
              Core
            </span>
          </a>
        </li>
      </ul>
      <div class="usa-nav__secondary">
        <ul class="usa-nav__secondary-links"></ul>
        <section aria-label="Search component">
          <form class="usa-search usa-search--small" role="search">
            <label class="usa-sr-only" for="search-field">Search</label>
            <input class="usa-input" id="search-field" type="search" name="search" />
            <button class="usa-button" type="submit">
              <img src="/assets/usa-icons-bg/search--white.svg" class="usa-search__submit-icon" alt="Search" />
            </button>
          </form>
        </section>
      </div>
    </div>
  </nav>
</header>
<div class="grid-container">

  <router-outlet></router-outlet>
  <div class="usa-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="display-flex flex-column gap-2 desktop:grid-col-2">
          <div class="display-flex flex-column gap-1">
            <h5>Font size</h5>
            <button class="usa-button usa-button--outline" (click)="setA11y('font-size', 'default')">Default</button>
            <button class="usa-button usa-button--outline" (click)="setA11y('font-size','large')">Large</button>
            <button class="usa-button usa-button--outline" (click)="setA11y('font-size','larger')">Larger</button>
            <button class="usa-button usa-button--outline" (click)="setA11y('font-size','largest')">Largest</button>
          </div>
          <div class="display-flex flex-column margin-top-1 gap-1">
            <h5>Readability</h5>
            <button class="usa-button usa-button--outline" (click)="setA11y('line-height', 'default')">Default</button>
            <button class="usa-button usa-button--outline" (click)="setA11y('line-height','large')">Large</button>
            <button class="usa-button usa-button--outline" (click)="setA11y('line-height','larger')">Larger</button>
            <button class="usa-button usa-button--outline" (click)="setA11y('line-height','largest')">Largest</button>
          </div>
          <div class="display-flex flex-column margin-top-1 gap-1">
            <h5>Font family</h5>
            <button class="usa-button usa-button--outline" (click)="setA11y('font-family', 'default')">Default</button>
            <button class="usa-button usa-button--outline" (click)="setA11y('font-family','dyslexic')">Dyslexia
              friendly</button>
            <button class="usa-button usa-button--outline" (click)="setA11y('font-family','mono')">Monospace</button>
          </div>
        </div>
        <main class="display-flex flex-column usa-prose desktop:grid-col-9 usa-layout-docs" id="main-content">
          <h1>Page heading (h1)</h1>
          <p class="usa-intro usa-lead">
            The page heading communicates the main focus of the page. Make your
            page heading descriptive and keep it succinct.
          </p>
          <h2 id="section-heading-h2">Section heading (h2)</h2>
          <p>
            These headings introduce, respectively, sections and subsections
            within your body copy. As you create these headings, follow the same
            guidelines that you use when writing section headings: Be succinct,
            descriptive, and precise.
          </p>
          <h3 id="section-heading-h3">Subsection heading (h3)</h3>
          <p>
            The particulars of your body copy will be determined by the topic of
            your page. Regardless of topic, it’s a good practice to follow the
            inverted pyramid structure when writing copy: Begin with the
            information that’s most important to your users and then present
            information of less importance.
          </p>
          <p>
            Keep each section and subsection focused — a good approach is to
            include one theme (topic) per section.
          </p>
          <h4 id="section-heading-h4">Subsection heading (h4)</h4>
          <p>
            Use the side navigation menu to help your users quickly skip to
            different sections of your page. The menu is best suited to
            displaying a hierarchy with one to three levels and, as we
            mentioned, to display the sub-navigation of a given page.
          </p>
          <p>
            Read the full documentation on our side navigation on the component
            page.
          </p>
          <h5 id="section-heading-h5">Heading (h5)</h5>
          <h6 id="section-heading-h6">Heading (h6)</h6>
          <form class="usa-form usa-form--large">
            <fieldset class="usa-fieldset">
              <legend class="usa-legend usa-legend--large">Mailing address</legend>
              <p>
                Required fields are marked with an asterisk (<abbr title="required"
                  class="usa-hint usa-hint--required">*</abbr>).
              </p>
              <label class="usa-label" for="mailing-address-1">Street address</label>
              <input class="usa-input" id="mailing-address-1" name="mailing-address-1"
                placeholder="Street address..." />
              <label class="usa-label" for="mailing-address-2">Street address line 2</label>
              <input class="usa-input" id="mailing-address-2" name="mailing-address-2" />
              <label class="usa-label" for="city">City
                <abbr title="required" class="usa-hint usa-hint--required">*</abbr></label>
              <input class="usa-input" id="city" name="city" required />
              <label class="usa-label" for="state">State, territory, or military post
                <abbr title="required" class="usa-hint usa-hint--required">*</abbr></label>
              <select class="usa-select" id="state" name="state">
                <option value>- Select -</option>
                <option value="AL">AL - Alabama</option>
                <option value="AK">AK - Alaska</option>
                <option value="AS">AS - American Samoa</option>
                <option value="AZ">AZ - Arizona</option>
                <option value="AR">AR - Arkansas</option>
                <option value="CA">CA - California</option>
                <option value="CO">CO - Colorado</option>
                <option value="CT">CT - Connecticut</option>
                <option value="DE">DE - Delaware</option>
                <option value="DC">DC - District of Columbia</option>
                <option value="FL">FL - Florida</option>
                <option value="GA">GA - Georgia</option>
                <option value="GU">GU - Guam</option>
                <option value="HI">HI - Hawaii</option>
                <option value="ID">ID - Idaho</option>
                <option value="IL">IL - Illinois</option>
                <option value="IN">IN - Indiana</option>
                <option value="IA">IA - Iowa</option>
                <option value="KS">KS - Kansas</option>
                <option value="KY">KY - Kentucky</option>
                <option value="LA">LA - Louisiana</option>
                <option value="ME">ME - Maine</option>
                <option value="MD">MD - Maryland</option>
                <option value="MA">MA - Massachusetts</option>
                <option value="MI">MI - Michigan</option>
                <option value="MN">MN - Minnesota</option>
                <option value="MS">MS - Mississippi</option>
                <option value="MO">MO - Missouri</option>
                <option value="MT">MT - Montana</option>
                <option value="NE">NE - Nebraska</option>
                <option value="NV">NV - Nevada</option>
                <option value="NH">NH - New Hampshire</option>
                <option value="NJ">NJ - New Jersey</option>
                <option value="NM">NM - New Mexico</option>
                <option value="NY">NY - New York</option>
                <option value="NC">NC - North Carolina</option>
                <option value="ND">ND - North Dakota</option>
                <option value="MP">MP - Northern Mariana Islands</option>
                <option value="OH">OH - Ohio</option>
                <option value="OK">OK - Oklahoma</option>
                <option value="OR">OR - Oregon</option>
                <option value="PA">PA - Pennsylvania</option>
                <option value="PR">PR - Puerto Rico</option>
                <option value="RI">RI - Rhode Island</option>
                <option value="SC">SC - South Carolina</option>
                <option value="SD">SD - South Dakota</option>
                <option value="TN">TN - Tennessee</option>
                <option value="TX">TX - Texas</option>
                <option value="UM">UM - United States Minor Outlying Islands</option>
                <option value="UT">UT - Utah</option>
                <option value="VT">VT - Vermont</option>
                <option value="VI">VI - Virgin Islands</option>
                <option value="VA">VA - Virginia</option>
                <option value="WA">WA - Washington</option>
                <option value="WV">WV - West Virginia</option>
                <option value="WI">WI - Wisconsin</option>
                <option value="WY">WY - Wyoming</option>
                <option value="AA">AA - Armed Forces Americas</option>
                <option value="AE">AE - Armed Forces Africa</option>
                <option value="AE">AE - Armed Forces Canada</option>
                <option value="AE">AE - Armed Forces Europe</option>
                <option value="AE">AE - Armed Forces Middle East</option>
                <option value="AP">AP - Armed Forces Pacific</option>
              </select>
              <label class="usa-label" for="zip">ZIP code</label>
              <input class="usa-input usa-input--medium" id="zip" name="zip" pattern="[\d]{5}(-[\d]{4})?" />
              <label class="usa-label" for="urbanization">Urbanization (Puerto Rico only)</label>
              <input class="usa-input" id="urbanization" name="urbanization" />
            </fieldset>
          </form>
          <div class="usa-accordion margin-top-10">
            <h4 class="usa-accordion__heading">
              <button type="button" class="usa-accordion__button" aria-expanded="true" aria-controls="a1">
                First Amendment
              </button>
            </h4>
            <div id="a1" class="usa-accordion__content usa-prose">
              <p>
                Congress shall make no law respecting an establishment of religion, or
                prohibiting the free exercise thereof; or abridging the freedom of speech,
                or of the press; or the right of the people peaceably to assemble, and to
                petition the Government for a redress of grievances.
              </p>
            </div>
            <h4 class="usa-accordion__heading">
              <button type="button" class="usa-accordion__button" aria-expanded="false" aria-controls="a2">
                Second Amendment
              </button>
            </h4>
            <div id="a2" class="usa-accordion__content usa-prose">
              <p>
                A well regulated Militia, being necessary to the security of a free State,
                the right of the people to keep and bear Arms, shall not be infringed.
              </p>
              <ul>
                <li>This is a list item</li>
                <li>Another list item</li>
              </ul>
            </div>
            <h4 class="usa-accordion__heading">
              <button type="button" class="usa-accordion__button" aria-expanded="false" aria-controls="a3">
                Third Amendment
              </button>
            </h4>
            <div id="a3" class="usa-accordion__content usa-prose">
              <p>
                No Soldier shall, in time of peace be quartered in any house, without the
                consent of the Owner, nor in time of war, but in a manner to be prescribed
                by law.
              </p>
            </div>
            <h4 class="usa-accordion__heading">
              <button type="button" class="usa-accordion__button" aria-expanded="false" aria-controls="a4">
                Fourth Amendment
              </button>
            </h4>
            <div id="a4" class="usa-accordion__content usa-prose">
              <p>
                The right of the people to be secure in their persons, houses, papers, and
                effects, against unreasonable searches and seizures, shall not be
                violated, and no Warrants shall issue, but upon probable cause, supported
                by Oath or affirmation, and particularly describing the place to be
                searched, and the persons or things to be seized.
              </p>
            </div>
            <h4 class="usa-accordion__heading">
              <button type="button" class="usa-accordion__button" aria-expanded="false" aria-controls="a5">
                Fifth Amendment
              </button>
            </h4>
            <div id="a5" class="usa-accordion__content usa-prose">
              <p>
                No person shall be held to answer for a capital, or otherwise infamous
                crime, unless on a presentment or indictment of a Grand Jury, except in
                cases arising in the land or naval forces, or in the Militia, when in
                actual service in time of War or public danger; nor shall any person be
                subject for the same offence to be twice put in jeopardy of life or limb;
                nor shall be compelled in any criminal case to be a witness against
                himself, nor be deprived of life, liberty, or property, without due
                process of law; nor shall private property be taken for public use,
                without just compensation.
              </p>
            </div>
          </div>

          <div class="usa-accordion margin-top-2 usa-accordion--bordered">
            <h4 class="usa-accordion__heading">
              <button type="button" class="usa-accordion__button" aria-expanded="true" aria-controls="b-a1">
                First Amendment
              </button>
            </h4>
            <div id="b-a1" class="usa-accordion__content usa-prose">
              <p>
                Congress shall make no law respecting an establishment of religion, or
                prohibiting the free exercise thereof; or abridging the freedom of speech,
                or of the press; or the right of the people peaceably to assemble, and to
                petition the Government for a redress of grievances.
              </p>
            </div>
            <h4 class="usa-accordion__heading">
              <button type="button" class="usa-accordion__button" aria-expanded="false" aria-controls="b-a2">
                Second Amendment
              </button>
            </h4>
            <div id="b-a2" class="usa-accordion__content usa-prose">
              <p>
                A well regulated Militia, being necessary to the security of a free State,
                the right of the people to keep and bear Arms, shall not be infringed.
              </p>
              <ul>
                <li>This is a list item</li>
                <li>Another list item</li>
              </ul>
            </div>
            <h4 class="usa-accordion__heading">
              <button type="button" class="usa-accordion__button" aria-expanded="false" aria-controls="b-a3">
                Third Amendment
              </button>
            </h4>
            <div id="b-a3" class="usa-accordion__content usa-prose">
              <p>
                No Soldier shall, in time of peace be quartered in any house, without the
                consent of the Owner, nor in time of war, but in a manner to be prescribed
                by law.
              </p>
            </div>
            <h4 class="usa-accordion__heading">
              <button type="button" class="usa-accordion__button" aria-expanded="false" aria-controls="b-a4">
                Fourth Amendment
              </button>
            </h4>
            <div id="b-a4" class="usa-accordion__content usa-prose">
              <p>
                The right of the people to be secure in their persons, houses, papers, and
                effects, against unreasonable searches and seizures, shall not be
                violated, and no Warrants shall issue, but upon probable cause, supported
                by Oath or affirmation, and particularly describing the place to be
                searched, and the persons or things to be seized.
              </p>
            </div>
            <h4 class="usa-accordion__heading">
              <button type="button" class="usa-accordion__button" aria-expanded="false" aria-controls="b-a5">
                Fifth Amendment
              </button>
            </h4>
            <div id="b-a5" class="usa-accordion__content usa-prose">
              <p>
                No person shall be held to answer for a capital, or otherwise infamous
                crime, unless on a presentment or indictment of a Grand Jury, except in
                cases arising in the land or naval forces, or in the Militia, when in
                actual service in time of War or public danger; nor shall any person be
                subject for the same offence to be twice put in jeopardy of life or limb;
                nor shall be compelled in any criminal case to be a witness against
                himself, nor be deprived of life, liberty, or property, without due
                process of law; nor shall private property be taken for public use,
                without just compensation.
              </p>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>

</div>
<footer class="usa-footer">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer__primary-section">
    <nav class="usa-footer__nav" aria-label="Footer navigation">
      <ul class="grid-row grid-gap">
        <li class="
              mobile-lg:grid-col-4
              desktop:grid-col-auto
              usa-footer__primary-content
            ">
          <a class="usa-footer__primary-link" href="javascript:void(0);">&lt;Primary link&gt;</a>
        </li>
        <li class="
              mobile-lg:grid-col-4
              desktop:grid-col-auto
              usa-footer__primary-content
            ">
          <a class="usa-footer__primary-link" href="javascript:void(0);">&lt;Primary link&gt;</a>
        </li>
        <li class="
              mobile-lg:grid-col-4
              desktop:grid-col-auto
              usa-footer__primary-content
            ">
          <a class="usa-footer__primary-link" href="javascript:void(0);">&lt;Primary link&gt;</a>
        </li>
        <li class="
              mobile-lg:grid-col-4
              desktop:grid-col-auto
              usa-footer__primary-content
            ">
          <a class="usa-footer__primary-link" href="javascript:void(0);">&lt;Primary link&gt;</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="
              usa-footer__logo
              grid-row
              mobile-lg:grid-col-6 mobile-lg:grid-gap-2
            ">
          <div class="mobile-lg:grid-col-auto">
            <img class="usa-footer__logo-img" src="/assets/logo-img.png" alt="" />
          </div>
          <div class="mobile-lg:grid-col-auto">
            <p class="usa-footer__logo-heading">&lt;Name of Agency&gt;</p>
          </div>
        </div>
        <div class="usa-footer__contact-links mobile-lg:grid-col-6">
          <div class="usa-footer__social-links grid-row grid-gap-1">
            <div class="grid-col-auto">
              <a class="usa-social-link" href="javascript:void(0);"><img class="usa-social-link__icon"
                  src="/assets/usa-icons/facebook.svg" alt="Facebook" /></a>
            </div>
            <div class="grid-col-auto">
              <a class="usa-social-link" href="javascript:void(0);"><img class="usa-social-link__icon"
                  src="/assets/usa-icons/twitter.svg" alt="Twitter" /></a>
            </div>
            <div class="grid-col-auto">
              <a class="usa-social-link" href="javascript:void(0);"><img class="usa-social-link__icon"
                  src="/assets/usa-icons/youtube.svg" alt="YouTube" /></a>
            </div>
            <div class="grid-col-auto">
              <a class="usa-social-link" href="javascript:void(0);"><img class="usa-social-link__icon"
                  src="/assets/usa-icons/instagram.svg" alt="Instagram" /></a>
            </div>
            <div class="grid-col-auto">
              <a class="usa-social-link" href="javascript:void(0);"><img class="usa-social-link__icon"
                  src="/assets/usa-icons/rss_feed.svg" alt="RSS" /></a>
            </div>
          </div>
          <p class="usa-footer__contact-heading">
            &lt;Agency Contact Center&gt;
          </p>
          <address class="usa-footer__address">
            <div class="usa-footer__contact-info grid-row grid-gap">
              <div class="grid-col-auto">
                <a href="tel:1-800-555-5555">&lt;(800) 555-GOVT&gt;</a>
              </div>
              <div class="grid-col-auto">
                <a href="mailto:info@agency.gov">&lt;info@agency.gov&gt;</a>
              </div>
            </div>
          </address>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="usa-identifier">
  <section class="usa-identifier__section usa-identifier__section--masthead" aria-label="Agency identifier">
    <div class="usa-identifier__container">
      <div class="usa-identifier__logos">
        <a href="javascript:void(0)" class="usa-identifier__logo"><img class="usa-identifier__logo-img"
            src="/assets/circle-gray-20.svg" alt="&lt;Parent agency&gt; logo" role="img" /></a>
      </div>
      <section class="usa-identifier__identity" aria-label="Agency description">
        <p class="usa-identifier__identity-domain">domain.gov</p>
        <p class="usa-identifier__identity-disclaimer">
          An official website of the <a href="">&lt;Parent agency&gt;</a>
        </p>
      </section>
    </div>
  </section>
  <nav class="usa-identifier__section usa-identifier__section--required-links" aria-label="Important links">
    <div class="usa-identifier__container">
      <ul class="usa-identifier__required-links-list">
        <li class="usa-identifier__required-links-item">
          <a href="javascript:void(0)" class="usa-identifier__required-link usa-link">About &lt;Parent shortname&gt;</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="" class="usa-identifier__required-link usa-link">Accessibility support</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="" class="usa-identifier__required-link usa-link">FOIA requests</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="" class="usa-identifier__required-link usa-link">No FEAR Act data</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="" class="usa-identifier__required-link usa-link">Office of the Inspector General</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="" class="usa-identifier__required-link usa-link">Performance reports</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="" class="usa-identifier__required-link usa-link">Privacy policy</a>
        </li>
      </ul>
    </div>
  </nav>
  <section class="usa-identifier__section usa-identifier__section--usagov"
    aria-label="U.S. government information and services">
    <div class="usa-identifier__container">
      <div class="usa-identifier__usagov-description">
        Looking for U.S. government information and services?
      </div>
      <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
    </div>
  </section>
</div>
<section
  class="display-flex gap-105 width-full padding-0 position-fixed top-0 z-100 bg-body flex-align-center border-bottom-2px border-base-lighter flex-justify-center">
  <ul class="usa-button-group"
    style="--usa-button-padding-y:var(--usa-spacing-2px);--usa-button-padding-x:var(--usa-spacing-1)">
    <li class="usa-button-group__item" *ngFor="let theme of availableThemes">
      <button type="button"
        [ngClass]="{'usa-primary': currentTheme === theme, 'usa-button--outline': currentTheme !== theme}"
        (click)="setTheme(theme)" class="usa-button text-capitalize">{{theme}}</button>
    </li>
  </ul>

</section>