:root {
    --usa-border-width-0: 0;
    --usa-border-width-1px: var(--usa-sizing-1px);
    --usa-border-width-2px: var(--usa-sizing-2px);
    --usa-border-width-05: var(--usa-sizing-05);
    --usa-border-width-1: var(--usa-sizing-1);
    --usa-border-width-105: var(--usa-sizing-105);
    --usa-border-width-2: var(--usa-sizing-2);
    --usa-border-width-205: var(--usa-sizing-205);
    --usa-border-width-3: var(--usa-sizing-3);
    --usa-border-width-sm: var(--usa-sizing-1px);
    --usa-border-width-md: var(--usa-sizing-2px);
    --usa-border-width-lg: var(--usa-sizing-05);
}