:root {
    --usa-border-radius-0: 0;
    --usa-border-radius-sm: var(--usa-spacing-2px);
    --usa-border-radius-md: var(--usa-spacing-05);
    --usa-border-radius-lg: var(--usa-spacing-1);
    --usa-border-radius-pill: 99rem;
    --usa-border-radius-1px: var(--usa-spacing-1px);
    --usa-border-radius-2px: var(--usa-spacing-2px);
    --usa-border-radius-05: var(--usa-spacing-05);
    --usa-border-radius-1: var(--usa-spacing-1);
    --usa-border-radius-105: var(--usa-spacing-105);
    --usa-border-radius-2: var(--usa-spacing-2);
    --usa-border-radius-205: var(--usa-spacing-205);
    --usa-border-radius-3: var(--usa-spacing-3);
}