<app-token-table label="" [data]="defaultTokenArr"></app-token-table>
<app-token-table label="" type="css" [data]="currentVars"></app-token-table>
<form [formGroup]="tokenForm">
<div class="grid-row grid-gap-2">
  <div *ngFor="let token of currentTokenArr" class="grid-col-12 tablet:grid-col-6">
    <label class="usa-label" [for]="token.name">{{ token.name }}</label>
    <input [id]="token.name" [formControlName]="token.name" class="usa-input">
  </div>
</div>

  <button type="button" class="usa-button margin-top-2" (click)="applyStyles()">Preview styles</button>
  <button type="button" class="usa-button margin-top-2" (click)="resetStyles()">Reset styles</button>
  <button type="button" class="usa-button margin-top-2" (click)="generateNewTokenJSON()">New token object</button>
</form>
<div class="display-flex gap-2 margin-y-4">
  <h4>Heading 4</h4>
</div>