  $assetFilePath: "/assets/";
  $cssVarPrefix: usa;
  
  @import "../src/app/styles/uswds-raw-output";
  @import "../src/app/styles/utilities/normalize";
  @import "../src/app/styles/variables/generated";
  @import "../src/app/styles/variables/typography";
  @import "../src/app/styles/variables/colors";
  @import "../src/app/styles/variables/spacing";
  // @import "../src/app/styles/variables/a11y";
  @import "../src/app/styles/core/uswds-focus";
  @import "../src/app/styles/core/uswds-border-radius";
  @import "../src/app/styles/core/uswds-border-width";
  @import "../src/app/styles/components/uswds-link";
  @import "../src/app/styles/components/uswds-header";
  @import "../src/app/styles/components/uswds-alert";
  @import "../src/app/styles/components/uswds-hero";
  @import "../src/app/styles/components/uswds-card";
  @import "../src/app/styles/components/uswds-accordion";
  @import "../src/app/styles/components/uswds-banner";
  @import "../src/app/styles/components/uswds-breadcrumb";
  @import "../src/app/styles/components/uswds-button";
  @import "../src/app/styles/components/uswds-button-group";
  @import "../src/app/styles/components/uswds-checkbox";
  @import "../src/app/styles/components/uswds-collection";
  @import "../src/app/styles/components/uswds-inputs";
  @import "../src/app/styles/components/uswds-select";
  @import "../src/app/styles/components/uswds-combobox";
  @import "../src/app/styles/components/uswds-file-input";
  @import "../src/app/styles/components/uswds-radio-button";
  @import "../src/app/styles/components/uswds-icon-list";
  @import "../src/app/styles/components/uswds-tag";
  @import "../src/app/styles/components/uswds-modal";
  @import "../src/app/styles/components/uswds-table";
  @import "../src/app/styles/components/uswds-side-navigation";
  @import "../src/app/styles/animations";
  @import "../src/app/styles/typography";
  @import "../src/app/styles/utilities/margin";
  @import "../src/app/styles/utilities/padding";
  @import "../src/app/styles/utilities/display";
  @import "../src/app/styles/utilities/border";
  @import "../src/app/styles/utilities/shadow";
  @import "../src/app/styles/utilities/spacing";
  @import "../src/app/styles/utilities/sizing";
  @import "../src/app/styles/utilities/color";
  @import "../src/app/styles/utilities/typography";

  // @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

  :root {
    --usa-header-max-width: var(--usa-spacing-widescreen);
    --usa-banner-max-width: var(--usa-spacing-widescreen);
  }

  :root {
    --#{$cssVarPrefix}-test-color: #000000; 
  }

  .site-preview-heading, .usa-preview-heading {
    font-size: var(--usa-h6-font-size);
    font-family: var(--usa-h6-font-family);
    font-weight: var(--usa-h6-font-weight);
    letter-spacing: var(--usa-h6-font-letter-spacing);
    line-height: var(--usa-h6-font-line-height);
    margin-bottom: 1rem;
    margin-top: 2rem;
    text-transform: uppercase;
    color: var(--usa-base);
}

.usa-footer__nav, .usa-footer__secondary-section, .usa-identifier {
  --usa-spacing-desktop: var(--usa-spacing-widescreen);
}