adapt-accessibility-widget {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 0px;
    will-change: width;
    // transition: max-width .125s ease-out;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    right: 0;
    top: 0;
    min-width: 0;
    flex-shrink: 0;
    background: var(--a11y-panel-background);

    &.open {
        max-width: max-content;
        min-width: var(--usa-spacing-15);
        border-left: var(--usa-border-width-md) solid var(--usa-border-color-base);

    }

    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: var(--usa-spacing-05);
    }

    --usa-button-font-size: var(--usa-font-size-2xs);
    --usa-button-gap: var(--usa-spacing-0);
    --usa-link-color: var(--usa-white);
    --usa-link-visited-color: var(--usa-white);
    --usa-link-active-color: var(--usa-white);
    --usa-link-hover-color: var(--usa-primary-lighter);
    --usa-button-outline-offset: calc(var(--usa-focus-width) * -1);


}

:root {
    --a11y-font-size-modifier: 1;
    --a11y-line-height-modifier: 1;
    --a11y-letter-spacing-modifier: 1;
    --a11y-spacing-modifier: 1;
    --a11y-button-open-background-color: var(--usa-color-yellow-vivid-10);
    --a11y-button-open-color: var(--usa-ink);
    --a11y-panel-background: var(--usa-primary-dark);
}

button.bg-a11y-active,
.bg-a11y-active {
    background-color: var(--a11y-button-open-background-color);
    --usa-link-color: var(--a11y-button-open-color);
    --usa-link-hover-color: var(--a11y-button-open-color);
    --usa-link-active-color: var(--a11y-button-open-color);
}

[data-a11y-color-theme="dark"] {
    .expandable-list-item {
        --adapt-expandable-list-item-background: var(--usa-base-darker);
        --usa-accordion-border-color: var(--usa-base-darker);

        .usa-accordion__content {
            --usa-white: var(--usa-black);
        }

        .usa-accordion__button {
            --usa-focus-width: 0;
            color: var(--usa-ink);

            .text-base {
                color: var(--usa-base-light);
            }
        }
    }
}

@media (max-width: 39.99em) {
    article#accessibilityCenter {
        max-width: 100%;

    }
}

@media (min-width: 40em) {
    adapt-accessibility-widget {
        position: sticky;
    }
}



@import url('https://fonts.cdnfonts.com/css/open-dyslexic');


[data-a11y-font-family="easy"] {
    --usa-font-sans: 'Open-Dyslexic' !important;
    --usa-font-serif: 'Open-Dyslexic', sans-serif !important;
    --usa-font-mono: 'Open-Dyslexic', sans-serif !important;
    --a11y-line-height-modifier: 1.125;
}

[data-font-family="mono"] {
    --usa-font-sans: var(--usa-font-mono) !important;
    --usa-font-serif: var(--usa-font-mono) !important;
}

html[data-a11y-font-size="default"] {
    --a11y-font-size-modifier: 1;
    --a11y-line-height-modifier: 1;
}

html[data-a11y-font-size="large"] {
    --a11y-font-size-modifier: 1.2;
    --a11y-line-height-modifier: 1.125;
    --a11y-spacing-modifier: 1.125;
}

html[data-a11y-font-size="larger"] {
    --a11y-font-size-modifier: 1.4;
    --a11y-line-height-modifier: 1.125;
    --a11y-spacing-modifier: 1.2;
}

html[data-a11y-font-size="largest"] {
    --a11y-font-size-modifier: 1.6;
    --a11y-line-height-modifier: 1.25;
    --a11y-spacing-modifier: 1.2;

    .accessibility-layout,
    .accessibility-layout.display-flex.flex-row {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    }

    .accessibility-margin-left-0 {
        margin-left: 0;
    }

    .accessibility-layout>*,
    .accessibility-layout.display-flex.flex-row>* {
        flex: 1;
        flex-basis: 100%;
        width: 100%;
    }

    @media (min-width: 40em) {
        .usa-graphic-list .usa-graphic-list__row:last-child .usa-media-block {
            margin-bottom: var(--usa-spacing-8);
        }
    }
}

html[data-a11y-layout="single"] {
    .accessibility-layout,
    .accessibility-layout.display-flex.flex-row {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    }

    .accessibility-margin-left-0 {
        margin-left: 0;
    }

    .accessibility-layout>*,
    .accessibility-layout.usa-card-group>*,
    .accessibility-layout.display-flex.flex-row>* {
        flex: 1;
        flex-basis: 100%;
        width: 100%;
    }

    @media (min-width: 40em) {
        .usa-graphic-list .usa-graphic-list__row:last-child .usa-media-block {
            margin-bottom: var(--usa-spacing-8);
        }
    }

    .accessibility-layout.usa-table thead {
        display: none
    }
    
    .accessibility-layout.usa-table th,
    .accessibility-layout.usa-table td {
        border-bottom-width: 0;
        display: block;
        width: 100%
    }
    
    .accessibility-layout.usa-table tr {
        border-bottom: calc(var(--usa-table-border-width) * 3) solid var(--usa-table-border-color);
        border-top-width: 0;
        display: block;
        width: 100%
    }
    
    .accessibility-layout.usa-table tr th:first-child,
    .accessibility-layout.usa-table tr td:first-child {
        border-top-width: 0
    }
    
    .accessibility-layout.usa-table tr:nth-child(odd) td,
    .accessibility-layout.usa-table tr:nth-child(odd) th {
        // background-color: inherit
    }
    
    .accessibility-layout.usa-table tr:first-child th:first-child,
    .accessibility-layout.usa-table tr:first-child td:first-child {
        border-top: calc(var(--usa-table-border-width) * 2)  solid var(--usa-table-border-color)
    }
    
    .accessibility-layout.usa-table th[data-label],
    .accessibility-layout.usa-table td[data-label] {
        padding-bottom: var(--usa-table-cell-padding-y)
    }
    
    .accessibility-layout.usa-table th[data-label]:before,
    .accessibility-layout.usa-table td[data-label]:before {
        content: attr(data-label);
        display: block;
        font-weight: var(--usa-font-weight-bold);
        font-size: var(--usa-font-size-xs);
        margin: var(--usa-spacing-neg-1) var(--usa-spacing-neg-2) var(--usa-spacing-0);
        padding: var(--usa-table-cell-padding-y) var(--usa-table-cell-padding-x)
    }
    
    .accessibility-layout.usa-table.usa-table--stacked-header thead {
        display: none
    }
    
    .accessibility-layout.usa-table.usa-table--stacked-header th,
    .accessibility-layout.usa-table.usa-table--stacked-header td {
        border-bottom-width: 0;
        display: block;
        width: 100%
    }
    
    .accessibility-layout.usa-table.usa-table--stacked-header tr {
        border-bottom:var(--usa-table-border-width) solid var(--usa-table-border-color);
        border-top-width: 0;
        display: block;
        width: 100%
    }
    
    .accessibility-layout.usa-table.usa-table--stacked-header tr th:first-child,
    .accessibility-layout.usa-table.usa-table--stacked-header tr td:first-child {
        border-top-width: 0
    }
    
    .accessibility-layout.usa-table.usa-table--stacked-header tr:nth-child(odd) td,
    .accessibility-layout.usa-table.usa-table--stacked-header tr:nth-child(odd) th {
        background-color: inherit
    }
    
    .accessibility-layout.usa-table.usa-table--stacked-header tr:first-child th:first-child,
    .accessibility-layout.usa-table.usa-table--stacked-header tr:first-child td:first-child {
        border-top: var(--usa-table-border-width) solid var(--usa-table-border-color)
    }
    
    .accessibility-layout.usa-table.usa-table--stacked-header th[data-label],
    .accessibility-layout.usa-table.usa-table--stacked-header td[data-label] {
        padding-bottom: var(--usa-table-cell-padding-y)
    }
    
    .accessibility-layout.usa-table.usa-table--stacked-header th[data-label]:before,
    .accessibility-layout.usa-table.usa-table--stacked-header td[data-label]:before {
        content: attr(data-label);
        display: block;
        font-weight: var(--usa-font-weight-bold);
        font-size: var(--usa-font-size-xs);
        margin: var(--usa-spacing-neg-1) var(--usa-spacing-neg-2) var(--usa-spacing-0);
        padding: var(--usa-table-cell-padding-y) var(--usa-table-cell-padding-x)
    }
    
    .accessibility-layout.usa-table.usa-table--stacked-header tr td:first-child,
    .accessibility-layout.usa-table.usa-table--stacked-header tr th:first-child {
        font-family: var(--usa-font-body);
        font-size: var(--usa-font-size-h4);
        line-height: var(--usa-line-height-heading);
        background-color: var(--usa-table-border-color);
        color: var(--usa-white);
        font-weight: var(--usa-font-weight-normal);
        padding: var(--usa-table-cell-padding-y) var(--usa-table-cell-padding-x)
    }
    
    .accessibility-layout.usa-table.usa-table--stacked-header tr td:first-child:before,
    .accessibility-layout.usa-table.usa-table--stacked-header tr th:first-child:before {
        display: none
    }
}

// html[data-a11y-line-height="default"] {
//     --a11y-line-height-modifier: 1;
//     --a11y-letter-spacing-modifier: 1;
// }

// html[data-a11y-line-height="large"] {
//     --a11y-line-height-modifier: 1.125;
//     --a11y-letter-spacing-modifier: 2;

// }

// html[data-a11y-line-height="larger"] {
//     --a11y-line-height-modifier: 1.25;
//     --a11y-letter-spacing-modifier: 3;
// }

// html[data-a11y-line-height="largest"] {
//     --a11y-line-height-modifier: 1.4;
//     --a11y-letter-spacing-modifier: 4;
// }

html[data-a11y-preset="low-vision"] {
    --a11y-font-size-modifier: 1.25;
    --a11y-line-height-modifier: 1.25;
    --a11y-letter-spacing-modifier: 2;
    --a11y-spacing-modifier: 1.25;
    --usa-body-background: var(--usa-white);
    --usa-body-ink: var(--usa-black);
    --usa-focus-color: var(--usa-color-mint-vivid-30);

    .accessibility-layout,
    .accessibility-layout.display-flex.flex-row {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    }

    .accessibility-margin-left-0 {
        margin-left: 0;
    }

    .accessibility-layout>*,
    .accessibility-layout.display-flex.flex-row>* {
        flex: 1;
        flex-basis: 100%;
        width: 100%;
    }

    @media (min-width: 40em) {
        .usa-graphic-list .usa-graphic-list__row:last-child .usa-media-block {
            margin-bottom: var(--usa-spacing-8);
        }
    }

}

html[data-a11y-preset="dyslexia"] {
    --a11y-line-height-modifier: 1.175;
    --a11y-letter-spacing-modifier: 2;
    --usa-font-sans: 'Lexend' !important;
    --usa-font-serif: 'Lexend', sans-serif !important;
    --usa-font-mono: 'Lexend', sans-serif !important;

}




html[data-a11y-preset="dark"] {
    --usa-primary-lightest: var(--usa-color-indigo-5);
    --usa-primary-lighter: var(--usa-color-indigo-10);
    --usa-primary-light: var(--usa-color-indigo-vivid-20);
    --usa-primary-base: var(--usa-color-indigo-30);
    --usa-primary-vivid: var(--usa-color-indigo-vivid-60);
    --usa-primary-dark: var(--usa-color-indigo-50);
    --usa-primary-darker: var(--usa-color-indigo-60);
    --usa-primary-darkest: var(--usa-color-indigo-warm-80);
    --usa-alert-bar-color: var(--usa-base);
    --usa-alert-background-color: var(--usa-base-darker);
    --usa-alert-text-color: var(--usa-base-ink);
    --usa-alert-icon-color: var(--usa-base-ink);
    --usa-alert-link-color: var(--usa-link-color);
    --usa-alert-bar-color-info: var(--usa-info);
    --usa-alert-background-color-info: var(--usa-info-darker);
    --usa-alert-text-color-info: var(--usa-white);
    --usa-alert-icon-color-info: var(--usa-info);
    --usa-alert-link-color-info: var(--usa-info-lighter);
    --usa-alert-bar-color-warning: var(--usa-warning);
    --usa-alert-background-color-warning: var(--usa-warning-darker);
    --usa-alert-text-color-warning: var(--usa-white);
    --usa-alert-icon-color-warning: var(--usa-warning);
    --usa-alert-link-color-warning: var(--usa-warning-lighter);
    --usa-alert-bar-color-success: var(--usa-success);
    --usa-alert-background-color-success: var(--usa-success-darker);
    --usa-alert-text-color-success: var(--usa-white);
    --usa-alert-icon-color-success: var(--usa-success);
    --usa-alert-link-color-success: var(--usa-success-lighter);
    --usa-alert-bar-color-error: var(--usa-error);
    --usa-alert-background-color-error: var(--usa-error-darker);
    --usa-alert-text-color-error: var(--usa-white);
    --usa-alert-icon-color-error: var(--usa-error);
    --usa-alert-link-color-error: var(--usa-error-lighter);
    --usa-button-color: var(--usa-base-darkest);
    --usa-button-color-hover: var(--usa-button-color);
    --usa-button-color-active: var(--usa-button-color);
    --usa-button-background: var(--usa-primary);
    --usa-button-background-hover: var(--usa-primary-light);
    --usa-button-background-active: var(--usa-primary-light);
    --usa-button-inverse-color: var(--usa-link-reverse-color);
    --usa-button-inverse-hover-color: var(--usa-link-reverse-hover-color);
    --usa-button-inverse-active-color: var(--usa-link-reverse-active-color);
    --usa-button-outline-background: var(--usa-transparent);
    --usa-button-outline-background-hover: var(--usa-transparent);
    --usa-button-outline-background-active: var(--usa-transparent);
    --usa-button-outline-color: var(--usa-primary);
    --usa-button-outline-hover-color: var(--usa-primary-light);
    --usa-button-outline-active-color: var(--usa-primary-light);
    --usa-button-outline-border-color: var(--usa-primary);
    --usa-button-outline-border-hover-color: var(--usa-primary-light);
    --usa-button-outline-border-active-color: var(--usa-primary-light);
    --usa-button-stroke-width: var(--usa-border-width-sm);
    --usa-button-font-weight: var(--usa-font-weight-medium);
    --usa-body-background: var(--usa-base-darkest);
    --usa-body-ink: #fafafa;
    --usa-table-border-width: var(--usa-spacing-2px);
    --usa-table-cell-compact-padding-x: var(--usa-spacing-1);
    --usa-table-cell-compact-padding-y: var(--usa-spacing-05);
    --usa-table-cell-padding-x: var(--usa-spacing-2);
    --usa-table-cell-padding-y: var(--usa-spacing-1);
    --usa-table-unsorted-icon-hover-color: var(--usa-base-dark);
    --usa-table-unsorted-icon-color: var(--usa-base);
    --usa-table-sorted-stripe-background-color: var(--usa-black);
    --usa-table-sorted-background-color: var(--usa-primary-darkest);
    --usa-table-sorted-header-background-color: var(--usa-primary-darkest);
    --usa-table-text-hover-color: var(--usa-base-dark);
    --usa-table-stripe-background-color: var(--usa-black);
    --usa-table-header-background-color: var(--usa-black);
    --usa-table-border-color: var(--usa-base-darker);
    --usa-table-sorted-icon-color: var(--usa-table-text-color);
    --usa-table-sorted-header-text-color: var(--usa-table-text-color);
    --usa-table-text-color: var(--usa-body-ink);
    --usa-table-stripe-text-color: var(--usa-table-text-color);
    --usa-table-header-text-color: var(--usa-table-text-color);
    --usa-table-sorted-text-color: var(--usa-table-text-color);
    --usa-table-font-size: var(--usa-font-size-sm);
    --usa-table-font-family: var(--usa-font-body);
    --usa-table-line-height: var(--usa-line-height-3);
    --usa-table-font-weight: var(--usa-font-weight-normal);
    --usa-table-header-font-size: var(--usa-font-size-md);
    --usa-table-header-font-family: var(--usa-font-body);
    --usa-table-header-font-weight: var(--usa-font-weight-semibold);
    --usa-table-header-line-height: var(--usa-line-height-3);
    --usa-table-margin-y: var(--usa-spacing-205);
    --usa-table-caption-margin-bottom: var(--usa-spacing-105);
    --usa-table-caption-font-size: var(--usa-font-size-xs);
    --usa-table-caption-font-family: var(--usa-font-body);
    --usa-table-caption-font-weight: var(--usa-font-weight-bold);
    --usa-table-caption-text-align: left;
    --usa-table-caption-line-height: var(--usa-line-height-3);
    --usa-input-border-color: var(--usa-border-color-lighter);
    --usa-input-border-color-hover: var(--usa-border-color-base);
    --usa-input-color: var(--usa-ink);
    --usa-input-placeholder-color: var(--usa-base-light);
    --usa-input-background-color: var(--usa-black);
    --usa-input-disabled-border-color: var(--usa-disabled-dark);
    --usa-input-disabled-border-color-hover: var(--usa-input-disabled-border-color);
    --usa-input-disabled-color: var(--usa-disabled);
    --usa-input-disabled-background-color: var(--usa-disabled-lighter);
    --usa-input-label-color: var(--usa-base-lighter);
    --usa-input-select-caret-color: var(--usa-input-color);
    --usa-base-lightest: var(--usa-color-gray-warm-5);
    --usa-base-lighter: var(--usa-color-gray-warm-10);
    --usa-base-light: var(--usa-color-gray-warm-30);
    --usa-base-base: var(--usa-color-gray-warm-50);
    --usa-base-dark: var(--usa-color-gray-warm-60);
    --usa-base-darker: var(--usa-color-gray-warm-70);
    --usa-base-darkest: var(--usa-color-gray-warm-90);
    --usa-success-lighter: var(--usa-color-green-warm-5);
    --usa-success-light: var(--usa-color-green-warm-vivid-20);
    --usa-success-base: var(--usa-color-green-warm-vivid-40);
    --usa-success-dark: var(--usa-color-green-warm-vivid-50);
    --usa-success-darker: var(--usa-color-green-warm-vivid-70);
    --usa-warning-lighter: var(--usa-color-yellow-5);
    --usa-warning-light: var(--usa-color-yellow-10);
    --usa-warning-base: var(--usa-color-gold-20);
    --usa-warning-dark: var(--usa-color-gold-40);
    --usa-warning-darker: var(--usa-color-gold-60);
    --usa-error-lighter: var(--usa-color-red-warm-10);
    --usa-error-light: var(--usa-color-red-warm-20);
    --usa-error-base: var(--usa-color-red-warm-vivid-30);
    --usa-error-dark: var(--usa-color-red-warm-60);
    --usa-error-darker: var(--usa-color-red-warm-vivid-70);
    --usa-border-color-lighter: var(--usa-base-lighter);
    --usa-border-color-light: var(--usa-base);
    --usa-border-color-base: var(--usa-base);
    --usa-border-color-dark: var(--usa-base-darkest);
    --usa-border-color-darker: var(--usa-black);
    --usa-sidenav-item-font-weight-current: var(--usa-font-weight-semibold);
    --usa-sidenav-item-background: var(--usa-black);
    --usa-sidenav-item-background-hover: var(--usa-black);
    --usa-sidenav-border-color: var(--usa-base-darker);
    --usa-sidenav-item-border-color: var(--usa-base-darkest);
    --usa-sidenav-item-color: var(--usa-ink);
    --usa-sidenav-item-color-hover: var(--usa-primary-light);
    --usa-sidenav-item-color-current: var(--usa-primary-light);
    --usa-sidenav-item-current-indicator-color: var(--usa-primary-light);
    --usa-breadcrumb-link-visited-color: var(--usa-primary-lighter);
    --usa-link-visited-color: var(--usa-primary-light);
    --usa-link-active-color: var(--usa-primary-lighter);
    --usa-link-hover-color: var(--usa-primary-lighter);
    --usa-link-color: var(--usa-primary);
    --usa-radio-tile-checked-background-color: var(--usa-primary);
    --usa-card-background-color: var(--usa-black);
    --usa-card-border-color: var(--usa-base-darker);
    --usa-accordion-background-color: var(--usa-body-background);

    --usa-accordion-content-color: var(--usa-ink);
    --usa-accordion-border-color: var(--usa-black);
    --usa-accordion-button-background: var(--usa-black);
    --usa-accordion-button-color: var(--usa-primary-light);
    --usa-accordion-button-active-background: var(--usa-black);
    --usa-accordion-button-active-color: var(--usa-primary-light);
    --usa-accordion-button-hover-background: var(--usa-black);
    --usa-accordion-button-hover-color: var(--usa-primary-lighter);

    .usa-hero__callout,
    .usa-section--dark {
        background-color: var(--usa-primary-darkest);
    }

    .usa-footer__secondary-section,
    .usa-footer__primary-section {
        background-color: var(--usa-black);
    }
}

html[data-a11y-color-theme="high-contrast"] {

    --high-contrast-background: hsl(308, 50%, 6%);
    --high-contrast-foreground: hsl(49, 90%, 65%);
    --high-contrast-link: var(  --usa-color-cyan-vivid-20);
    --high-contrast-link-hover: var(--usa-color-cyan-vivid-10);
    --high-contrast-link-active: var(--usa-color-cyan-vivid-30);
    --usa-white: #F9F9F9;
    --usa-black: #0a0a0a;

    --a11y-panel-background: var(--usa-black);
    --usa-border-color-lighter: var(--high-contrast-foreground);
    --usa-border-color-light: var(--high-contrast-foreground);
    --usa-border-color-base: var(--high-contrast-foreground);
    --usa-border-color-dark: var(--high-contrast-foreground);
    --usa-border-color-darker: var(--high-contrast-foreground);

    --usa-body-background: var(--high-contrast-background);
    --usa-body-ink:var(--high-contrast-foreground);

    --usa-sidenav-item-background: var(--usa-black);
    --usa-sidenav-item-color-hover: var(--high-contrast-background);

    --usa-header-nav-background-color: var(--usa-black);
    --usa-header-nav-border-color: var(--high-contrast-foreground);
    --usa-header-nav-border-width: var(--usa-border-width-md);

    --usa-input-border-color: var(--usa-white);
    --usa-input-background-color: var(--usa-black);
    --usa-input-border-width: var(--usa-border-width-md);

    --usa-breadcrumb-link-visited-color: var(--high-contrast-link-active);
    --usa-breadcrumb-link-color: var(--high-contrast-link);

    --usa-radio-tile-checked-background-color: var(--usa-input-background-color);

    --usa-focus-color: var(--usa-color-mint-vivid-20);

    --usa-sidenav-text-color: var(--usa-white);
    --usa-sidenav-item-color-hover: var(--high-contrast-link);
    --usa-sidenav-item-color-active: var(--high-contrast-link-hover);
    --usa-sidenav-border-color: var(--high-contrast-foreground);
    --usa-sidenav-item-border-color: var(--high-contrast-foreground);
    --usa-sidenav-item-background:var(--high-contrast-background);
    --usa-sidenav-item-background-active:var(--high-contrast-background);
    --usa-sidenav-item-background-hover: var(--usa-black);
    --usa-sidenav-item-current-indicator-color: var(--usa-focus-color);

    --usa-table-header-background-color: var(--usa-primary);
    --usa-table-header-text-color: var(--usa-black);
    --usa-table-stripe-background-color: var(--usa-primary);
    --usa-table-stripe-text-color: var(--usa-black);
    --usa-table-sorted-header-background-color: var(--usa-accent-cool);
    --usa-table-sorted-header-text-color: var(--usa-black);
    --usa-table-unsorted-icon-color: var(--usa-black);
    --usa-table-sorted-icon-color: var(--usa-black);
    --usa-table-sorted-stripe-text-color: var(--usa-black);
    --usa-table-sorted-text-color: var(--usa-black);
    --usa-table-sorted-stripe-background-color: var(--usa-accent-cool-light);
    --usa-table-sorted-background-color: var(--usa-accent-cool);

    --usa-navigation-link-color: var(--high-contrast-link);
    --usa-navigation-hover-background-color: var(--usa-black);
    --usa-navigation-link-hover-color: var(--high-contrast-link-hover);
    --usa-navigation-active-text-color: var(--high-contrast-link-active);

    --usa-button-color: var(--usa-white);
    --usa-button-color-hover: var(--high-contrast-foreground);
    --usa-button-background: transparent;
    --usa-button-background-hover:transparent;
    --usa-button-background-active:transparent;

    .usa-button, .usa-accordion__button {
        border: var(--usa-button-stroke-width) solid var(--usa-white);
    }


    .usa-identifier {
        background-color: var(--high-contrast-background);
    }

    --usa-accordion-button-background: var(--high-contrast-background);
    --usa-accordion-border-color: var(--usa-white);
    --usa-accordion-button-hover-background: var(--usa-black);
    --usa-accordion-button-active-background: var(--high-contrast-background);
    --usa-accordion-button-color: var(--usa-white);
    --usa-accordion-button-hover-color: var(--high-contrast-link);
    --usa-accordion-border-width:var(--usa-button-stroke-width);
    --usa-accordion-background-color:var(--usa-black);


    --a11y-button-open-background-color: var(--usa-primary);
    --a11y-button-open-color: var(--usa-black);

    --usa-card-background-color: var(--usa-black);
    --usa-card-border-color: var(--high-contrast-foreground);

    --usa-primary-lightest: var(--usa-white);
    --usa-primary-lighter: var(--usa-color-yellow-5);
    --usa-primary-light: var(--usa-color-yellow-10);
    --usa-primary-base: var(--usa-color-yellow-vivid-20);
    --usa-primary-vivid: var(--usa-color-yellow-vivid-40);
    --usa-primary-dark: var(--usa-color-yellow-vivid-60);
    --usa-primary-darker: var(--usa-color-yellow-vivid-80);
    --usa-primary-darkest: var(--high-contrast-background);

    --usa-link-color: var(--high-contrast-link);
    --usa-link-hover-color: var(--high-contrast-link-hover);
    --usa-link-active-color: var(--high-contrast-link-active);
    --usa-link-visited-color:var(--high-contrast-link-active);

    --usa-radio-background-color: var(--usa-input-background-color);
    --usa-radio-border-color: var(--usa-white);
    --usa-radio-label-color: var(--usa-white);

    --usa-radio-tile-label-color: var(--usa-white);

    .usa-radio__input--tile:checked+[class*=__label] {
        --usa-radio-tile-label-color: var(--high-contrast-foreground);
        --usa-radio-checked-background-color: var(--high-contrast-foreground);
        --usa-radio-tile-checked-border-color: var(--high-contrast-foreground);

        &:before {
            --usa-radio-border-width: var(--usa-spacing-05);
            --usa-focus-offset:var(--usa-spacing-1);
        }

    }

    .usa-radio__input:checked+[class*=__label] {
        &:before {
            --usa-radio-border-width: var(--usa-spacing-05);
            --usa-focus-offset:var(--usa-spacing-1);
        }

    }

    --usa-disabled-lighter: var(--usa-color-green-vivid-10);
    --usa-disabled-light: var(--usa-color-green-vivid-30);
    --usa-disabled-base: var(--usa-color-green-vivid-30);
    --usa-disabled-dark: var(--usa-color-green-vivid-50);
    --usa-disabled-darker: var(--usa-color-green-vivid-50);

    .usa-hero__callout {
        --usa-primary-darker: var(--usa-body-background);
        --usa-accent-cool: var(--high-contrast-foreground);
        color: var(--high-contrast-foreground);

        .usa-hero__heading--alt {
            --usa-white: var(--high-contrast-foreground);
        }

    }

    .usa-section--dark {
        --usa-primary-darker: var(--usa-primary);
        --usa-text-reverse-color: var(--high-contrast-foreground);

        h2 {
            --usa-accent-cool: var(--high-contrast-foreground);
        }
    }



    .usa-footer__primary-section {
        background-color: var(--high-contrast-background);
    }

    .usa-footer__secondary-section {
        background-color: var(--usa-black);
    }

    ::selection {
        background: var(--usa-focus-color);
        color: var(--usa-black) !important;
      }
}