<app-token-table [label]="tokenKey" [data]="defaultTokenArr"></app-token-table>
<app-token-table [label]="tokenKey" [colors]="true" type="css" [data]="defaultCSSVars"></app-token-table>
<app-token-form [hostEl]="el" [currentTheme]="currentTheme" [tokenArr]="currentTokenArr" [tokenKey]="tokenKey"></app-token-form>

<div class="display-flex flex-column gap-2px margin-y-4">

  <div class="bg-success-lighter display-flex border-base-lighter padding-2 width-full border-1px radius-sm">
    <p class="bg-body padding-05 border-1px border-base-lighter text-ink width-auto">success lighter</p>
  </div>
  <div class="bg-success-light display-flex border-base-lighter padding-2 width-full border-1px radius-sm">
    <p class="bg-body padding-05 border-1px border-base-lighter text-ink width-auto">success light</p>
  </div>
  <div class="bg-success display-flex border-base-lighter padding-2 width-full border-1px radius-sm">
    <p class="bg-body padding-05 border-1px border-base-lighter text-ink width-auto">success</p>
  </div>
  <div class="bg-success-dark display-flex border-base-lighter padding-2 width-full border-1px radius-sm">
    <p class="bg-body padding-05 border-1px border-base-lighter text-ink width-auto">success dark</p>
  </div>
  <div class="bg-success-darker display-flex border-base-lighter padding-2 width-full border-1px radius-sm">
    <p class="bg-body padding-05 border-1px border-base-lighter text-ink width-auto">success darker</p>
  </div>
</div>
